@model SimDiaRealizacao
@{
    List<SimProva> provas = Model.SimProva.ToList();
}

<i class="icon close"></i>
<div class="header">
    Provas para o Dia "@Model.DtRealizacao.DiaRealizacaoRepresentacao()"
</div>
<div class="content">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Disciplina</th>
                <th>Prof. Responsável</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in provas.Select((prova, i) => new { i, prova }))
            {
                <tr>
                    <td>@(item.i + 1)</td>
                    <td>
                        @item.prova.Titulo
                        @if (item.prova.FlagRedacao)
                        {
                            <div class="ui small label">
                                Redação
                            </div>
                        }
                        <div class="ui small label">
                            Questões
                            <div class="detail">@item.prova.QteQuestoes</div>
                        </div>
                    </td>
                    <td>@item.prova.Disciplina.Descricao</td>
                    <td>
                        @if (item.prova.Professor != null)
                        {
                            @item.prova.Professor.Usuario.PessoaFisica.PrimeiroNome

                        }
                        else
                        {
                            <text>Não Definido</text>
                        }
                    </td>
                    <td>
                        <a data-prova="@item.prova.CodProva" data-action="@Url.Action("EditarProva", new { codigo = Model.Simulado.Codigo })" class="ui editar tiny button"><i class="edit icon"></i>Editar</a>
                        <a data-prova="@item.prova.CodProva" data-action="@Url.Action("RemoverProva", new { codigo = Model.Simulado.Codigo })" class="ui remover tiny button"><i class="trash icon"></i>Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="actions">
    <div class="ui novo prova button">Nova Prova</div>
    <div class="ui cancel button">Fechar</div>
</div>