@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model SimDiaRealizacao
@{
    List<SimProva> provas = Model.SimProva.ToList();
}

<i class="icon close"></i>
<div class="header">
    Provas para o Dia "@Model.DtRealizacao.DiaRealizacaoRepresentacao()"
</div>
<div class="content">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Disciplina</th>
                <th>Prof. Responsável</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in provas.Select((prova, i) => new { i, prova }))
            {
                <tr>
                    <td>@(item.i + 1)</td>
                    <td>
                        @item.prova.Titulo
                        @if (item.prova.FlagRedacao)
                        {
                            <div class="ui small label">
                                Redação
                            </div>
                        }
                        else {
                            <div class="ui small label">
                                @item.prova.QteQuestoes questões @(item.prova.TipoQuestoes == TipoQuestao.OBJETIVA ? "obj." : "disc.")
                            </div>
                        }
                    </td>
                    <td>@item.prova.Disciplina.Descricao</td>
                    <td>
                        @if (item.prova.Professor != null)
                        {
                            @item.prova.Professor.Usuario.PessoaFisica.PrimeiroNome

                        }
                        else
                        {
                            <text>Não Definido</text>
                        }
                    </td>
                    <td>
                        <a data-prova="@item.prova.CodProva" data-action="@Url.Action("CarregarProva", new { codigo = Model.Simulado.Codigo })" class="ui editar icon tiny button"><i class="edit icon"></i>Editar</a>
                        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Esta ação não poderá ser desfeita</p><a data-prova='@(item.prova.CodProva)' data-action='@Url.Action("RemoverProva", new { codigo = Model.Simulado.Codigo })' class='ui remover mini button'>Confirmar</a></div>" class="ui tiny icon button"><i class="trash icon"></i>Remover</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="actions">
    <div class="ui novo prova button">Nova Prova</div>
    <div class="ui cancel button">Fechar</div>
</div>