@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model SimuladoClassificacaoViewModel

<i class="close icon"></i>
<div class="header">
    Classificação do Simulado @Model.Simulado.Titulo
</div>
<div class="content">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Inscrição</th>
                <th>CPF</th>
                <th>Escore Final</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var classificado in Model.Classificacao)
            {
                <tr>
                    <td>@classificado.Key</td>
                    <td>@classificado.Value.Candidato.Nome</td>
                    <td>@classificado.Value.NumInscricaoRepresentacao</td>
                    <td>@Formate.ParaCPF(classificado.Value.Candidato.Cpf)</td>
                    <td><b>@classificado.Value.EscorePadronizadoFinalString</b></td>
                    <td><div data-candidato="@classificado.Value.CodCandidato" data-action="@Url.Action("ClassificacaoCandidato", new { codigo = Model.Simulado.Codigo, codCandidato = classificado.Value.CodCandidato  })" class="ui icon button"><i class="search icon"></i></div></td>
                </tr>
            }
            @foreach (var faltoso in Model.Faltosos)
            {
                <tr class="error">
                    <td></td>
                    <td>@faltoso.Candidato.Nome</td>
                    <td>@faltoso.NumInscricaoRepresentacao</td>
                    <td>@Formate.ParaCPF(faltoso.Candidato.Cpf)</td>
                    <td colspan="2"><small class="ui red label">Faltou</small></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="actions">
    <div class="ui cancel button">Fechar</div>
</div>