@model SimuladoPontuacoesCandidatoViewModel
@{
    int questaoIndice = Model.Prova.QteQuestoesObjetivas + 1;
    bool flagAusente = Model.CandidatoProva.FlagPresente.HasValue && !Model.CandidatoProva.FlagPresente.Value;
}

<form method="post" class="ui form" action="@Url.Action("InserirRespostasCandidato", new { codigo = Model.Simulado.Codigo, codDia = Model.Prova.CodDiaRealizacao, codProva = Model.Prova.CodProva, codCandidato = Model.Candidato.CodCandidato})">
    <h3 class="header">
        @($"Prova: {Model.Prova.CodDiaRealizacao}º dia - {Model.Prova.Titulo}") |
        @($"Candidato: {Model.CandidatoProva.SimCandidato.NumeroMascara}")
    </h3>
    <div class="ui basic segment">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <h2 class="ui inverted icon header">
                        <i class="ban icon"></i>
                        Candidato Ausente
                    </h2>
                </div>
            </div>
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Indíce da Questão</th>
                    <th>Pontuação </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var questao in Model.Questoes)
                {
                    SimCandidatoQuestao resposta = Model.Respostas.FirstOrDefault(q => q.CodQuestao == questao.CodQuestao);

                <tr>
                    <td>@(questaoIndice++)</td>
                    <td>
                        <div class="inline fields">
                            <div class="field">
                                    <input type="number" max="1000" min="0" name="@($"questao{questao.CodQuestao}")" value="@resposta.NotaDiscursiva" required>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="ui segment">
        <div class="ui toggle checkbox">
            <label>Candidato ausente?</label>
            <input type="checkbox" name="ausente" @(flagAusente ? "checked" : "") />
        </div>
    </div>
    <button type="submit" class="ui button">Enviar pontuações</button>
</form>