@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<SimCandidatoProva>
@{
    string codigo = Model.First().SimCandidato.Simulado.Codigo;
    int codDia = Model.First().SimProva.CodDiaRealizacao;
    int codProva = Model.First().SimProva.CodProva;
}

<form action="@Url.Action("InserirPontuacoesProva", new { codigo = codigo, codDia = codDia, codProva = codProva })" method="post" class="ui form">
    <h3 class="header">Candidatos</h3>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Número Máscara</th>
                <th>Pontuação</th>
                <th>Ausente?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidato in Model)
            {
                bool flagAusente = candidato.FlagPresente.HasValue && !candidato.FlagPresente.Value;

                <tr class="@(flagAusente ? "error" : "")">
                    <td><code>@candidato.SimCandidato.NumeroMascara</code></td>
                    <td>
                        <div class="field @(flagAusente ? "disabled" : "")">
                            <input type="number" @(!flagAusente ? "required" : "") max="1000.000" min="0.000" step="0.001" name="@candidato.SimCandidato.NumeroMascara" value="@(candidato.NotaDiscursiva.HasValue ? candidato.NotaDiscursiva.Value.ToString(".000").Replace(',','.') : "" )" placeholder="Informe a pontuação do candidato" />
                        </div>
                    </td>
                    <td>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="@(candidato.SimCandidato.NumeroMascara)ausente" @(flagAusente ? "checked" : "") />
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="ui actions">
        <button type="submit" class="ui button">Enviar pontuações</button>
    </div>
</form>