@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model SimuladoProvaViewModel

<form action="@Url.Action("EditarProva", new { codigo = Model.Simulado.Codigo, codDia = Model.Prova.CodDiaRealizacao, codProva = Model.Prova.CodProva })" method="post" class="ui editar prova modal">
    <i class="icon close"></i>
    <div class="header">
        Editar Prova "@Model.Prova.Titulo"
    </div>
    <div class="content">
        <div class="ui form">
            <div class="two fields">
                <div class="field required">
                    <label>Disciplina</label>
                    <select name="ddlDisciplina" class="ui fluid search dropdown" required">
                        <option value="">Disciplina</option>
                        @foreach (var d in Model.Disciplinas)
                        {
                            <option @(Model.Prova.CodDisciplina == d.CodDisciplina ? "selected" : "" ) value="@d.CodDisciplina">@d.Descricao</option>
                        }
                    </select>
                </div>
                <div class="field">
                    <label>Prof. Responsável</label>
                    <select name="ddlProfessor" class="ui fluid search dropdown" required">
                        <option value="">Professor</option>
                        @foreach (var professor in Model.Prova.Disciplina.Professor)
                        {
                            <option @(professor.CodProfessor == Model.Prova.CodProfessor ? "selected" : "") value="@professor.CodProfessor">@professor</option>
                        }
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field required">
                    <label>Quant. de Questões</label>
                    <input type="number" name="txtQteQuestoes" min="0" placeholder="Quant. de Questões" value="@Model.Prova.QteQuestoes" required />
                </div>
                <div class="field required">
                    <label>Tipo das Questões</label>
                    <select name="ddlTipoQuestoes" class="ui fluid search dropdown" required">
                        <option value="">Tipo das Questões</option>
                        <option @(Model.Prova.TipoQuestoes == TipoQuestao.OBJETIVA ? "selected" : "") value="@TipoQuestao.OBJETIVA">Objetivas</option>
                        <option @(Model.Prova.TipoQuestoes == TipoQuestao.DISCURSIVA ? "selected" : "") value="@TipoQuestao.DISCURSIVA">Discursivas</option>
                    </select>
                </div>
            </div>
            <div class="field required">
                <label data-ajuda="Forneça na caixa abaixo o título">Forneça o título</label>
                <input id="txtTitulo" name="txtTitulo" maxlength="250" placeholder="Título" value="@Model.Prova.Titulo" required />
            </div>
            <div class="field">
                <label data-ajuda="Descreva no espaço abaixo uma descrição para este simulado">Insira uma descrição</label>
                <textarea id="txtDescricao" name="txtDescricao" rows="5" placeholder="Descrição">@Model.Prova.Descricao</textarea>
            </div>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="chkRedacao" name="chkRedacao" type="checkbox" @(Model.Prova.FlagRedacao ? "checked" : "")>
                        <label for="chkRedacao">Esta prova é uma redação/produção textual</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="reset" value="Cancelar" class="ui cancel button" />
        <input type="submit" value="Editar" class="ui approve button" />
    </div>
</form>