@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Interativo de Avaliação de Conhecimento - SIAC</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css/acesso")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body  id="entrar" class="pushable">
    @*<form action="~/Acesso/Entrar" method="post" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">Quais as suas credenciais?</div>
        <div class="content">
            <div class="ui form @ViewBag.Erro">
                <div class="ui message error">
                    <div class="header">Credenciais inválidas</div>
                    <p>Note que ambos os campos diferenciam maiúsculas e minúsculas.</p>
                </div>
                <div class="field required">
                    <label for="TextBoxMatricula">Matrícula</label>
                    <div class="ui icon input">
                        <input name="txtMatricula" type="text" value="@ViewBag.TextBoxMatricula" placeholder="Matrícula" required pattern="[a-zA-Z0-9]+" />
                        <i class="icon user"></i>
                    </div>
                </div>
                <div class="field required">
                    <label for="TextBoxSenha">Senha</label>
                    <div class="ui icon input">
                        <input name="txtSenha" type="password" placeholder="Senha" required />
                        <i class="icon lock"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <input type="reset" value="Cancelar" class="ui cancel button" onclick="window.stop();$('.form').removeClass('error').removeClass('loading');" />
            <input type="submit" value="Entrar" class="ui primary button" onclick="if ($('.form input:required:invalid').length == 0) { $('.ui.form').addClass('loading') } else { $('.form input:required:invalid').first().parent().transition('tada') }" />
        </div>
    </form>*@
    <div class="ui large top fixed menu transition hidden">
        <div class="ui container">
            <div class="item">
                <img src="~/resources/images/layout/logo-black.png" />
            </div>
            <div class="item">
                <h2 class="ui header left aligned">
                    <div class="content">
                        SIAC
                        <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item text">
                    @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                </div>
                <div class="item"><a class="ui button" href="#entrar">Entrar</a></div>
            </div>
        </div>
    </div>
    <div class="ui vertical inverted sidebar menu left">
        <a class="item" href="#projeto">Projeto</a>
        <a class="item" href="#impressoes">Impressões</a>
        <a class="item" href="#sintese">Síntese</a>
        <a class="item" href="#expectativas">Expectativas</a>
        <a class="item" href="#">Quem somos</a>
        <a class="item" href="#entrar">Entrar</a>
    </div>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <video id="myVideo" autoplay="autoplay" loop="loop" muted="muted" onerror="$(this).hide();$('.masthead').addClass('background')">
                <source src="~/resources/videos/background.webm" type="video/webm" />
                <source src="~/resources/videos/background.mp4" type="video/mp4" />
            </video>
            <div class="ui container">
                <div class="ui large secondary inverted text menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <div class="item">
                        <img src="~/Resources/images/layout/logo.png" />
                    </div>
                    <div class="item">
                        <h2 class="ui header left aligned inverted">
                            <div class="content">
                                SIAC
                                <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                            </div>
                        </h2>
                    </div>
                    <div class="right item">
                        <div class="item text">
                            @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                        </div>
                        @*<a class="ui inverted button" onclick="$('.modal').modal('show')">Entrar</a>*@
                    </div>
                </div>
            </div>

            <div class="ui container">
                <h1 class="ui inverted header">
                    Novo conceito em avaliação
                </h1>
                <h2 style="margin-top: 0">Feito por alunos para comunidade acadêmica</h2>
                <div class="ui text container">
                    <form method="post" class="ui large form @ViewBag.Erro">                        
                        <div class="fields">
                            <div class="seven wide field required">
                                @*<label for="TextBoxMatricula">Matrícula</label>*@
                                <div class="ui left icon input">
                                    <i class="icon user"></i>
                                    <input name="txtMatricula" type="text" value="@ViewBag.TextBoxMatricula" placeholder="Matrícula" required pattern="[a-zA-Z0-9]+" autofocus />
                                </div>
                            </div>
                            <div class="seven wide field required">
                                @*<label for="TextBoxSenha">Senha</label>*@
                                <div class="ui left icon input">
                                    <i class="icon lock"></i>
                                    <input name="txtSenha" type="password" placeholder="Senha" required />
                                </div>
                            </div>
                            <div class="two wide inline field">
                                <input type="submit" value="Entrar" class="ui primary button" onclick="if ($('.form input:required:invalid').length == 0) { $('.ui.global.loader').parent().addClass('active'); } else { $('.form input:required:invalid').first().parent().transition('tada') }" />
                            </div>
                        </div>
                        <div style="text-align:left" class="ui small message error">
                            <div class="header">Credenciais inválidas</div>
                            <p>Note que ambos os campos diferenciam maiúsculas e minúsculas.</p>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
        <div id="projeto" class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <div class="row">
                    <div class="eight wide column">
                        <h3 class="ui header">Nova forma de aprendizado</h3>
                        <p>O objetivo principal é o de promover autoavaliações por parte dos alunos, dos professores, dos funcionários e dos convidados pela instituição a participarem dessa nova forma de aprendizado.</p>
                        <h3 class="ui header">Avaliações institucionais</h3>
                        <p>Um segundo objetivo é o de permitir a administração elaborar, gerar e divulgar resultados das avaliações institucionais de forma contínua.</p>
                    </div>
                    <div class="six wide right floated column">
                        <img src="~/Resources/images/content/acesso/amostra.jpg" class="ui large bordered rounded image">
                    </div>
                </div>
                <!--<div class="row">
                    <div class="center aligned column">
                        <a class="ui huge button">Check Them Out</a>
                    </div>
                </div>-->
            </div>
        </div>
        <div id="impressoes" class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                    <div class="column">
                        <h3>"Parabéns aos estudantes e ao professor Reginaldo Falcão"</h3>
                        <p>Durante Expotec 2015</p>
                    </div>
                    <div class="column">
                        <h3>"Parabéns! O projeto é muito lindo..."</h3>
                        <p>
                            <img src="~/Resources/images/content/acesso/avatar.png" class="ui avatar image">
                            <b>Kinara</b> Techvirtual
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="sintese" class="ui vertical stripe segment">
            <div class="ui text container">
                <h3 class="ui header">Em síntese</h3>
                <p>Possibilitar autoavaliações em qualquer assunto ministrado no IFRN por todos que fazem a nossa instituição, além de aplicar as autoavaliações no Colégio Floriano Cavalcanti, após a conclusão e aplicação no IFRN. A ideia é permitir aos professores do IFRN elaborar e criar questões de suas disciplinas. A outra função é o de permitir a administração elaborar, gerar e divulgar resultados das avaliações institucionais de forma contínua.</p>
                <a class="ui large button">Leia mais</a>
                <h4 id="expectativas" class="ui horizontal header divider">
                    <a href="#">Expectativas</a>
                </h4>
                <h3 class="ui header">O que pretendemos?</h3>
                <p>A criação de uma cultura de utilização da ferramenta para a realizações contínuas de autoavaliações para qualquer fim por parte de todos que fazem o IFRN, possibilitando a todos que usarem o real conhecimento do aprendizado sem a interferência de ninguém e podendo utilizá-lo a qualquer momento e lugar.</p>
                <a class="ui large button">Estou um pouco interessado</a>
            </div>
        </div>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">Sobre</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Quem somos</a>
                            <a href="#" class="item">Contate-nos</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Serviços</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Autoavaliação</a>
                            <a href="#" class="item">Avaliação Acadêmica</a>
                            <a href="#" class="item">Avaliação de Certificação</a>
                            <a href="#" class="item">Avaliação Institucional</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Sistema Interativo de Avaliação de Conhecimento</h4>
                        <p>"A simplicidade é o último grau de sofisticação." – Leonardo da Vinci.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui dimmer">
        <div class="ui large text global loader">Carregando</div>
    </div>
    @Scripts.Render("~/bundles/js")
    <script>
        $(document)
          .ready(function () {

              $('.ui.sidebar.menu')
                    .sidebar('attach events', '.ui.sidebar.menu .item', 'toggle')
              ;

              // fix menu when passed
              $('.masthead')
                .visibility({
                    once: false,
                    onBottomPassed: function () {
                        $('.fixed.menu').transition('fade in');
                    },
                    onBottomPassedReverse: function () {
                        $('.fixed.menu').transition('fade out');
                    }
                })
              ;

              // create sidebar and attach to menu open
              $('.ui.sidebar')
                .sidebar('attach events', '.toc.item')
              ;

              //$('.ui.modal')
              //  .modal({
              //      transition: 'fly right'
              //  })
              //;

              @Html.Raw(ViewBag.Acao)
          })
        ;
    </script>
</body>
</html>
