@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model QuestaoAnexo
<a class="ui anexo codigo card">
    <div class="content">
        <div class="header">
            <code>
                @Model.Anexo.GetString().ToShortString(50)
            </code>
            <textarea class="codigo" hidden>@Model.Anexo.GetString()</textarea>
        </div>
        @if (!String.IsNullOrWhiteSpace(Model.Legenda))
        {
            <div class="description" @Html.Raw((Model.Legenda.Length > 30 ? "data-observacao=\"" + Model.Legenda + "\"" : ""))>
                @Model.Legenda.ToShortString(30)
            </div>
        }
    </div>
    @if (!String.IsNullOrWhiteSpace(Model.Fonte))
    {
        <div class="extra content">
            <div class="description" @Html.Raw((Model.Fonte.Length > 30 ? "data-fonte=\"" + Model.Fonte + "\"" : ""))>
                @Model.Fonte.ToShortString(30)
            </div>
        </div>
    }
</a>
