@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model QuestaoAnexo
@switch (Model.CodTipoAnexo)
{
    case TipoAnexo.IMAGEM:
        <div class="ui segment">
            <img class="ui image" src="@Model.Anexo.GetImageSource()" />
            @if (!String.IsNullOrWhiteSpace(Model.Legenda) || !String.IsNullOrWhiteSpace(Model.Fonte))
            {
                <div>
                    @if (!String.IsNullOrWhiteSpace(Model.Legenda))
                    {
                        <b>
                            @Model.Legenda
                        </b>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.Fonte))
                    {
                        <p>
                            @Model.Fonte
                        </p>
                    }
                </div>
            }
        </div>
        break;
    case TipoAnexo.CODIGO:
        <div class="ui segment">
            @if (!String.IsNullOrWhiteSpace(Model.Legenda) || !String.IsNullOrWhiteSpace(Model.Fonte))
            {
                <div>
                    @if (!String.IsNullOrWhiteSpace(Model.Legenda))
                    {
                        <b>
                            @Model.Legenda
                        </b>
                    }
                    @if (!String.IsNullOrWhiteSpace(Model.Fonte))
                    {
                        <p>
                            @Model.Fonte
                        </p>
                    }
                </div>
            }
            <pre><code class="code">@Model.Anexo.GetString().Trim()</code></pre>
        </div>
        break;
    case TipoAnexo.TEXTO:
        <div class="ui segment">
            @if (!String.IsNullOrWhiteSpace(Model.Legenda))
            {
                <h4>
                    @Model.Legenda
                </h4>
            }
            <blockquote style="text-align: justify">@Html.Raw(Model.Anexo.GetString().ToHtml("p"))</blockquote>
            @if (!String.IsNullOrWhiteSpace(Model.Fonte))
            {
                <div>
                    @if (!String.IsNullOrWhiteSpace(Model.Fonte))
                    {
                        <p>
                            @Model.Fonte
                        </p>
                    }
                </div>
            }
        </div>
        break;
    default:
        break;
}