@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<Questao>

@foreach (var questao in Model)
{
    var dtCadastro = questao.DtCadastro.ToElapsedTimeString();
    <div id="@questao.CodQuestao" class="card">
        <div class="content">
            <div class="header" data-enunciado="@questao.Enunciado">@questao.Enunciado.ToShortString(140)</div>
            <div class="meta">
                Cadastrada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@questao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            <span class="ui ribbon tipo label">
                @if (questao.CodTipoQuestao == TipoQuestao.OBJETIVA)
                {
                    <i class="checkmark box icon"></i>
                }
                else
                {
                    <i class="write icon"></i>
                }
                @questao.TipoQuestao.Descricao
            </span>
            <div class="description ui labels">
                <p><b>Disciplina</b>: @questao.Disciplina.Descricao</p>
                <p title="@questao.Dificuldade.Comentario"><b>Índ. de Dificuldade</b>: @questao.Dificuldade.Descricao</p>
            </div>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui detalhe button">Detalhes</div>
            <div class="ui acao button">Adicionar</div>
        </div>
    </div>
}
