@model List<Questao>

@foreach (Questao questao in Model)
{
    var dtCadastro = questao.DtCadastro.ToElapsedTimeString();
    <a class="card hidden" style="display:none!important" href="@Url.Action("Detalhe", new { codigo = questao.CodQuestao })">
        <div class="content">
            <div class="header">@questao.Enunciado.ToShortString(140)</div>
            <div class="meta">
                Cadastrada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@questao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            <span class="ui ribbon label">
                @if (questao.CodTipoQuestao == TipoQuestao.OBJETIVA)
                {
                    <i class="checkmark box icon"></i>
                }
                else
                {
                    <i class="write icon"></i>
                }
                @questao.TipoQuestao.Descricao
            </span>
            <div class="description ui labels">
                <p><b>Disciplina</b>: @questao.Disciplina.Descricao</p>
                <p title="@questao.Dificuldade.Comentario"><b>Índ. de Dificuldade</b>: @questao.Dificuldade.Descricao</p>
            </div>
        </div>
    </a>
}
