@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model Questao
<div class="content" data-questao="@Model.CodQuestao" data-tipo="@Model.CodTipoQuestao" data-indice="@ViewData["Index"]">
    <div class="header" data-html="@( !String.IsNullOrEmpty(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">
        <div class="ui icon right floated button"><i class="refresh icon"></i></div>
        <div class="ui popup">
            <div class='header'>
                Deseja substituir esta questão?
            </div>
            <div class='content'>
                <a class='ui small trocar button'>Sim, continuar</a>
            </div>
        </div>
        <div data-html="" class="ui icon right floated button" style="display:none;"><i class="undo icon"></i></div>
        <div class="ui popup">
            <div class='header'>Deseja desfazer a substituição?</div>
            <div class='content'>
                <p>Só será desfeito a última substituição realizada</p>
                <a class='ui small desfazer button'>Sim, continuar</a>
            </div>
        </div>
        @Html.Raw((((int)ViewData["Index"]).GetIndiceQuestao() + ". " + Model.Enunciado).ToHtml("p"))
    </div>
</div>
<div class="content">
    @if (Model.CodTipoQuestao == TipoQuestao.OBJETIVA)
    {
        <div class="ui very relaxed list">
            @foreach (var alternativa in Model.Alternativa)
            {
                <div class="item" data-html="@(!String.IsNullOrEmpty(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                    <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                    @if (alternativa.FlagGabarito)
                    {
                        <a class="ui tiny green label">Correta</a>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div data-html="@(!String.IsNullOrWhiteSpace(Model.Comentario) ? "<b>Comentário</b>: " + Model.Comentario : "")">
            <a class="ui tiny green ribbon label">Chave de Resposta</a>
            @Html.Raw(Model.ChaveDeResposta.ToHtml("p", "i"))
        </div>
    }
</div>
@if (Model.QuestaoAnexo.Count > 0)
{
    <div class="extra content">
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Anexos</div>
            <div class="content">
                @foreach (var anexo in Model.QuestaoAnexo)
                {
                    @Html.Partial("_Anexo", anexo)
                }
            </div>
        </div>
    </div>
}  