@using SIAC.Web.Models
@model AvalAcademica
@{
    ViewBag.Title = "Acompanhar " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";    
}
@section Styles {
    <style>
        .feed {
            max-height: 10em;
            overflow-y: auto;
        }

        .printscreen.modal .content
        {
            height: 55vh;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    </style>    
}

@section Scripts{
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
    <script>

        var acadHub = $.connection.academicaHub;

        function ConectarHub(avalAcad, usrMatr) {
            $.connection.hub.start().done(function(){
                acadHub.server.professorConectou(avalAcad, usrMatr);
                $('.prova.button').on('click', function() {
                    matr = $(this).parent().attr('id');
                    acadHub.server.requererAval(avalAcad, matr);
                    $('#'+matr+'.content .prova.button').addClass('loading').removeClass('transition visible');
                });

                $('.alertar.button').on('click', function () {
                    mensagem = $(this).prev().find('textarea').val();
                    matr = $(this).parent().parent().parent().attr('id');
                    acadHub.server.alertar(avalAcad, mensagem, matr);
                    $(this).prev().find('textarea').val('');
                    $(this).popup('hide all');
                });

                setInterval(function () {
                    lstMatr = $('.accordion')
                                .find('.title')
                                .map(function () {
                                    acadHub.server.feed(avalAcad, this.id);
                                });
                    }, 3000);
            });

            acadHub.client.atualizarFeed = function (alnMatricula, lstEvento) {
                $feed = $('#' + alnMatricula + '.content .feed');
                $feed.html('');
                $feed.append('<h4 class="ui header">Atividade</h4>');
                if (lstEvento) {
                    for (var i = lstEvento.length-1; i > -1; i--) {
                        $feed.append('\
                        <div class="event">\
                            <div class="label">\
                                <i class="'+ lstEvento[i].Icone + ' icon"></i>\
                            </div>\
                            <div class="content">\
                                <div class="summary">\
                                    ' + lstEvento[i].Descricao + '\
                                    <div class="date">' + lstEvento[i].Data + '</div>\
                                </div>\
                            </div>\
                        </div>\
                    ');
                    }
                }
            }

            acadHub.client.conectarAluno = function(usrMatricula) {
                $('#' + usrMatricula + '.title .status.label').removeClass('red').addClass('green');
                $('#' + usrMatricula + '.content .button').removeClass('disabled');
            };

            acadHub.client.receberAval = function(alnMatricula) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.RouteUrl("AvalAcadPrint")',
                    data: {
                        codAvaliacao: avalAcad
                    },
                    success: function(data){
                        $('.printscreen.modal .header').text($('#'+alnMatricula+' .nome').text() + ' ('+ alnMatricula+')');
                        $('.printscreen.modal .content').css({
                            'background-image': 'url(\''+data+'\')',
                        });
                        $('.printscreen.modal .nova.guia.button').attr('href', data);
                        $('.printscreen.modal').modal('show').modal('refresh');
                        $('#'+alnMatricula+'.content .prova.button').removeClass('loading');
                    },
                    error: function(){
                        Mensagem('Ocorreu um erro inesperado. Tente novamente mais tarde.');
                    }
                });
            };

            acadHub.client.atualizarProgresso = function (alnMatricula, value) {
                $('#'+alnMatricula+'.content .progress')
                    .progress({
                        value: value,
                        label: 'ratio',
                        text: {
                            ratio: '{value} de {total}'
                        }
                    })
                ;
            }
        }       
        
        ConectarHub('@Model.Avaliacao.CodAvaliacao', '@SIAC.Web.Helpers.Sessao.UsuarioMatricula');

        $('.ui.accordion')
            .accordion({
                animateChildren: false
            })
        ;

        $('.ui.progress')
            .progress({
                label: 'ratio',
                text: {
                    ratio: '{value} de {total}'
                }
            })
        ;
        $('.trigger.button')
            .popup({
                inline: true,
                on: 'click'
            })
        ;
    </script>
}
<h2>
    @ViewBag.Title 
    <div class="ui trigger right floated button">
        Alertar Todos
    </div>
    <div class="ui special popup">
        <div class='ui content form'>
            <div class='field'>
                <label>Mensagem</label>
                <textarea placeholder='Mensagem...'></textarea>
            </div>
            <div class='ui small alertar button'>Enviar</div>
        </div>
    </div>
</h2>
<div class="ui printscreen fullscreen modal">
    <i class="icon close"></i>
    <div class="header"></div>
    <div class="image content">
        <img class="image" id="imgProva" />
    </div>
    <div class="actions">
        <div class="ui cancel button">Fechar</div>
        <a href="" target="_blank" class="ui nova guia button">Abrir em Nova Guia</a>
    </div>
</div>
@*<table class="ui striped table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Curso</th>
            <th>Prova</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>João</td>
                <td>2015202</td>
                <td>INFONET</td>
                <td><div id="btnMatr" class="ui button">Ver prova</div></td>
            </tr>
        
    </tbody>
</table>*@

<div class="ui basic segment">
    <div class="ui accordion">
        @foreach (Aluno aluno in Model.Aluno.OrderBy(a => a.Usuario.PessoaFisica.Nome))
        {
            <div id="@aluno.MatrAluno" class="title">
                <i class="dropdown icon" style="float:right"></i>
                <div class="ui status mini red empty circular label"></div>
                <b class="nome">@aluno.Usuario.PessoaFisica.Nome</b> @aluno.MatrAluno                
            </div>
            <div id="@aluno.MatrAluno" class="content">
                <div class="ui progress active" data-total="@Model.Avaliacao.Questao.Count">
                    <div class="bar"><div class="progress"></div></div>
                </div>
                <div class="ui small feed">
                    <h4 class="ui header">Atividade</h4>                       
                </div>
                <div class="ui disabled prova button">Ver Prova</div>
                <div class="ui disabled trigger button">Alertar</div>
                <div class="ui special popup">
                    <div class='ui content form'>
                        <div class='field'>
                            <label>Mensagem</label>
                            <textarea placeholder='Mensagem...'></textarea>
                        </div>
                        <div class='ui small alertar button'>Enviar</div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
