@using SIAC.Web.Models
@model AvalAcademica
@{
    ViewBag.Title = "Acompanhar " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";

    // String html do gabarito para todos os alunos
    string gabarito = "<table class=\"ui celled table\"><tbody><tr>";
    for (int i = 0, count = Model.Avaliacao.Questao.Count, linebreak = 20, countPerRow = 20; i < count; i++)
    {
        if (i == linebreak)
        {
            gabarito += "</tr><tr>";
            linebreak += countPerRow;
        }
        gabarito += "<td data-questao=\""+Model.Avaliacao.Questao[i].CodQuestao+"\">"+i.GetIndiceQuestao()+"</td>";
    }
    gabarito += "</tr></tbody></table>";

    // String html do gabarito para todos os alunos
    string newGabarito = "<table class=\"ui celled table\"><tbody><tr>";
    for (int i = 0, count = Model.Avaliacao.Questao.Count, linebreak = 5, countPerRow = 5; i < count; i++)
    {
        if (i == linebreak)
        {
            newGabarito += "</tr><tr>";
            linebreak += countPerRow;
        }
        newGabarito += "<td data-questao=\"" + Model.Avaliacao.Questao[i].CodQuestao + "\">" + i.GetIndiceQuestao() + "</td>";
    }
    newGabarito += "</tr></tbody></table>";
}
@section Styles {
    <style>
        .feed {
            max-height: 10em;
            overflow-y: auto;
        }

        .printscreen.modal .content
        {
            height: 55vh;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    </style>    
}

@section Scripts{
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
    <script>

        var acadHub = $.connection.academicaHub;

        function ConectarHub(avalAcad, usrMatr) {
            $.connection.hub.start().done(function () {

                enviarMsg = function enviarMsg(_this) {
                    $content = $(_this).parents('.content[id]');
                    matr = $content.attr('id');
                    $msg = $('#' + matr + 'msg');
                    $msg.val($msg.val().trim());
                    if ($msg.val()) {
                        var mensagem = $msg.val();
                        mensagem = siac.Utilitario.quebrarLinhaEm(mensagem, 30);
                        acadHub.server.chatProfessorEnvia(avalAcad, matr, $msg.val());
                        $('#' + matr + '.content .chat.popup .comments').append('\
                            <div class="comment" style="float:right;clear:both;">\
                                <div class="content">\
                                <div class="ui right pointing label">\
                                    '+ mensagem + '\
                                </div>\
                            </div>\
                        </div>\
                        ');
                        $msg.val('');
                        var $comments = $content.find('.comments');
                        $($comments).animate({
                            scrollTop: $comments.children().last().offset().top
                        }, 0);
                    }
                };

                acadHub.server.professorConectou(avalAcad, usrMatr);
                $('.prova.button').on('click', function() {
                    matr = $(this).parent().attr('id');
                    acadHub.server.requererAval(avalAcad, matr);
                    $('#'+matr+'.content .prova.button').addClass('loading').removeClass('transition visible');
                });

                $('.alertar.button').on('click', function () {
                    mensagem = $(this).prev().find('textarea').val();
                    matr = $(this).parent().parent().parent().attr('id');
                    acadHub.server.alertar(avalAcad, mensagem, matr);
                    $(this).prev().find('textarea').val('');
                    $(this).popup('hide all');
                });

                $('.enviar.icon').on('click', function () { enviarMsg(this) });
                $('.chat input').keypress(function (e) {
                    if (e.which == 13) {
                        enviarMsg(this);
                        return false;
                    }
                });
                

                setInterval(function () {
                    lstMatr = $('.accordion')
                                .find('.title')
                                .map(function () {
                                    acadHub.server.feed(avalAcad, this.id);
                                });
                    }, 3000);
            });

            acadHub.client.chatProfessorRecebe = function (usrMatricula, mensagem) {
                $content = $('#'+usrMatricula+'.content[id]');
                if (mensagem) {
                    mensagem = siac.Utilitario.quebrarLinhaEm(mensagem, 30);
                    $('#' + usrMatricula + '.content .chat.popup .comments').append('\
                            <div class="comment" style="float:left;clear:both;">\
                                <div class="content">\
                                <div class="ui left pointing label">\
                                    '+ mensagem + '\
                                </div>\
                            </div>\
                        </div>\
                        ');
                    var $comments = $content.find('.comments');
                    $($comments).animate({
                        scrollTop: $comments.children().last().offset().top
                    }, 0);

                    ChatQteMensagem = 0;
                    if($('#' + usrMatricula + 'lblQteMsg').length){ ChatQteMensagem = $('#' + usrMatricula + 'lblQteMsg').data('qte')}
                    if (!$('#' + usrMatricula + '.content .chat.popup').hasClass('visible')) {
                        $accordionChat = $('#' + usrMatricula + '.title');
                        $lblQteMsg = $('#' + usrMatricula + 'lblQteMsg');
                        $lblQteMsg.remove();
                        $accordionChat.append($('<div></div>').attr('id', usrMatricula + 'lblQteMsg').addClass('ui small blue label').append('<i class="ui comments icon"></i>'));
                        ChatQteMensagem++;
                        $('#' + usrMatricula + 'lblQteMsg').data('qte',ChatQteMensagem).append(ChatQteMensagem);
                    }
                }
            };

            $('.icon.chat.button').on('click', function () {
                matr = ($(this).parents('.content[id]').attr('id'));
                $('#' + matr + 'lblQteMsg').remove();
            });

            acadHub.client.atualizarFeed = function (alnMatricula, lstEvento) {
                $feed = $('#' + alnMatricula + '.content .feed');
                $feed.html('');
                $feed.append('<h4 class="ui header">Atividade</h4>');
                if (lstEvento) {
                    for (var i = lstEvento.length-1; i > -1; i--) {
                        $feed.append('\
                        <div class="event">\
                            <div class="label">\
                                <i class="'+ lstEvento[i].Icone + ' icon"></i>\
                            </div>\
                            <div class="content">\
                                <div class="summary">\
                                    ' + lstEvento[i].Descricao + '\
                                    <div class="date" title="'+lstEvento[i].DataCompleta+'">' + lstEvento[i].Data + '</div>\
                                </div>\
                            </div>\
                        </div>\
                    ');
                    }
                    
                    if (lstEvento[lstEvento.length-1].Icone == "red warning sign" && !$('#'+alnMatricula+'lblWarning').length && !$('#'+alnMatricula).hasClass('active')) {
                        $accordionChat = $('#' + alnMatricula + '.title');
                        $accordionChat.append($('<i></i>').attr('id', alnMatricula + 'lblWarning').addClass('red warning sign icon'));
                    }
        
                }
            }

            $('.accordion .title').on('click', function () {
                matr = ($(this).attr('id'));
                $('#' + matr + 'lblWarning').remove();
            });

            acadHub.client.conectarAluno = function (usrMatricula) {
                $('#' + usrMatricula + '.title .small.label').remove();
                $('#' + usrMatricula + '.title .status.label').removeClass('red').addClass('green');
                $('#' + usrMatricula + '.content .button').removeClass('disabled');
            };

            acadHub.client.desconectarAluno = function (usrMatricula) {
                $('#' + usrMatricula + '.title').append('<div class="ui small label">Desconectado</div>');
                $('#' + usrMatricula + '.title .status.label').removeClass('green');
                $('#' + usrMatricula + '.content .button').addClass('disabled');
            };

            acadHub.client.alunoFinalizou = function (usrMatricula) {
                $('#' + usrMatricula + '.title').append('<div class="ui small label">Finalizou</div>');
                $('#' + usrMatricula + '.title .status.label').removeClass('green').addClass('red');
                $('#' + usrMatricula + '.content .button').addClass('disabled');
            };

            acadHub.client.receberAval = function(alnMatricula) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.RouteUrl("AvalAcadPrint")',
                    data: {
                        codAvaliacao: avalAcad
                    },
                    success: function(data){
                        $('.printscreen.modal .header').text($('#'+alnMatricula+' .nome').text() + ' ('+ alnMatricula+')');
                        $('.printscreen.modal .content').css({
                            'background-image': 'url(\''+data+'\')',
                        });
                        $('.printscreen.modal .nova.guia.button').attr('href', data);
                        $('.printscreen.modal').modal('show').modal('refresh');
                        $('#'+alnMatricula+'.content .prova.button').removeClass('loading');
                    },
                    error: function(){
                        siac.mensagem('Ocorreu um erro inesperado. Tente novamente mais tarde.');
                    }
                });
            };

            acadHub.client.atualizarProgresso = function (alnMatricula, value) {
                $('#'+alnMatricula+'.content .progress')
                    .progress({
                        value: value,
                        label: 'ratio',
                        text: {
                            ratio: '{value} de {total}'
                        }
                    })
                ;
            }

            acadHub.client.respondeuQuestao = function (alnMatricula, questao, flag) {
                $questao = $('#' + alnMatricula + '.content [data-questao="' + questao + '"]');
                $questao.removeClass('positive').find('i').remove();
                if (flag) {
                    $questao.prepend('<i class="checkmark icon"></i>').addClass('positive');
                }
            }
        }       
        
        ConectarHub('@Model.Avaliacao.CodAvaliacao', '@SIAC.Web.Helpers.Sessao.UsuarioMatricula');

        $('.ui.accordion')
            .accordion({
                animateChildren: false
            })
        ;

        $('.ui.progress')
            .progress({
                label: 'ratio',
                text: {
                    ratio: '{value} de {total}'
                }
            })
        ;
        $('.trigger.button')
            .popup({
                inline: true,
                on: 'click'
            })
        ;
    </script>
}
<h2>
    @ViewBag.Title 
    <div class="ui trigger right floated button">
        Alertar Todos
    </div>
    <div class="ui special popup">
        <div class='ui content form'>
            <div class='field'>
                <label>Mensagem</label>
                <textarea placeholder='Mensagem...'></textarea>
            </div>
            <div class='ui small alertar button'>Enviar</div>
        </div>
    </div>
</h2>
<div class="ui printscreen fullscreen modal">
    <i class="icon close"></i>
    <div class="header"></div>
    <div class="image content">
        <img class="image" id="imgProva" />
    </div>
    <div class="actions">
        <div class="ui cancel button">Fechar</div>
        <a href="" target="_blank" class="ui nova guia button">Abrir em Nova Guia</a>
    </div>
</div>

<div class="ui labels">
    <div class="ui label">Disciplina<div class="detail">@Model.Disciplina.Descricao</div></div>
    <div class="ui label">Curso<div class="detail">@Model.Turma.Curso.Descricao</div></div>
    <div class="ui label">Turma<div class="detail">@Model.Turma.CodTurma</div></div>
    <div class="ui label">Início<div class="detail">@Model.Avaliacao.DtAplicacao.Value.ToString("HH'h'mm'min'")</div></div>
    <div class="ui label">Término<div class="detail">@Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value).ToString("HH'h'mm'min'")</div></div>
</div>

<div class="ui basic segment">
    <div class="ui accordion">
        @foreach (Aluno aluno in Model.Aluno.OrderBy(a => a.Usuario.PessoaFisica.Nome))
        {
            <div id="@aluno.MatrAluno" class="title">
                <i class="dropdown icon" style="float:right"></i>
                <div class="ui status mini empty circular label"></div>
                <b class="nome">@aluno.Usuario.PessoaFisica.Nome</b> @aluno.MatrAluno                
            </div>
            <div id="@aluno.MatrAluno" class="content">
                <div class="ui progress active" data-total="@Model.Avaliacao.Questao.Count">
                    <div class="bar"><div class="progress"></div></div>
                </div>
                @Html.Raw(gabarito)
                <div class="ui small feed">
                    <h4 class="ui header">Atividade</h4>                       
                </div>
                <div class="ui disabled prova button">Ver Prova</div>
                <div class="ui disabled trigger button">Alertar</div>
                <div class="ui special popup">
                    <div class='ui content form'>
                        <div class='field'>
                            <label>Mensagem</label>
                            <textarea placeholder='Mensagem...'></textarea>
                        </div>
                        <div class='ui small alertar button'>Enviar</div>
                    </div>
                </div>

                <div class="ui disabled trigger icon right floated chat button"><i class="icon comments outline"></i></div>
                <div class="ui chat popup wide">
                    <div class="header">
                        @aluno.Usuario.PessoaFisica.Nome.Split(' ')[0]
                    </div>
                    <div class="content">
                        <div class="ui comments" style="height: 200px;width:300px; overflow-y:scroll;">
                        </div>
                        <div class="ui icon fluid input">
                            <input id="@(aluno.MatrAluno)msg" type="text" placeholder="Aperte enter para enviar..." maxlength="500" />
                            <i class="send link icon enviar"></i>
                        </div>
                    </div>
                </div>

                <div class="ui disabled trigger icon right floated gabarito button"><i class="icon table"></i></div>
                <div class="ui gabarito popup wide" data-position="top right">
                    <div class="header">
                        Gabarito
                    </div>
                    <div class="content">
                        @Html.Raw(newGabarito)
                    </div>
                </div>
            </div>
        }
    </div>
</div>
