@model AvaliacaoAgendarViewModel
@{
    ViewBag.Title = "Agendar Avaliação Acadêmica";
}


<h2>@ViewBag.Title 
    <div class="ui right floated informacoes button">
        Informações
    </div>
</h2>

<div class="ui confirmar modal">
    <div class="header">
        Verificar e confirmar
    </div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<form class="ui form" method="post">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="field required">
        <label title="Apenas são mostradas as turmas do seu horário.">Turma</label>
        <select id="ddlTurma" name="ddlTurma" class="ui search dropdown" required>
            <option value="">Turma</option>
            @foreach (Turma turma in Model.Turmas)
            {
                var cod = @turma.CodTurma;
                <option @(Model.Avaliacao.AvalAcademica.NumTurma.HasValue ? Model.Avaliacao.AvalAcademica.Turma.CodTurma == cod ? "selected" : "" : "") value="@cod">@turma.Curso.Descricao (@cod)</option>
            }
        </select>
    </div>
    <div class="three fields">
        <div class="field required">
            <label>Data de Aplicação</label>
            <input id="txtData" name="txtData" type="date" data-mask="0000-00-00" placeholder="Data" value="@(Model.Avaliacao.DtAplicacao.HasValue ? Model.Avaliacao.DtAplicacao.Value.ToString("yyyy-MM-dd") : "")" required />
        </div>
        <div class="field required">
            <label>Hora de Início</label>
            <input id="txtHoraInicio" name="txtHoraInicio" type="time" data-mask="00:00" placeholder="Hora de início" value="@(Model.Avaliacao.DtAplicacao.HasValue ? Model.Avaliacao.DtAplicacao.Value.ToString("HH:mm") : "")" required/>
        </div>
        <div class="field required">
            <label>Hora de Término</label>
            <input id="txtHoraTermino" name="txtHoraTermino" type="time" data-mask="00:00" placeholder="Hora de término" value="@(Model.Avaliacao.DtTermino.HasValue ? Model.Avaliacao.DtTermino.Value.ToString("HH:mm") : "")" required />
        </div>
    </div>
    <div class="field required">
        <label>Sala</label>
        <select id="ddlSala" name="ddlSala" class="ui search dropdown" required>
            <option value="">Sala</option>
            @foreach (Sala sala in Model.Salas)
            {
                <option @(Model.Avaliacao.AvalAcademica.CodSala.HasValue && Model.Avaliacao.AvalAcademica.CodSala.Value == sala.CodSala?"selected" :"") value="@sala.CodSala" title="@sala.RefLocal">@sala.Descricao</option>
            }
        </select>
    </div>
    <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Detalhe", new { codigo = Model.Avaliacao.CodAvaliacao })' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
    <button class="ui confirmar button" tabindex="0">Avançar</button>
</form>

@section Scripts{
    @Scripts.Render("~/bundles/js/academica")
}