@using SIAC.Web.Models
@model List<AvalAcademica>
@{
    ViewBag.Title = "Avaliações Agendadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
    <script>        
        var avalCodigo;
        $('.ui.avaliacao.modal').modal({ closable: false });
        function Detalhe(strCodigo) {
            if ($('.ui.avaliacao.modal').prop('id') == strCodigo) {
                $('.ui.avaliacao.modal').modal('show');
            }
            else {
                $('.ui.global.loader').parent().addClass('active');
                $.ajax({
                    url: '/Historico/Avaliacao/Academica/Agendada/' + strCodigo,
                    method: 'POST',
                    success: function (htmlModal) {
                        avalCodigo = strCodigo;
                        $('.ui.avaliacao.modal').attr('id',strCodigo).html('').append(htmlModal).modal('show');
                        $('.ui.global.loader').parent().removeClass('active');
                        $('.ui.avaliacao.modal .ui.accordion').accordion({
                            onChange: function () { $('.ui.avaliacao.modal').modal('refresh'); }
                        });
                        AbrirHub();
                        ContagemRegressiva(1000);
                    },
                    error: function (xhr) { Mensagem("Ocorreu um erro."); $('.ui.global.loader').parent().removeClass('active'); }
                });
            }
        }

        function ContagemRegressiva(intervalo) {
            if (intervalo > 0) {
                setTimeout(function()
                {
                    $.ajax({
                        type:'GET',
                        url:'/Historico/Avaliacao/Academica/ContagemRegressiva',
                        data: { codAvaliacao: avalCodigo},
                        success: function(data) {
                            $('#contagem').text(data.Tempo).parent().transition('flash');
                            if (data.Tempo == 'Agora' && data.Intervalo == 0 && data.FlagLiberada == true) {
                                $('.iniciar.button').removeClass('disabled').text('Iniciar');
                                $('.acompanhar.button').removeClass('disabled');
                            }
                            ContagemRegressiva(data.Intervalo);
                        }                        
                    });
                }, intervalo);
            }
        }

        function AbrirHub() {
            var usuarioCategoria = @(SIAC.Web.Helpers.Sessao.UsuarioCategoriaCodigo);
            var acadHub = $.connection.academicaHub;
            //SignalR           

            if (usuarioCategoria == 1) {   
                acadHub.client.liberar = function (strCodigo) {
                    alert('O professor liberou a avaliação.');
                    var $modal = $('#'+strCodigo);
                    $.ajax({
                        type:'GET',
                        url:'/Historico/Avaliacao/Academica/ContagemRegressiva',
                        data: { codAvaliacao: avalCodigo},
                        success: function(data) {
                            if (data.Tempo == 'Agora' && data.Intervalo == 0 && data.FlagLiberada == true) {
                                $('.iniciar.button').removeClass('disabled').text('Iniciar');
                            }
                        }                        
                    });                                    
                    $modal.find('#mensagem').html('\
                        <i class="checkmark icon"></i>\
                        <div class="content">\
                            Seu professor liberou a prova\
                            <div class="sub header">Você já pode iniciar assim que chegar a hora de aplicação</div>\
                        </div>');
                };  
                acadHub.client.bloquear = function (strCodigo) {
                    alert('O professor bloqueou a avaliação.');
                    var $modal = $('#'+strCodigo);
                    $modal.find('.iniciar.button').addClass('disabled').text('Aguarde'); 
                    $.ajax({
                        type:'GET',
                        url:'/Historico/Avaliacao/Academica/ContagemRegressiva',
                        data: { codAvaliacao: avalCodigo},
                        success: function(data) {
                            if (data.Tempo == 'Agora' && data.Intervalo == 0 && data.FlagLiberada == false) {
                                $('.iniciar.button').addClass('disabled').text('Aguarde');
                            }
                        }                        
                    }); 
                    $modal.find('#mensagem').html('\
                        <i class="clock icon"></i>\
                        <div class="content">\
                            Seu professor não liberou a prova ainda\
                            <div class="sub header">Aguarde a liberação da avaliação para iniciar</div>\
                        </div>');
                }; 
                $.connection.hub.start().done(function () {
                    acadHub.server.realizar(avalCodigo);
                });
            }
            else if(usuarioCategoria == 2) {
                $.connection.hub.start().done(function () {
                    $('.liberar.button').click(function() { 
                        $('.liberar.button').addClass('loading');
                        $.ajax({
                            url: '/Dashboard/Avaliacao/Academica/AlternarLiberar',
                            type: 'POST',
                            data: { codAvaliacao: avalCodigo },
                            success: function (data) { 
                                if (data == true) {
                                    acadHub.server.liberar(avalCodigo, true); 
                                    $('.liberar.button').addClass('active').removeClass('loading').text('Liberada');
                                    $.ajax({
                                        type:'GET',
                                        url:'/Historico/Avaliacao/Academica/ContagemRegressiva',
                                        data: { codAvaliacao: avalCodigo},
                                        success: function(data) {
                                            if (data.Tempo == 'Agora' && data.Intervalo == 0 && data.FlagLiberada == true) {
                                                $('.acompanhar.button').removeClass('disabled');
                                            }
                                        }                        
                                    });
                                }
                                else {
                                    acadHub.server.liberar(avalCodigo, false);
                                    $('.liberar.button').removeClass('active').removeClass('loading').text('Liberar'); 
                                }
                            },
                            error: function() {
                                $('.liberar.button').removeClass('loading');
                                Mensagem('Ocorreu um erro inesperado.', 'Liberar avaliação');
                            }
                        });
                    } );
                });
            }
            
        };
    </script>
}
<div class="ui fullscreen avaliacao modal">
</div>

<h2>@ViewBag.Title</h2>
<div class="ui basic segment">
    <div class="ui two stackable cards">
        @foreach (AvalAcademica avalAcademica in Model)
            {
            <a onclick="Detalhe('@avalAcademica.Avaliacao.CodAvaliacao')" class="card">
                <div class="content">
                    <div class="header">@avalAcademica.Avaliacao.CodAvaliacao</div>
                    <div class="meta">
                        <span title="@avalAcademica.Avaliacao.DtCadastro.ToBrazilianString()">@avalAcademica.Avaliacao.DtCadastro.ToElapsedTimeString()</span>
                    </div>
                    <div class="description">
                        <p><b>Disciplina</b>: @avalAcademica.Disciplina.Descricao</p>
                        <p><b>Turma</b>: @avalAcademica.Turma.Curso.Descricao (@avalAcademica.Turma.CodTurma)</p>
                        <p><b>Quantidade de Questões</b>: @avalAcademica.Avaliacao.QteQuestoes()</p>
                    </div>
                </div>
                <!--
                <div class="extra content">
                    <div class="ui button">Arquivar</div>
                </div>
                -->
                <span class="ui @(avalAcademica.Avaliacao.DtAplicacao.Value < DateTime.Now ? "red" : "") attached top right label">
                    <i class="@(avalAcademica.Avaliacao.DtAplicacao.Value < DateTime.Now ? "warning" : "clock") icon"></i>
                    @avalAcademica.Avaliacao.DtAplicacao.Value.ToString("dd/MM/yyyy HH:mm")
                </span>
            </a>
        }
    </div>
</div>

