@using SIAC.Models;
@model AvalAcademica
@{
    ViewBag.Title = "Avaliação "+ @Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>

<div class="ui icon message positive">
    <i class="icon checkmark"></i>
    <div class="content">
        <div class="header">Avaliação gerada com sucesso.</div>
        <p>Sua avaliação acadêmica encontra-se no seu <b><a href="/Historico/Avaliacao/Academica">Histórico</a></b> e você poderá realizá-la quando bem entender.
    </div>
</div>
<div class="ui segment">
    <div class="ui dividing header">
        Detalhes
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Tema(s)</th>
                <th>Quantidade</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                <tr>
                    <td>
                        @* disciplina *@
                        <b>@disc.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @* temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        @* qte de questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 2)</div></div>
                    </td>
                    <td>
                        @* dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div class="ui very relaxed items">
    <span class="ui label">@ViewBag.QteQuestoes Questões</span>
    @{
        List<int> cods = new List<int>();
        foreach (QuestaoTema questao in ViewBag.QuestoesDaAvaliacao)
        {
            cods.Add(questao.CodQuestao);
            if (questao != null)
            {
                <div class="item">
                    <div class="content">
                        <a href="/Historico/Questao/@questao.CodQuestao" class="header">@questao.Questao.Enunciado.ToShortString(140)</a>
                        <div class="meta ui labels">
                            <span class="ui label">@questao.Tema.Disciplina.Descricao</span>
                            @foreach (QuestaoTema t in questao.Questao.QuestaoTema)
                            {
                                <span class="ui tag label">@t.Tema.Descricao</span>
                            }
                            <span class="ui label">@questao.Questao.Dificuldade.Descricao - @questao.Questao.CodDificuldade</span>
                            <span class="ui label">@questao.Questao.TipoQuestao.Descricao</span>
                        </div>
                    </div>
                </div>
            }
        }
        cods.Sort();
        foreach (var item in cods)
        {
            <span class="ui label">@item</span>
        }
    }
</div>*@

<a href="/Dashboard" class="ui button">Voltar para Dashboard</a>
<a href="/Historico/Avaliacao/Academica" class="ui button">Avaliações Acadêmicas</a>
<a href="/Dashboard/Avaliacao/Academica/Agendar/@Model.Avaliacao.CodAvaliacao" class="ui button">Agendar agora</a>