@using SIAC.Web.Models
@model AvalAcademica
@{
    ViewBag.Title = "Configurar " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $('.ui.informacoes.modal').modal();
        $('.cancelar.button').popup({ on: 'click' });
        $('div').popup();

        function obterNovaQuestao(codQuestao)
        {
            $('.ui.segment').addClass('loading');
            $.ajax({
                type: "POST",
                url: '@Url.RouteUrl("AvalAcadTrocarQuestao")',
                data: { codigo: '@Model.Avaliacao.CodAvaliacao' },
                success: function (data) {
                    $('.ui.segment').removeClass('loading');
                    Mensagem(data);
                },
                error: function (data) {
                    $('.ui.segment').removeClass('loading');
                    alert('erro');
                }
            });
            //Mensagem(codQuestao,"Código de Questão");
        }
    </script>
    }

<h2>
    @ViewBag.Title 
    <div class="ui right floated button" onclick="$('.ui.informacoes.modal').modal('show')">Informações</div>
    <a onclick="window.open('/Historico/Avaliacao/Academica/Imprimir/@Model.Avaliacao.CodAvaliacao', '_blank');" class="ui right floated button">Visualizar impressão</a>
</h2>

<div class="ui informacoes modal">
    <i class="icon close"></i>
    <div class="header">Informações sobre a avaliação</div>
    <div class="content">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @* Disciplina *@
                        <b>@Model.Disciplina.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @* Temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema)
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        @* Qte de Questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.CodDisciplina, 1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.CodDisciplina, 2)</div></div>
                    </td>
                    <td>
                        @* Dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(Model.CodDisciplina)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui basic segment">
    <h3 class="ui dividing header">Questões</h3>
    <div class="ui one cards" style="max-height: 25em; overflow-y: auto">
        @{ 
            int contador = 0;
            foreach (Questao questao in Model.Avaliacao.Questao)
            {
                <div class="card">
                    <div class="content">
                        <div class="header" data-html="@( !String.IsNullOrEmpty(questao.Objetivo) ? "<b>Objetivo</b>: " + questao.Objetivo : "")">
                            <div onclick="obterNovaQuestao(@questao.CodQuestao)" class="ui icon right floated button"><i class="refresh icon"></i></div>
                            @{
                                var enunciado = (contador.GetIndiceQuestao()+". "+questao.Enunciado).Split('\n', '\r');
                                foreach (var strEnunciado in enunciado)
                                {
                                    if (!String.IsNullOrWhiteSpace(strEnunciado))
                                    {
                                        <p>@strEnunciado</p>
                                    }
                                }
                            }
                        </div>                    
                    </div>
                    <div class="content">
                        @if (questao.CodTipoQuestao == 1)
                        {
                            <div class="ui list">
                                @foreach (var alternativa in questao.Alternativa)
                                    {
                                    <div class="item">
                                        <div class="middle aligned content" data-html="@(!String.IsNullOrEmpty(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                                            <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                            @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                                            {
                                                <a class="ui tiny green label">Correta</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div data-html="@(!String.IsNullOrEmpty(questao.Comentario) ? "<b>Comentário</b>: " + questao.Comentario : "")">
                                <a class="ui tiny green ribbon label">Chave de Resposta</a>
                                @{
                                    var chaveDeResposta = questao.ChaveDeResposta.Split('\n', '\r');
                                    foreach (var strChaveDeResposta in chaveDeResposta)
                                    {
                                        if (!String.IsNullOrWhiteSpace(strChaveDeResposta))
                                        {
                                            <p><i>@strChaveDeResposta</i></p>
                                        }
                                    }
                                }
                            </div>
                        }
                    </div>
                    @if (questao.QuestaoAnexo.Count > 0)
                    {
                        <div class="extra content">
                            <div class="ui styled fluid accordion">
                                <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                <div class="content">
                                    @foreach (var anexo in questao.QuestaoAnexo)
                                    {
                                        switch (anexo.CodTipoAnexo)
                                        {
                                            case 1:
                                                <a onclick="expandirImagem(this)" class="ui card">
                                                    <div class="image">
                                                        <img src="data:image/png;base64,@Convert.ToBase64String(anexo.Anexo, 0, anexo.Anexo.Length)" />
                                                    </div>
                                                    <div class="content">
                                                        <div class="header">
                                                            @anexo.Legenda
                                                        </div>
                                                        <div class="description">
                                                            @(!String.IsNullOrEmpty(anexo.Fonte) ? anexo.Fonte : "Fonte não informada")
                                                        </div>
                                                    </div>
                                                </a>
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    }    
                </div>
                contador++;
            }
        }
    </div>
</div>

<div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='/Historico/Avaliacao/Academica/Detalhe/@Model.Avaliacao.CodAvaliacao' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
<div class="ui button">Arquivar</div>
<div class="ui button disabled">Salvar</div>
