@using SIAC.Web.Models;
@model AvalAcademica
@{
    ViewBag.Title = "Corrigir " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        function entrar() {
            $('.ui.accordion').accordion({
            });
        }

        entrar();
    </script>
}

<h2>
    @ViewBag.Title
<div class="ui right floated button">Corrigir</div>
</h2>

<div class="informacoes">
    <div class="content">
        <div class="ui labels">
            <div class="ui label">Disciplina<div class="detail">@Model.Disciplina.Descricao</div></div>
            <div class="ui label">Curso<div class="detail">@Model.Turma.Curso.Descricao</div></div>
            <div class="ui label">Turma<div class="detail">@Model.Turma.CodTurma</div></div>
            <div class="ui label">Início<div class="detail">@Model.Avaliacao.DtAplicacao.Value.ToString("HH'h'mm'min'")</div></div>
            <div class="ui label">Término<div class="detail">@Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value).ToString("HH'h'mm'min'")</div></div>
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>@Model.Disciplina.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema)
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(2)</div></div>
                    </td>
                    <td>
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(Model.Disciplina.CodDisciplina)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui accordion">
        @foreach (Aluno aluno in Model.Aluno.OrderBy(a => a.Usuario.PessoaFisica.Nome))
        {
            <div id="@aluno.MatrAluno" class="title">
                <i class="dropdown icon" style="float:right"></i>
                <div class="ui status mini empty circular label"></div>
                <b class="nome">@aluno.Usuario.PessoaFisica.Nome</b> @aluno.MatrAluno
            </div>
            <div id="@aluno.MatrAluno" class="content">
                <div style="height: 200px; background-color: teal;">
                    <table class="ui celled table">
                        <tr>
                            @foreach (AvalQuesPessoaResposta resp in aluno.Usuario.PessoaFisica.AvalQuesPessoaResposta.OrderBy(aqpr=>aqpr.CodQuestao))
                            {
                                if (@resp.RespAlternativa.HasValue)
                                {
                                <td>@resp.CodQuestao - @resp.RespAlternativa.Value</td>
                                }
                            }
                        </tr>
                    </table>
                </div>
            </div>
        }
    </div>
</div>