@using SIAC.Models;
@model AvalAcademica
@{
    ViewBag.Title = "Corrigir " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        function entrar(codAvaliacao,arrayQuestoes) {
            $('.ui.accordion').accordion({ animateChildren: false });
            $('.ui.modal').modal();
            $('.ui.dropdown').dropdown();

            $('.ui.button.informacoes').click(function () {
                $('.modal.informacoes').modal('show');
            })
            $('.ui.button.corrigir').click(function () {
                $('.modal.corrigir').modal('show');
            })

            $('.ui.dimmer').css('z-index', 1);

            function getIndiceQuestao(codQuestao) {
                return jQuery.inArray(codQuestao, arrayQuestoes);
            }

            $('#ddlCorrecaoModo').change(function () {
                var modo = $(this).val();
                $ddlCorrecaoValor = $('#ddlCorrecaoValor');
                $ddlCorrecaoValor.parent().addClass('loading');
                $('.correcao.conteudo').html('');
                $ddlCorrecaoValor.dropdown('set placeholder text','Selecione...');
                
                if (modo == 'aluno') {
                    $.ajax({
                    cache: true,
                    type: 'POST',
                    url: '/Dashboard/Avaliacao/Academica/CarregarAlunos/'+codAvaliacao,
                    success: function (data) {
                        $ddlCorrecaoValor.html('<option value="">Selecione o Aluno</option>');
                        $ddlCorrecaoValor.parents('.field').find('label').text('Selecione o Aluno');
                        for (i = 0, length = data.length; i < length; i++)
                        {
                            $ddlCorrecaoValor.append('<option value="'+data[i].Matricula+'">'+data[i].Nome+'</option>');
                        }
                        $ddlCorrecaoValor.parent().removeClass('loading').removeClass('disabled');
                        $ddlCorrecaoValor.dropdown('set selected', -1);

                    },
                    error: function () {
                        siac.mensagem('Ocorreu um erro.');
                        $ddlCorrecaoValor.parent().removeClass('loading');
                    }
                    });
                }
                else if (modo == 'questao') {
                    $.ajax({
                        cache: true,
                        type: 'POST',
                        url: '/Dashboard/Avaliacao/Academica/CarregarQuestoesDiscursivas/' + codAvaliacao,
                        success: function (data) {
                            $ddlCorrecaoValor.parents('.field').find('label').text('Selecione a Questão');
                            $ddlCorrecaoValor.html('');
                            $ddlCorrecaoValor.append('<option value="">Selecione a Questão</option>');
                            for (i = 0, length = data.length; i < length; i++) {
                                $ddlCorrecaoValor.append('<option value="' + data[i].codQuestao + '">' + getIndiceQuestao(data[i].codQuestao) + '. ' + siac.Utilitario.encurtarTextoEm(data[i].questaoEnunciado,80) + '</option>');
                            }
                            $ddlCorrecaoValor.parent().removeClass('loading').removeClass('disabled');
                        },
                        error: function () {
                            siac.mensagem('Ocorreu um erro.');
                            $ddlCorrecaoValor.parent().removeClass('loading');
                        }
                    });
                }
            });

            $('#ddlCorrecaoValor').change(function () {
                var _this = this;
                $modal = $(_this).parents('.modal')
                var modo = $('#ddlCorrecaoModo').val();
                var valor = $(_this).val();
                if (valor) {
                    $conteudo = $('.correcao.conteudo');
                    $(_this).parent().addClass('loading');
                    if (modo == 'aluno') {
                        $conteudoQuestao = $('#templateCorrecaoAluno');
                        $.ajax({
                            type: 'POST',
                            url: '/Dashboard/Avaliacao/Academica/CarregarRespostasDiscursivas/' + codAvaliacao,
                            data: {
                                matrAluno: valor
                            },
                            success: function (data) {
                                $('.correcao.conteudo').html('');
                                for (i = 0, length = data.length; i < length; i++) {
                                    $conteudoQuestaoClone = $conteudoQuestao.clone();
                                    $conteudoQuestaoClone.removeAttr('id').removeAttr('hidden');
                                    $conteudoQuestaoClone.html($conteudoQuestao.html());

                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{matrAluno}', valor));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{codQuestao}', data[i].codQuestao));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoEnunciado}', data[i].questaoEnunciado));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoIndice}', getIndiceQuestao(data[i].codQuestao)));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoChaveResposta}', data[i].questaoChaveResposta));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{alunoResposta}', data[i].alunoResposta));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{correcaoComentario}', data[i].correcaoComentario));

                                    $conteudo.append($conteudoQuestaoClone);

                                    if (data[i].flagCorrigida) {
                                        $conteudoQuestaoClone.find('.dimmer').dimmer('show');
                                        $conteudoQuestaoClone.find('.notaObtida').val(data[i].notaObtida);
                                    }
                                }

                                $modal.modal('refresh');
                                $(_this).parent().removeClass('loading');

                                $('.button.corrigir.aluno').click(function () {
                                    corrigirQuestao(this);
                                });
                            },
                            error: function () {
                                siac.mensagem('Ocorreu um erro.');
                                $(_this).parent().removeClass('loading');
                            }
                        });
                    }
                    else if (modo == 'questao') {
                        $conteudoQuestao = $('#templateCorrecaoQuestao');
                        $.ajax({
                            type: 'POST',
                            url: '/Dashboard/Avaliacao/Academica/CarregarRespostasPorQuestao/' + codAvaliacao,
                            data: {
                                codQuestao: valor
                            },
                            success: function (data) {
                                $('.correcao.conteudo').html('');
                                if (data) {
                                    $conteudoQuestaoClone = $conteudoQuestao.clone().removeAttr('id').removeAttr('hidden');;
                                    $conteudoQuestaoClone.find('table').remove();
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoEnunciado}', data[0].questaoEnunciado));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoIndice}', getIndiceQuestao(data[0].codQuestao)));
                                    $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{questaoChaveResposta}', data[0].questaoChaveResposta));
                                    $conteudo.append($conteudoQuestaoClone);

                                    for (i = 0, length = data.length; i < length; i++) {
                                        $conteudoQuestaoClone = $conteudoQuestao.clone();
                                        $conteudoQuestaoClone.removeAttr('id').removeAttr('hidden');
                                        $conteudoQuestaoClone.html($conteudoQuestaoClone.find('table').parent()).attr('id', 'aln' + data[i].alunoMatricula);

                                        $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{matrAluno}', valor));
                                        $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{alunoNome}', data[i].alunoNome));
                                        $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{codQuestao}', data[i].codQuestao));
                                        $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{alunoResposta}', data[i].alunoResposta));
                                        $conteudoQuestaoClone.html(siac.Utilitario.substituirTodos($conteudoQuestaoClone.html(), '{correcaoComentario}', data[i].correcaoComentario));

                                        $conteudo.append($conteudoQuestaoClone);

                                        if (data[i].flagCorrigida) {
                                            $conteudoQuestaoClone.find('.dimmer').dimmer('show');
                                            $conteudoQuestaoClone.find('.notaObtida').val(data[i].notaObtida);
                                        }
                                    }

                                    $modal.modal('refresh');
                                    $(_this).parent().removeClass('loading');

                                    $('.button.corrigir.aluno').click(function () {
                                        corrigirQuestao(this);
                                    });
                                }
                            },
                            error: function () {
                                siac.mensagem('Ocorreu um erro.');
                                $(_this).parent().removeClass('loading');
                            }
                        });
                    }
                }
            });

            function corrigirQuestao(_this) {
                modo = $('#ddlCorrecaoModo').val();
                
                matrAluno = $('#ddlCorrecaoValor').val();
                codQuestao = $(_this).parents('[id]').attr('id');
                id = codQuestao;

                if (modo == "questao") {
                    matrAluno = $(_this).parents('[id]').attr('id');;
                    codQuestao = $('#ddlCorrecaoValor').val();
                    id = matrAluno;
                    matrAluno = matrAluno.split('aln')[1];
                }
                notaObtida = $('#' + id + ' .notaObtida').val();
                correcaoComentario = $('#' + id + ' .correcaoComentario').val();
                $('#' + id + ' .button.corrigir.aluno').addClass('loading');

                $.ajax({
                    type: 'POST',
                    url: '/Dashboard/Avaliacao/Academica/CorrigirQuestaoAluno/' + codAvaliacao,
                    data: {
                        matrAluno: matrAluno,
                        codQuestao: codQuestao,
                        notaObtida: notaObtida,
                        profObservacao:correcaoComentario
                    },
                    success:function(data){
                        $('#' + id + ' .button.corrigir.aluno').removeClass('loading').addClass('disabled');
                        $('#' + id).find('.segment').dimmer('show');
                    },
                    error: function (data) {
                        siac.mensagem(data);
                        $('#' + id + ' .button.corrigir.aluno').removeClass('loading');
                    }
                });
            }
        }

        var arrayQuestoes = [];
        var contadorQuestoes = 1;
        @foreach(Questao q in Model.Avaliacao.Questao.OrderBy(q=>q.CodQuestao))
        {<text>
            arrayQuestoes[contadorQuestoes] = @q.CodQuestao
            contadorQuestoes++;
        </text>}

        entrar('@Model.Avaliacao.CodAvaliacao',arrayQuestoes);
    </script>
}

<h2>
    @ViewBag.Title
    <div class="ui right floated button corrigir">Corrigir</div>
    <div class="ui right floated button informacoes">Informações</div>
</h2>

<div class="ui modal informacoes">
    <div class="header">
        @Model.Avaliacao.CodAvaliacao
    </div>
    <div class="content">
        <div class="ui fluid styled accordion">
            <div class="active title"><i class="dropdown icon"></i>Detalhes</div>
            <div class="active content">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Tema(s)</th>
                            <th>Quantidade</th>
                            <th>Dificuldade</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                        {
                            <tr>
                                <td>
                                    @* disciplina *@
                                    <b>@disc.Descricao</b>
                                </td>
                                <td class="ui labels">
                                    @* temas *@
                                    @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                                    {
                                        <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                    }
                                </td>
                                <td class="ui labels">
                                    @* qte de questões *@
                                    <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 1)</div></div>
                                    <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 2)</div></div>
                                </td>
                                <td>
                                    @* dificuldade *@
                                    @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="title"><i class="dropdown icon"></i>Agendamento</div>
            <div class="content">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Turma</th>
                            <th>Data</th>
                            <th>Horário</th>
                            <th>Sala</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @* Turma *@
                                @Model.Turma.Curso.Descricao (@Model.Turma.CodTurma)
                            </td>
                            <td>
                                @* Data *@
                                @Model.Avaliacao.DtAplicacao.Value.ToString("ddd, dd/MM/yyyy")
                            </td>
                            <td>
                                @* Horário *@
                                Das @Model.Avaliacao.DtAplicacao.Value.ToShortTimeString() até @Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value).ToShortTimeString()
                            </td>
                            <td>
                                @* Sala *@
                                @Model.Sala.Descricao
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* Placeholder da opção de Correção por Aluno *@
<div id="templateCorrecaoAluno" class="ui basic segment questoes aluno" hidden>
    <div id="{codQuestao}" class="ui fluid card">
        <div class="content">
            <div class="header">
                <p>{questaoIndice}. {questaoEnunciado}
            </div>
            <a class="ui tiny ribbon label">Chave de Resposta</a>
            <p><i>{questaoChaveResposta}</i></p>
        </div>
        <div class="segment">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th class="six wide">Resposta do Aluno</th>
                        <th class="two wide">Nota Obtida</th>
                        <th class="six wide">Comentário de Correção</th>
                        <th class="three wide"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{alunoResposta}</td>
                        <td>
                            <div class="field required">
                                <input type="number" value="@Parametro.Obter().ValorNotaMedia.ToValueHtml()" min="0" step="0.1" max="10" class="notaObtida" />
                            </div>
                        </td>
                        <td>
                            <div class="field required">
                                <textarea class="correcaoComentario" rows="3">{correcaoComentario}</textarea>
                            </div>
                        </td>
                        <td>
                            <div class="ui button corrigir aluno">Salvar</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h2 class="ui inverted icon header">
                            <i class="checkmark icon"></i>
                            Questão Corrigida!
                        </h2>
                        <br />
                        <p class="detail">Clique para recorrigir</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* Placeholder da opção de Correção por Questão *@
<div id="templateCorrecaoQuestao" class="ui basic segment questoes aluno" hidden>
    <div id="{codQuestao}" class="ui fluid card">
        <div class="content">
            <div class="header">
                <p>{questaoIndice}. {questaoEnunciado}
            </div>
            <a class="ui tiny ribbon label">Chave de Resposta</a>
            <p><i>{questaoChaveResposta}</i></p>
        </div>
        <div class="segment">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th class="six wide">{alunoNome}</th>
                        <th class="two wide">Nota Obtida</th>
                        <th class="six wide">Comentário de Correção</th>
                        <th class="three wide"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{alunoResposta}</td>
                        <td>
                            <div class="field required">
                                <input type="number" value="@Parametro.Obter().ValorNotaMedia.ToValueHtml()" min="0" step="0.1" max="10" class="notaObtida" />
                            </div>
                        </td>
                        <td>
                            <div class="field required">
                                <textarea class="correcaoComentario" rows="3">{correcaoComentario}</textarea>
                            </div>
                        </td>
                        <td>
                            <div class="ui button corrigir aluno">Salvar</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <h2 class="ui inverted small icon header">
                            <i class="checkmark icon"></i>
                            Questão Corrigida!
                        </h2>
                        <br />
                        <p class="detail">Clique para recorrigir</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal fullscreen corrigir">
    <div class="header">
        Corrigir Avaliação
    </div>
    <div class="content">
        <form class="ui form">
            <div class="fields">
                <div class="four wide field required">
                    <label for="">Corrigir por...</label>
                    <select id="ddlCorrecaoModo" name="ddlCorrecaoModo" class="ui dropdown">
                        <option value="">Corrigir por...</option>
                        <option value="aluno">Aluno</option>
                        <option value="questao">Questão</option>
                    </select>
                </div>
                <div class="twelve wide field required">
                    <label for="">Selecione </label>
                    <select id="ddlCorrecaoValor" name="ddlCorrecaoValor" class="ui dropdown disabled" style="z-index:1005;"></select>
                </div>
            </div>
            <div class="correcao conteudo">
                
            </div>
        </form>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui accordion">
        @foreach (Aluno aluno in Model.Alunos.OrderBy(a => a.Usuario.PessoaFisica.Nome))
        {
            var lstResposta = Model.Avaliacao.PessoaResposta.Where(p => p.CodPessoaFisica == aluno.Usuario.CodPessoaFisica);

            bool realizou = lstResposta.Count() != 0;

            <div id="@aluno.MatrAluno" class="title">
                <i class="dropdown icon" style="float:right"></i>
                <b class="nome">@aluno.Usuario.PessoaFisica.Nome</b> @aluno.MatrAluno
                @if (!realizou)
                {
                    <div class="ui small label">Ausente</div>
                }
            </div>
            <div id="@aluno.MatrAluno" class="content">
                
                <table class="ui very basic table">
                    @{
                        int questaoIndice = 0;
                        int qteColunas = 10;
                        int colunaIndice = 1;
                    }
                    
                    <tr>
                        @foreach (AvalQuesPessoaResposta resp in lstResposta.OrderBy(aqpr => aqpr.CodQuestao))
                        {
                            if (colunaIndice == qteColunas)
                            {
                                @:</tr><tr>
                                colunaIndice = 1;
                            }
                            <td style="border:none!important;">
                                <a class="ui label">
                                    @if (resp.RespAlternativa.HasValue) {
                                    <i class="@(resp.RespNota == 10 ? "checkmark green" : "remove red") icon"></i>
                                    }
                                    else
                                    {
                                        <i class="write icon"></i>
                                    }
                                    @questaoIndice.GetIndiceQuestao()
                                    @if (resp.RespAlternativa.HasValue) {
                                    <div class="detail">@resp.RespAlternativa.Value.GetIndiceAlternativa()
                                    </div>
                                    }
                                </a>
                            </td>
                            questaoIndice+=1;
                            colunaIndice++;
                        }
                    </tr>
                </table>

            </div>
        }
    </div>
</div>
