
@{
    ViewBag.Title = "Gerar Avaliação Acadêmica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SIAC.Web.Models;
@section Scripts{
    <script>

        $('.ui.dropdown').dropdown();
        $('.ui.modal').modal();
        $('.ui.termo.modal').modal('show');
        $('.cancelar.button').popup({ on: 'click' });

        function prosseguir() {
            var errorList = $('form .error.message .list');

            errorList.html('');
            $('form').removeClass('error');

            var valido = true;

            if (!$('#ddlDisciplina').val()) {
                errorList.append('<li>Selecione uma disciplina</li>');
                valido = false;
            }

            if (!$('#ddlTemas').val()) {
                errorList.append('<li>Selecione ao menos um tema</li>');
                valido = false;
            }

            if (!$('#ddlTipo').val()) {
                errorList.append('<li>Selecione o tipo das questões da sua avaliação acadêmica</li>');
                valido = false;
            }

            if (($('#ddlTipo').val() == 1 || $('#ddlTipo').val() == 3) && !$('#txtQteObjetiva').val()) {
                errorList.append('<li>Indique a quantidade das questões objetivas</li>');
                valido = false;
            }
            if (($('#ddlTipo').val() == 2 || $('#ddlTipo').val() == 3) && !$('#txtQteDiscursiva').val()) {
                errorList.append('<li>Indique a quantidade das questões discursivas</li>');
                valido = false;
            }

            if (!$('#ddlDificuldade').val()) {
                errorList.append('<li>Selecione a dificuldade das questões</li>');
                valido = false;
            }


            if(valido){
                Confirmar();
            }
            else {
                $('form').addClass('error');
                $('html, body').animate({
                    scrollTop: $('form .error.message').offset().top
                }, 100);
            }
        }

        function Confirmar() {
            $modal = $('.ui.confirmar.modal');
            $ddlDisciplina = $('#ddlDisciplina :selected');
            $ddlTipo = $('#ddlTipo');
            $table = $modal.find('tbody').html('');

            $tr = $('<tr></tr>');
            $tdDisciplina = $('<td></td>').html('<b>' + $ddlDisciplina.text() + '</b>');
            $tdTemas = $('<td class="ui labels"></td>');

            $ddlTemas = $('#ddlTemas :selected');
            for (var i = 0; i < $ddlTemas.length; i++) {
                $tdTemas.append($('<div class="ui tag label"></div>').text($ddlTemas.eq(i).text()));
            }
            $tdQteQuestoes = $('<td class="ui labels"></td>');
            if ($ddlTipo.val() == 1 || $ddlTipo.val() == 3) {
                $tdQteQuestoes.append($('<div class="ui label"></div>').html('Objetiva<div class="detail">' + $('#txtQteObjetiva').val() + '</div>'));
            }
            if ($ddlTipo.val() == 2 || $ddlTipo.val() == 3) {
                $tdQteQuestoes.append($('<div class="ui label"></div>').html('Discursiva<div class="detail">' + $('#txtQteDiscursiva').val() + '</div>'));
            }
            $tdDificuldade = $('<td></td>').text($('#ddlDificuldade :selected').text());

            $table.append($tr.append($tdDisciplina).append($tdTemas).append($tdQteQuestoes).append($tdDificuldade));

            $modal.modal('show');
        }

        $('.ui.confirmar.modal')
         .modal({
             onApprove: function () {
                 $('form').addClass('loading').submit();
             }
         });


        function listarTemas(codDisciplina) {
            var disciplinas = $('#ddlDisciplinas');
            var ddlTemas = $('#ddlTemas');

            ddlTemas.parent().addClass('loading');
            $.ajax({
                type: 'GET',
                url: '@(Url.RouteUrl("RecuperarTemasPorCodDisciplinaTemQuestao"))',
                data: { 'codDisciplina': codDisciplina },
                success: function (data) {
                    ddlTemas.html('');
                    ddlTemas.val(ddlTemas.prop('defaultSelected'));
                    $.each(data, function (id, item) {
                        ddlTemas.append('<option value="' + item.CodTema + '">' + item.Descricao + '</option>');
                    });

                    ddlTemas.parent().removeClass('loading');
                },
                error: function (xhr) {
                    siac.mensagem("Erro no carregamento de Temas","Erro");
                    ddlTemas.parent().removeClass('loading');
                    siac.mensagem(xhr.error);
                }
            });
        }

        function OpcoesPorTipo(tipoAvaliacao) {
            var txtQteObjetiva = $('#txtQteObjetiva');
            var txtQteDiscursiva = $('#txtQteDiscursiva');

            if (tipoAvaliacao == 1) {
                txtQteObjetiva.prop('disabled', false);
                txtQteDiscursiva.prop('disabled', true);
            }
            else if(tipoAvaliacao == 2){
                txtQteObjetiva.prop('disabled', true);
                txtQteDiscursiva.prop('disabled', false);
            }
            else {
                txtQteObjetiva.prop('disabled', false);
                txtQteDiscursiva.prop('disabled', false);
            }
        }

    </script>
}

<div class="ui termo modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        @{
            var termo = ViewBag.Termo.Split('\n', '\r');
            foreach (var str in termo)
            {
                if (!String.IsNullOrWhiteSpace(str))
                {
                    <p>@str</p>
                }
            }
        }
    </div>
    <div class="actions">
        <a href="/Dashboard" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form id="frmAutoavaliacao" method="post" action="/Dashboard/Avaliacao/Academica/Confirmar" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Disciplinas *@
    <div class="field required">
        <label>Disciplina</label>
        <select id="ddlDisciplina" name="ddlDisciplina" class="ui search dropdown" onchange="listarTemas($(this).val())" required>
            <option value="">Disciplina</option>
            @foreach (var disc in ViewBag.Disciplinas)
            {
                <option value="@disc.CodDisciplina">@disc.Descricao</option>
            }
        </select>
    </div>
    @* Temas *@
    <div class="field required">
        <label>Tema (s)</label>
        <select id="ddlTemas" name="ddlTemas" class="ui search dropdown fluid tema" multiple required>
            <option value="">Temas...</option>
        </select>
    </div>
    @* Tipo das Questões *@
    <div class="field required">
        <label>Tipo das Questões</label>
        <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" onchange="OpcoesPorTipo($(this).val())" required>
            <option value="">Tipo</option>
            <option value="2">Somente discursivas</option>
            <option value="1">Somente objetivas</option>
            <option value="3">Misto</option>
        </select>
    </div>
    @* Dificuldade das Questões *@
    <div class="field required">
        <label>Dificuldade das Questões</label>
        <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown" required>
            <option value="">Dificuldade...</option>
            @foreach (Dificuldade d in ViewBag.Dificuldades)
            {
                <option value="@d.CodDificuldade">@d.Descricao</option>
            }
        </select>
    </div>
    @* Qte das Questões *@
    <div class="field"><label>Quantidade das Questões</label></div>
    <div class="two fields"> 
        <div class="field required">
            <label>Objetiva</label>
            <input id="txtQteObjetiva" name="txtQteObjetiva" data-mask="0#" type="number" placeholder="Quantidade..." required />
        </div>
        <div class="field required">
            <label>Discursiva</label>
            <input id="txtQteDiscursiva" name="txtQteDiscursiva" data-mask="0#" type="number" placeholder="Quantidade..." required />
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='/Historico/Avaliacao/Academica' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div onclick="prosseguir()" class="ui prosseguir button">Prosseguir</div>
    </div>
</form>