@using SIAC.Web.Models
@model List<AvalAcademica>
@{
    ViewBag.Title = "Minhas Avaliações Acadêmicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        var jsnAvalAcadGeral;
        var jsnAvalAcadFiltro;

        $(document).ready(function () {
            window.onbeforeunload = function () { $ajax.abort(); $('.ui.global.loader').parent().addClass('active'); };
        });

        $ajax = $.ajax({
            url: '/Historico/Avaliacao/Academica/Minhas',
            method: 'GET',
            success: function (acad) {
                jsnAvalAcadGeral = acad;
                jsnAvalAcadFiltro = acad;
                MinhasAutos();
                $('.ui.loading.input > input[type="text"]').prop('disabled', false);
                $('.ui.loading.input').removeClass('loading');
            },
            error: function () {
                $('.ui.loading.input').removeClass('loading');
            }
        });

        function Filtro(strTexto) {
            strTexto = strTexto.toLowerCase().trim();
            jsnAvalAcadFiltro = [];
            for (var i = 0; i < jsnAvalAcadGeral.length; i++) {
                if (jsnAvalAcadGeral[i].CodAvaliacao.toLowerCase().indexOf(strTexto) > -1) {
                    jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
                }
                else if (jsnAvalAcadGeral[i].DtCadastro.toLowerCase().indexOf(strTexto) > -1) {
                    jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
                }
                else if (jsnAvalAcadGeral[i].Dificuldade.toLowerCase().indexOf(strTexto) > -1) {
                    jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
                }
                //else if (strTexto == 'arquivo') {
                //    if (jsnAvalAcadGeral[i].FlagArquivo == true) {
                //        jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
                //    }
                //}
                //else if (strTexto == 'pendente') {
                //    if (jsnAvalAcadGeral[i].FlagPendente == true) {
                //        jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);
                //    }
                //}
                else if (jsnAvalAcadGeral[i].Disciplina.toLowerCase().indexOf(strTexto) > -1) {
                    jsnAvalAcadFiltro.push(jsnAvalAcadGeral[i]);                        
                }
            }
            MinhasAutos();
        }

        function MinhasAutos(pagina) {
            $('.ui.cards').parent().addClass('loading');
            var qtePorPagina = 9;
            var qtePaginacao = 7;
            var length = jsnAvalAcadFiltro.length;
            if (pagina == null) {
                pagina = 1;
            }
            var count = pagina * qtePorPagina;
            if (count > length) {
                count = length;
            }
            $('.ui.cards').html('');
            for (var i = ((qtePorPagina * pagina) - qtePorPagina) ; i < count; i++) {
                $card = $('<div class="card"></div>').html('\
                            <div class="content">\
                                <a href="/Historico/Avaliacao/Academica/Detalhe/'+ jsnAvalAcadFiltro[i].CodAvaliacao + '" class="header">' + jsnAvalAcadFiltro[i].CodAvaliacao + '</a>\
                                <div class="meta">\
                                    <span title="'+ jsnAvalAcadFiltro[i].DtCadastro + '">' + jsnAvalAcadFiltro[i].DtCadastroTempo + '</span>\
                                </div>\
                                <div class="description">\
                                    <p><b>Turma</b>: '+ jsnAvalAcadFiltro[i].Turma + '</p>\
                                    <p><b>Quantidade de Questões</b>: '+ jsnAvalAcadFiltro[i].QteQuestoes + '</p>\
                                </div>\
                            </div>\
                        ');
                $labelsDisc = $('<div class="ui labels"></div>');
                $labelsDisc.append('<div class="ui tag label">' + jsnAvalAcadFiltro[i].Disciplina + '</div>');
                $extraContent = $('<div class="extra content"></div>').append($labelsDisc);
                $card.append($extraContent);
                if (jsnAvalAcadFiltro[i].FlagLiberada == true) {
                    $card.append('<span class="ui attached top right label"><i class="checkmark icon"></i>Realizada</span>');
                    $card.append('<a href="/Historico/Avaliacao/Academica/Detalhe/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Resultados</a>');
                }
                else {
                    if (jsnAvalAcadFiltro[i].Turma) {
                        $card.append('<span class="ui attached top right label"><i class="clock icon"></i>Agendada</span>');
                        $card.append('<a href="/Dashboard/Avaliacao/Academica/Configurar/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Configurar</a>');
                    }
                    else {
                        $card.append('<a href="/Dashboard/Avaliacao/Academica/Agendar/' + jsnAvalAcadFiltro[i].CodAvaliacao + '" class="ui button">Agendar</a>');
                    }
                }
                $('.ui.cards').append($card);
            }
            $('.ui.pagination.menu').html('');
            var i = pagina - 3;
            for (i; i <= (Math.ceil(length / qtePorPagina)) - 3 && $('.ui.pagination.menu .item').length < 5; i++) {
                if (i < 1) {
                    continue;
                }
                if (i == pagina) {
                    $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
                    continue;
                }
                $('.ui.pagination.menu').append('<a class="item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
            }
            if ($('.ui.pagination.menu .item').length < 5) {
                for (i; $('.ui.pagination.menu .item').length < 5 && i <= (Math.ceil(length / qtePorPagina)) ; i++) {
                    if (i < 1) {
                        continue;
                    }
                    if (i == pagina) {
                        $('.ui.pagination.menu').append('<a class="active item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
                        continue;
                    }
                    $('.ui.pagination.menu').append('<a class="item" onclick="MinhasAutos(' + i + ')">' + i + '</a>');
                }
                if (pagina == (Math.ceil(length / qtePorPagina))) {
                    if (!((i - 5) < 1)) {
                        $('.ui.pagination.menu').prepend('<a class="item" onclick="MinhasAutos(' + (i - 5) + ')">' + (i - 5) + '</a>');
                    }
                }
            }
            $('.ui.cards').parent().removeClass('loading');
        }

    </script>
}

<h2>@ViewBag.Title <a class="ui right floated button" href="/Dashboard/Avaliacao/Academica/Gerar">Gerar</a></h2>
<div class="ui fluid icon loading input">
    <input type="text" placeholder="Filtrar..." onkeyup="Filtro($(this).val())" disabled />
    <i class="search icon"></i>
</div>
<div class="ui basic segment">
    <div class="ui three stackable cards">
        @foreach (AvalAcademica avalAcad in Model)
        {
            <div class="card">
                <div class="content">
                    <a href="/Historico/Avaliacao/Academica/Detalhe/@avalAcad.Avaliacao.CodAvaliacao" class="header">
                        @avalAcad.Avaliacao.CodAvaliacao
                    </a>
                    <div class="meta">
                        <span title="@avalAcad.Avaliacao.DtCadastro.ToBrazilianString()"> @avalAcad.Avaliacao.DtCadastro.ToElapsedTimeString() </span>
                    </div>
                    <div class="description">
	                    <p><b>Turma</b>: @(avalAcad.NumTurma.HasValue ? avalAcad.Turma.CodTurma : "null")</p>
                        <p><b>Quantidade de Questões</b>: @avalAcad.Avaliacao.QteQuestoes()</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui labels">
                        <div class="ui tag label">@avalAcad.Disciplina.Descricao</div>
                    </div>
                </div>
                @if (avalAcad.Avaliacao.FlagLiberada)
                {
                    <span class="ui attached top right label"><i class="checkmark icon"></i>Realizada</span>
                    <a href="/Historico/Avaliacao/Academica/Detalhe/@avalAcad.Avaliacao.CodAvaliacao" class="ui button">Resultados</a>
                }
                else if (avalAcad.NumTurma.HasValue)
                {
                    <span class="ui attached top right label"><i class="clock icon"></i>Agendada</span>
                    <a href="/Historico/Avaliacao/Academica/Configurar/@avalAcad.Avaliacao.CodAvaliacao" class="ui button">Configurar</a>
                }
                else
                {
                    <a href="/Historico/Avaliacao/Academica/Agendar/@avalAcad.Avaliacao.CodAvaliacao" class="ui button">Agendar</a>
                }
            </div>
        }
    </div>
</div>
<div class="ui pagination menu"></div>