@using SIAC.Models
@model AvalAcademica

@{
    ViewBag.Title = "Realizar " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Questao> lstQuestao = Model.Avaliacao.EmbaralharQuestao();
}

<h2 data-avaliacao="@Model.Avaliacao.CodAvaliacao" data-usuario="@SIAC.Helpers.Sessao.UsuarioMatricula">
    @ViewBag.Title
    <div class="ui trigger icon right floated chat button"><i class="icon comments outline"></i></div>
    <div class="ui chat popup wide" data-position="top right">
        <div class="header">
            @Model.Professor.Usuario.PessoaFisica.Nome.Split(' ')[0]
        </div>
        <div class="content">
            <div class="ui comments" style="height: 200px;width:300px; overflow-y:scroll;">
            </div>
            <div class="ui icon fluid input">
                <input id="txtChatMensagem" type="text" placeholder="Aperte enter para enviar..." maxlength="500" />
                <i class="send link icon enviar"></i>
            </div>
        </div>
    </div>
    <div class="ui right floated informacoes button">Informações</div>
</h2>

<div class="ui continuar small modal">
    <div class="header">Atenção</div>
    <div class="content">
        <p>Você ainda tem tempo para responder as questões restantes.</p>
        <p><b>Essa ação não poderá ser desfeita</b>.</p>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui informacoes modal">
    <i class="icon close"></i>
    <div class="header">Informações sobre autoavaliação</div>
    <div class="content">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>@Model.Disciplina.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema)
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(2)</div></div>
                    </td>
                    <td>
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(Model.Disciplina.CodDisciplina)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="ui small confirmar modal">
    <div class="header">Você tem certeza?</div>
    <div class="content">
        <input id="txtRef" type="text" hidden />
        Você está deixando a página. Isso será considerado como <b>desistência</b> e você perderá todos os dados.
    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar para avaliação</div>
        <div class="ui approve button">Deixar a página</div>
    </div>
</div>

<div class="ui anexo basic modal">
    <i class="close icon"></i>
    <div class="ui centered header"></div>
    <div class="image content">
        <img class="ui centered image">
    </div>
    <div class="description" style="text-align:center;"></div>
</div>

<div class="ui gabarito modal">
    <div class="header">Verifique e confirme</div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui labels">
    <div class="ui label">
        Ínicio
        <div id="lblHoraInicio" class="detail">@DateTime.Now.ToString("HH'h'mm'min'")</div>
    </div>
    <div class="ui label" data-termino="@Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value).ToString("yyyy-MM-dd HH:mm")">
        Término
        <div id="lblHoraTermino" class="detail"></div>
    </div>
    <div class="ui label">
        Agora
        <div id="lblHoraAgora" class="detail">00h00min</div>
    </div>
    <div class="ui label">
        Restante
        <div id="lblHoraRestante" class="detail">00h00min</div>
    </div>
</div>

<form class="ui form" action="/Dashboard/Avaliacao/Academica/Resultado/@Model.Avaliacao.CodAvaliacao" method="post">
    <div class="ui message error">
        <i class="icon close"></i>
        <div class="header">
            Responda todas as questões!
        </div>
    </div>
    <div class="ui basic segment">
        <div class="ui accordion">
            @for (int i = 0; i < lstQuestao.Count; i++)
            {
                <div id="@lstQuestao[i].CodQuestao" class="title">
                    <i class="dropdown icon"></i>@((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToShortString(80))
                    <div class="ui small label" style="display:none">Respondida</div>
                </div>
                <div id="@lstQuestao[i].CodQuestao" class="content">
                    <div class="ui segment">
                        <div class="ui dividing header" style="text-align:justify">
                            @{
                                var enunciado = (@i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).Split('\n', '\r');
                                foreach (var strEnunciado in enunciado)
                                {
                                    if (!String.IsNullOrWhiteSpace(strEnunciado))
                                    {
                                        <p>@strEnunciado</p>
                                    }
                                }
                            }
                        </div>
                        @if (lstQuestao[i].CodTipoQuestao == 1)
                        {
                            <div class="grouped fields">
                                <label>Selecione a alternativa</label>
                                @{ var lstAlternativa = lstQuestao[i].EmbaralharAlternativa(); }
                                @for (int j = 0; j < lstAlternativa.Count; j++)
                                {
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="rdoResposta@(lstQuestao[i].CodQuestao)" value="@lstAlternativa[j].CodOrdem" />
                                            <label><b>@j.GetIndiceAlternativa()</b>) @lstAlternativa[j].Enunciado</label>
                                        </div>
                                    </div>
                                }
                            </div>
                                    }
                                    else
                                    {
                                        <div class="field">
                                            <label>Resposta</label>
                                            <textarea name="txtResposta@(lstQuestao[i].CodQuestao)" id="txtResposta@(lstQuestao[i].CodQuestao)" placeholder="Resposta..." rows="3"></textarea>
                                        </div>
                                    }

                        <div class="accordion">
                            @if (lstQuestao[i].QuestaoAnexo.Count > 0)
                            {
                                <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                <div class="content">
                                    @foreach (var anexo in lstQuestao[i].QuestaoAnexo)
                                    {
                                        switch (anexo.CodTipoAnexo)
                                        {
                                            case 1:
                                                <a class="ui anexo imagem card">
                                                    <div class="image">
                                                        <img src="data:image/png;base64,@Convert.ToBase64String(anexo.Anexo, 0, anexo.Anexo.Length)" />
                                                    </div>
                                                    <div class="content">
                                                        <div class="header">
                                                            @anexo.Legenda
                                                        </div>
                                                        <div class="description">
                                                            @(!String.IsNullOrEmpty(anexo.Fonte) ? anexo.Fonte.ToShortString(30): "Fonte não informada")
                                                        </div>
                                                    </div>
                                                </a>
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </div>
                            }
                            <div class="title"><i class="icon dropdown"></i>Comentário</div>
                            <div class="content">
                                <div class="field">
                                    <label>Comentário</label>
                                    <textarea name="txtComentario@(lstQuestao[i].CodQuestao)" id="txtComentario@(lstQuestao[i].CodQuestao)" placeholder="Comentário..." rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                                    }
        </div>
    </div>
    <div class="ui trigger button">Desistir</div>
    <div class="ui popup">
        <div class="header">Desistir</div>
        <div class="content">Tem certeza que deseja desistir da avaliação? <b>Essa ação não poderá ser desfeita</b>.</div>
        <div class="content"><div class="ui right floated small desistir button">Confirmar</div></div>
    </div>
    <div class="ui finalizar button">Finalizar</div>
</form>

@section Scripts{
@Scripts.Render("~/bundles/js/academica")
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
}
