@model ImpressaoAvaliacaoViewModel

@{
    ViewBag.Title = Model.Titulo;
    Layout = null;
    List<Questao> lstQuestao = Model.Avaliacao.EmbaralharQuestao();
}
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - SIAC</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    <style>
        @@media print {
            div.parentQuestao {
                page-break-before: always;
            }

            div.questao {
                padding-top: 2.5em;
                page-break-inside: avoid;
            }

            div.form > :first-child {
                padding-top: unset;
                page-break-inside: avoid;
            }

            div.questao .ui.header {
                font-size: 1em;
            }
        }
    </style>
</head>
<body>
    <div class="ui text content">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="ui vertical segment">
        <div class="ui header dividing">
            Cabeçalho
        </div>
        <table class="ui very basic celled table">
            <tbody>
                <tr>
                    <td class="two wide">
                        <b>Instituição</b>
                    </td>
                    <td class="fourteen wide">
                        @Model.Instituicao
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Professor</b>
                    </td>
                    <td>
                        @Model.Professor
                    </td>
                </tr>
                @if (Model.Avaliacao.CodTipoAvaliacao == 5)
                {
                    <tr>
                        <td>
                            <b>Avaliação para Reposição</b>
                        </td>
                        <td>
                            @Model.Avaliacao.AvalAcadReposicao.Academica.Avaliacao.CodAvaliacao
                        </td>
                    </tr>
                }
                @foreach (var campo in Model.Campos)
                {
                    if (!String.IsNullOrWhiteSpace(campo))
                    {
                        <tr>
                            <td>
                                <b>@campo</b>
                            </td>
                            <td>
                                <div class="ui fluid input">
                                    <input type="text" />
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @switch (Model.Avaliacao.CodTipoAvaliacao)
    {
        case 2:
            @Html.Partial("_Academica", Model.Avaliacao.AvalAcademica);
            break;
        case 3:
            @Html.Partial("_Certificacao", Model.Avaliacao.AvalCertificacao);
            break;
        case 5:
            @Html.Partial("_Reposicao", Model.Avaliacao.AvalAcadReposicao);
            break;
        default:
            break;
    }

    @if (Model.Instrucoes.Length > 0)
    {
        <div class="ui vertical segment">
            <div class="ui header dividing">
                Instruções
            </div>
            @foreach (var instrucao in Model.Instrucoes)
            {
                if (!String.IsNullOrWhiteSpace(instrucao))
                {
                    <p>@instrucao.Trim()</p>
                }
            }
        </div>
    }

    @Html.Partial("_Questoes", lstQuestao)

    <footer class="ui vertical inverted segment">
        <h5 class="ui centered header">&copy; SIAC - Sistema Interativo de Avaliação de Conhecimento</h5>
    </footer>

    @Scripts.Render("~/bundles/js")
    <script>
        $('.ui.checkbox')
                .checkbox()
        ;
        var focused = false;
        window.print();
        focused = true;
        var interval = setInterval(function () { if (focused === true) { clearInterval(interval); window.location.href = "@Url.Action("Detalhe", Model.Avaliacao.TipoAvaliacao.DescricaoCurta.ReplaceChars("çãê", "cae"), new { codigo = Model.Avaliacao.CodAvaliacao })" } }, 300);
    </script>
</body>
</html>