@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalPessoaResultado

@{    
    List<Questao> lstQuestao = Model.Avaliacao.Questao;
    List<AvalQuesPessoaResposta> lstPessoaResposta = Model.Avaliacao.PessoaResposta.Where(p => p.CodPessoaFisica == Model.CodPessoaFisica).ToList();
    AvalPessoaResultado avalPessoaResultado = Model;
    int quantidadeAcerto = lstPessoaResposta.Where(p => p.RespNota.HasValue && p.RespNota.Value == 10).Count();
    double porcentagem = quantidadeAcerto / lstQuestao.Count;
}

@if (avalPessoaResultado != null)
{
    <div class="ui basic segment">
        <div class="ui dividing header">
            Desempenho
        </div>
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                    @((((double)quantidadeAcerto / (double)lstQuestao.Count) * 100).ToString("0.##'%'"))
                </div>
                <div class="label">
                    Porcentagem de Acerto
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    @quantidadeAcerto/@lstQuestao.Count
                </div>
                <div class="label">
                    Quantidade de Acerto
                </div>
            </div>
            <div class="statistic @(avalPessoaResultado.Nota.Value >= Parametro.Obter().ValorNotaMedia ? "green" : "red")">
                <div class="value">
                    @avalPessoaResultado.Nota.Value.ToString("0.0")
                </div>
                <div class="label">
                    Nota @(lstPessoaResposta.Where(r => !r.RespNota.HasValue).Count() == 0 ? "" : "Parcial")
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        <div class="ui dividing header">
            Resultado
        </div>
        <div class="ui accordion">
            @for (int i = 0; i < lstQuestao.Count; i++)
            {
                AvalQuesPessoaResposta resposta = lstPessoaResposta.First(r => r.CodQuestao == lstQuestao[i].CodQuestao);

                <div class="title">
                    <i class="dropdown icon"></i>@((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToShortString(80))
                    @if (lstQuestao[i].CodTipoQuestao == TipoQuestao.OBJETIVA)
                    {
                        Alternativa correta = lstQuestao[i].Alternativa.Single(a => a.FlagGabarito);
                        <div class="ui @(resposta.RespAlternativa == correta.CodOrdem ? "green" : "red" ) label">@(resposta.RespAlternativa == correta.CodOrdem ? Html.Raw("<i class=\"checkmark icon\"></i>Correta") : Html.Raw("<i class=\"remove icon\"></i>Incorreta") )</div>
                    }
                    else if (resposta.RespNota.HasValue)
                    {
                        <div data-html="@(("<b>Observação</b>: " + resposta.ProfObservacao).Replace("\n", "<br>"))" data-variation="very wide" class="ui @(resposta.RespNota.Value > Parametro.Obter().ValorNotaMedia ? "green" : "red" ) label"><i class="icon write"></i><div class="detail">@resposta.RespNota.Value.ToString("0.0")</div></div>
                    }
                </div>
                <div class="content">
                    <div class="ui segment">
                        <div class="ui dividing header" style="text-align:justify">
                            @Html.Raw((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToHtml("p"))
                        </div>
                        @if (lstQuestao[i].CodTipoQuestao == TipoQuestao.OBJETIVA)
                        {
                            <div class="ui list">
                                @foreach (var alternativa in lstQuestao[i].Alternativa)
                                {
                                    <div class="item">
                                        <div class="middle aligned content">
                                            <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                            @if (alternativa.FlagGabarito)
                                            {
                                                <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Correta</a>
                                            }
                                            @if (alternativa.CodOrdem == resposta.RespAlternativa)
                                            {
                                                <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Marcada</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div>
                                <a class="ui ribbon label" data-html="@(("<b>Chave de Resposta</b>: " + lstQuestao[i].ChaveDeResposta).Replace("\n", "<br>"))" data-variation="very wide">Chave de Resposta</a>
                                @Html.Raw(resposta.RespDiscursiva.ToHtml("p","i"))
                            </div>
                        }
                        @if (lstQuestao[i].QuestaoAnexo.Count > 0)
                        {
                            <div class="accordion">
                                <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                <div class="content">
                                    @foreach (var anexo in lstQuestao[i].QuestaoAnexo)
                                    {
                                        @Html.Partial("_Anexo", anexo)
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
