@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<AvalCertificacao>

@foreach (var cert in Model)
{
    var dtCadastro = cert.Avaliacao.DtCadastro.ToElapsedTimeString();
    bool flagProfessor = cert.Professor.MatrProfessor == Sessao.UsuarioMatricula;
    <div class="card hidden" style="display:none!important">
        <div class="content">
            <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="header">
               @cert.Disciplina.Descricao
            </a>
            <div class="meta">
                Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@cert.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            @if (cert.Avaliacao.FlagRealizada)
            {
                if (!flagProfessor)
                {
                    if (cert.PessoasRealizaram.Where(a => a.CodPessoa == Usuario.ObterPessoaFisica(Sessao.UsuarioMatricula)).Count() > 0)
                    {
                        <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                    }
                    else
                    {
                        <span class="ui ribbon label"><i class="remove icon"></i>Ausente</span>
                    }
                }
                else
                {
                    <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                }
            }
            else
            {
                if (cert.Avaliacao.FlagArquivo)
                {
                    <span class="ui ribbon label"><i class="archive icon"></i>Arquivada</span>
                }
                else if (cert.PessoaFisica.Count > 0 && cert.Avaliacao.FlagAgendada)
                {
                    <span class="ui ribbon label"><i class="clock icon"></i>Agendada</span>
                }
                else if (cert.Avaliacao.FlagAgendada && cert.PessoaFisica.Count == 0)
                {
                    <span class="ui ribbon label"><i class="clock icon"></i>Agendada</span>
                }                
            }
            <div class="description">
                @*@if (cert.Avaliacao.DtAplicacao.HasValue)
                {
                <p><b>Aplicação</b>: @cert.Avaliacao.DtAplicacao.Value.ToString("dd/MM/yyyy HH'h'mm'min'")</p>
                }*@
                @if (cert.Avaliacao.Dificuldade != null)
                {
                    <p title="@cert.Avaliacao.Dificuldade.Comentario"><b>Índ. de Dificuldade</b>: @cert.Avaliacao.Dificuldade.Descricao</p>
                }
                @if (cert.PessoaFisica.Count > 0)
                {
                    <p><b>Quant. de Avaliados</b>: @cert.PessoaFisica.Count</p>
                }
                <p><b>Quant. de Questões</b>: @cert.Avaliacao.Questao.Count</p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag label">
                @cert.Avaliacao.CodAvaliacao
            </div>
        </div>
        @if (cert.Avaliacao.FlagRealizada)
        {
            if (!flagProfessor)
            {
                if (cert.PessoasRealizaram.Where(a => a.CodPessoa == Usuario.ObterPessoaFisica(Sessao.UsuarioMatricula)).Count() > 0)
                {
                    <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
                }
                else
                {
                    <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else
            {
                <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
            }
        }
        else
        {
            if (cert.Avaliacao.FlagArquivo)
            {
                if (flagProfessor)
                {
                    <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else if (cert.PessoaFisica.Count > 0 && cert.Avaliacao.FlagAgendada)
            {
                if (flagProfessor)
                {
                    <a href="@Url.Action("Agendada", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Aplicar</a>
                }
            }
            else if (cert.Avaliacao.FlagAgendada && cert.PessoaFisica.Count == 0)
            {
                if (flagProfessor)
                {
                    <a href="@Url.Action("Avaliados", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Avaliados</a>
                }
            }
            else if (flagProfessor)
            {
                <div class="ui buttons">
                    <a href="@Url.Action("Configurar", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Configurar</a>
                    <a href="@Url.Action("Agendar", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
                </div>
            }
            if (!flagProfessor)
            {
                <a href="@Url.Action("Detalhe", new { codigo = cert.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
            }
        }
    </div>
}
