@model List<Questao>
@{
    int i = 0;
    foreach (var questao in Model)
    {
        <div id="@questao.CodQuestao" class="title">
            <i class="dropdown icon"></i><b>@((i++.GetIndiceQuestao() + ". " + questao.Enunciado).ToShortString(80))</b>
        </div>
        <div id="@questao.CodQuestao" class="content">
            <div class="ui segment">
                <div class="ui labels">
                    <div class="ui label">
                        Disciplina
                        <div class="detail">
                            @questao.QuestaoTema.ElementAt(0).Tema.Disciplina.Descricao
                        </div>
                    </div>
                    <div class="ui label" data-html="@( !String.IsNullOrWhiteSpace(questao.Dificuldade.Comentario) ? "<b>Comentário</b>: "+questao.Dificuldade.Comentario : "" )">
                        Dificuldade
                        <div class="detail">
                            @questao.Dificuldade.Descricao
                        </div>
                    </div>
                    @foreach (var questaoTema in questao.QuestaoTema)
                    {
                        <div class="ui tag label" data-html="@( !String.IsNullOrWhiteSpace(questaoTema.Tema.Comentario) ? "<b>Comentário</b>: "+questaoTema.Tema.Comentario : "" )">@questaoTema.Tema.Descricao</div>
                    }
                </div>
                <div class="ui dividing header" data-html="@( !String.IsNullOrWhiteSpace(questao.Objetivo) ? "<b>Objetivo</b>: " + questao.Objetivo : "")">
                    @Html.Raw(questao.Enunciado.ToHtml("p"))
                </div>
                @if (questao.CodTipoQuestao == TipoQuestao.OBJETIVA)
                {
                    <div class="ui very relaxed list">
                        @foreach (var alternativa in questao.Alternativa)
                        {
                            <div class="item" data-html="@(!String.IsNullOrWhiteSpace(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                                <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                @if (alternativa.FlagGabarito)
                                {
                                    <a class="ui green label">Correta</a>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div data-html="@(!String.IsNullOrWhiteSpace(questao.Comentario) ? "<b>Comentário</b>: " + questao.Comentario : "")">
                        <a class="ui green ribbon label">Chave de Resposta</a>
                        @Html.Raw(questao.ChaveDeResposta.ToHtml("p","i"))
                    </div>
                }
                @if (questao.QuestaoAnexo.Count > 0)
                {
                    <br />
                    <div class="ui styled fluid accordion">
                        <div class="title"><i class="icon dropdown"></i>Anexos</div>
                        <div class="content">
                            @foreach (var anexo in questao.QuestaoAnexo)
                            {
                                @Html.Partial("_Anexo", anexo)
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}