@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalCertificacao

@{
    ViewBag.Title = "Selecionar Avaliados para Certificação";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">
        Informações
    </div>
</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Selecionar Avaliados você poderá selecionar os alunos que poderão realizar essa avaliação de certificação.</li>
        <li>Clique em <b>Filtro</b> para selecionar o tipo de filtro para a pesquisa. Ex.: <i>Pessoa</i></li>
        <li>Na caixa <b>Buscar</b> insira o termo para pesquisar no sistema baseando-se no filtro selecionado. Ex.: <i>João Maria</i></li>
        <li>Clique em <b>Selecionar</b> para inserir o resultado obtido da pesquisa na lista temporária de <b>Selecionados</b></li>
        <li>O botão <i class="remove icon"></i><b>Remover</b> serve para remover o selecionado em questão da lista de temporários</li>
        <li>Por fim, não esqueça de confirmar as alterações clicando no botão <b>Salvar</b> ao fim desta página.</li>
    </ul>
</div>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)
@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 4 } })

@if (Model.PessoaFisica.Count > 0)
{
    <div class="ui small continuar modal">
        <div class="header">
            Você tem certeza?
        </div>
        <div class="content">
            <p>
                Caso você continue, as pessoas selecionadas anteriormente
                serão automaticamente substituídas pelas que você selecionará.
            </p>
            <p>
                <b>Essa ação não poderá ser desfeita.</b>
            </p>
        </div>
        <div class="actions">
            <a href="@Url.Action("Detalhe", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui negative button">Cancelar</a>
            <div class="ui approve positive button">Continuar</div>
        </div>
    </div>
}

<div class="ui confirmar modal">
    <div class="header">
        Verifique e confirme os dados fornecidos descritos abaixo
    </div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui segment">
    <div class="ui form">
        <div class="fields">
            <div class="four wide field">
                <label data-ajuda="Clique na caixa abaixo para selecionar o filtro da pesquisa.">Selecione o filtro</label>
                <select id="ddlFiltro" name="ddlFiltro" class="ui dropdown">
                    <option value="">Filtro</option>
                    <option value="1">Pessoa</option>
                    <option value="2">Turma</option>
                    <option value="3">Curso</option>
                    <option value="4">Diretoria</option>
                    <option value="5">Campus</option>
                </select>
            </div>
            <div class="twelve wide field">
                <label data-ajuda="Forneça abaixo o termo para ser buscado (baseado no filtro selecionado).">Forneça o termo para buscar</label>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Buscar...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui right floated disabled selecionar button">Selecionar</div>
        </div>
        <br />
    </div>
</div>

<div class="ui basic segment">
    <table class="ui selecionados table">
        <thead>
            <tr>
                <th>Selecionados</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div class="ui cancelar button">Cancelar</div>
<div class="ui popup">
    <div class="header">Tem certeza?</div>
    <div class="content">
        Essa ação não poderá ser desfeita.
        <a href="@Url.Action("Detalhe", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui small button">Sim, cancelar</a>
    </div>
</div>
<div class="ui salvar button">Salvar</div>

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}