@model AvalCertificacao

@{
    ViewBag.Title = "Certificação gerada com sucesso";
}

<h2>@ViewBag.Title</h2>
<div class="ui four fluid ordered steps">
    <div class="completed step">
        <div class="content">
            <div class="title">Gerar</div>
            <div class="description">Defina os dados gerais da avaliação</div>
        </div>
    </div>
    <div class="step">
        <div class="content">
            <div class="title">Configurar Questões</div>
            <div class="description">Configure as questões da avaliação</div>
        </div>
    </div>
    <div class="step">
        <div class="content">
            <div class="title">Agendar</div>
            <div class="description">Agende a avaliação</div>
        </div>
    </div>
    <div class="step">
        <div class="content">
            <div class="title">Pessoas</div>
            <div class="description">Selecione as pessoas que realizarão a avaliação</div>
        </div>
    </div>
</div>
<div class="ui icon message positive">
    <i class="icon checkmark"></i>
    <div class="content">
        <div class="header">Nota:</div>
        <p>Sua avaliação de certificação encontra-se no seu <b><a href="@Url.Action("Index")">Histórico</a></b> e você poderá configurá-la quando bem entender.
    </div>
</div>
<div class="ui segment">
    <div class="ui dividing header">
        Detalhes
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Tema(s)</th>
                <th>Quantidade(s)</th>
                <th>Índice de Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                <tr>
                    <td>
                        @* disciplina *@
                        <b>@disc.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @* temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        @* qte de questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                    </td>
                    <td>
                        @* dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="@Url.Action("Index", "Principal")" class="ui button">Voltar para Tela Principal</a>
<a href="@Url.Action("Configurar", "Certificacao", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui right floated button">Configurar agora</a>