@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model Visitante

@{
    ViewBag.Title = "Visitante " + Model.Usuario.PessoaFisica.PrimeiroNome;
}

@section Scripts { @Scripts.Render("~/bundles/js/visitante") }

<h2>
    @ViewBag.Title
    <span class="ui label">
        Matrícula
        <span class="detail">@Model.MatrVisitante</span>
    </span>
</h2>

<div class="ui validade modal">
    <i class="close icon"></i>
    <div class="header">Alterar Validade</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Data de Validade</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui basic segment">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="chkDtValidade" @(Model.DtValidade.HasValue ? "checked" : "")>
                                <label>Possui data de validade</label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="txtDtValidade" data-mask="00/00/0000" placeholder="Data de Validade" value="@(Model.DtValidade?.ToString("dd/MM/yyyy"))" @(Model.DtValidade.HasValue ? "" : "disabled") />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui approve button">Alterar</div>
    </div>
</div>

<div class="ui basic segment">
    <div class="ui dividing header">
        Estatísticas
    </div>
    <div class="ui four statistics">
        <div class="statistic">
            <div class="value">
                @(Model.FlagAtivo ? "Ativo" : "Inativo")
            </div>
            <div class="label">
                Situação
            </div>
        </div>
        <div class="statistic">
            <div class="value" title="@(Model.DtValidade?.ToBrazilianString())">
                @(Model.DtValidade?.ToString("dd MMM") ?? "Sempre")
            </div>
            <div class="label">
                Validade
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                @Model.Usuario.UsuarioAcesso.Count
            </div>
            <div class="label">
                Acessos
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                @Model.Usuario.PessoaFisica.AvalAuto.Count
            </div>
            <div class="label">
                Autoavaliações
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index")" class="ui button">Voltar</a>
<a href="@Url.Action("Detalhe","Usuario", new { codigo = Model.MatrVisitante })" class="ui button">Abrir Usuário</a>
<a href="@Url.Action("Opinioes","Configuracoes", new { tab = Model.MatrVisitante })" class="ui button">Abrir Opiniões</a>
<div class="ui validade button">Alterar Validade</div>

