@{
    ViewBag.Title = "Cadastrar Questão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {    
    <script>
        $('.ui.checkbox').checkbox();
        $('.ui.accordion').accordion();
        $('.ui.dropdown').dropdown();
        $('.tabular.menu .item').tab();
        $('.ui.termo.modal').modal('setting', 'closable', false).modal('show');

        function recuperarTemasPorCodDisciplina() {
            var selecionado = $('#ddlDisciplina :selected').val();
            var ddlTema = $('#ddlTema');
            ddlTema.parent().addClass('loading');
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@(Url.RouteUrl("RecuperarTemasPorCodDisciplina"))',
                data: { "codDisciplina": selecionado },
                success: function (data) {
                    ddlTema.html('');
                    ddlTema.parent().find('.label').remove();
                    $.each(data, function (id, option) {
                        ddlTema.append($('<option></option>').val(option.CodTema).html(option.Descricao));
                    });
                    ddlTema.parent().removeClass('loading');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Falha ao recuperar temas.');
                    ddlTema.parent().removeClass('loading');
                }
            });
        }
        
        function mostrarCamposPorTipo() {
            var tipo = $('#ddlTipo :selected').val();
            $('.questao').hide();
            if (tipo == 1) {
                $('.questao.objetiva').show();
                $('.segment.questao.objetiva').attr('style', '');
            }
            else if (tipo == 2) {
                $('.questao.discursiva').show();
            }
        }

        function removerAlternativa(button) {
            var i = $('.ui.accordion .title').length;
            if (i > 2) {
                var content = $(button).parent().parent().parent().parent();
                var title = $(content).prev();
                title.remove();
                content.remove();
                renomearAlternativas();
            }
            $('#txtQtdAlternativas').val($('.ui.accordion .title').length);
        }

        function adicionarAlternativa() {
            var i = $('.ui.accordion .title').length + 1;
            $('.ui.accordion').append('<div class="title"><i class="dropdown icon"></i>Alternativa ' + i + '</div><div class="content ui segment"><div class="field required"><label for="txtAlternativaEnunciado' + i + '">Enunciado</label><textarea id="txtAlternativaEnunciado' + i + '" name="txtAlternativaEnunciado' + i + '" rows="2"></textarea></div><div class="field"><label for="txtAlternativaComentario' + i + '">Comentário</label><textarea name="txtAlternativaComentario' + i + '" rows="2"></textarea></div><div class="field"><div class="ui toggle checkbox"><input id="chkAlternativaCorreta' + i + '" name="chkAlternativaCorreta' + i + '" type="checkbox" tabindex="0" class="hidden"><label for="chkAlternativaCorreta' + i + '">Correta</label></div></div><div class="field"><div class="ui button">Remover</div><div class="ui special popup"><div class="header">Tem certeza?</div><div class="content"><p>Essa ação não poderá ser desfeita.</p><div class="ui right aligned button tiny" onclick="removerAlternativa(this)">Sim, remover</div></div></div></div></div>');
            $('#txtQtdAlternativas').val($('.ui.accordion .title').length);
            $('.ui.checkbox').checkbox();
            $('.ui.accordion .button').popup({ inline: true, on: 'click', position: 'right center' });
        }

        function renomearAlternativas() {
            var list = $('.ui.accordion .title');
            for (var i = 0; i < list.length; i++) {
                list.eq(i).html('<i class="dropdown icon"></i>Alternativa ' + (i + 1));
            }
        }

        mostrarCamposPorTipo();
        for (var i = 0; i < 5; i++) {
            adicionarAlternativa();
        }

        function enviarForm() {
            $('.ui.error.message .list').html('');
            var validado = false;
            if ($('#ddlDisciplina').val() != '') {
                if ($('#ddlTema :selected').length > 0) {
                    if ($('#ddlDificuldade').val() != '') {
                        if ($('#ddlTipo').val() != '') {
                            var tipo = $('#ddlTipo').val();
                            if ($('#txtEnunciado').val() != '') {
                                if (tipo == 1) {
                                    var qteAlternativas = $('#txtQtdAlternativas').val();
                                    var ok = true;
                                    for (var i = 0; i < qteAlternativas; i++) {
                                        if ($('#txtAlternativaEnunciado'+(i+1)).val() == '') {
                                            ok = false;
                                        }
                                    }
                                    if (ok) {
                                        ok = false;
                                        for (var i = 0; i < qteAlternativas; i++) {
                                            if ($('#chkAlternativaCorreta' + (i+1)).is(':checked')) {
                                                ok = true;
                                            }
                                        }
                                        if (ok) {
                                            validado = true;
                                        }
                                        else {
                                            $('.ui.error.message .list').append('<li>É necessário selecionar pelo menos umas das alternativas como correta</li>')
                                        }
                                    }
                                    else {
                                        $('.ui.error.message .list').append('<li>É necessário preencher os enunciados de todas as alternativas</li>')
                                    }
                                }
                                else if (tipo == 2) {
                                    if ($('#txtChaveDeResposta').val() != '') {
                                        validado = true;
                                    }
                                    else {
                                        $('.ui.error.message .list').append('<li>É necessário preencher a chave de resposta</li>')
                                    }
                                }
                            }
                            else {
                                $('.ui.error.message .list').append('<li>É necessário preencher o enunciado</li>')
                            }
                        }
                        else {
                            $('.ui.error.message .list').append('<li>É necessário selecionar um tipo</li>')
                        }
                    }
                    else {
                        $('.ui.error.message .list').append('<li>É necessário selecionar uma dificuldade</li>')
                    }
                }
                else {
                    $('.ui.error.message .list').append('<li>É necessário selecionar pelo menos um tema</li>')
                }
            }
            else {
                $('.ui.error.message .list').append('<li>É necessário selecionar uma disciplina</li>')
            }
            if (validado) $('#frmQuestao').addClass('loading').submit();
            else $('#frmQuestao').addClass('error');
        }
    </script>
} 

<div class="ui termo modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        @* Futuramente, deverá vim do banco de dados *@
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ornare ornare posuere. Aenean viverra metus vel arcu venenatis eleifend. Nunc arcu magna, placerat quis leo non, venenatis posuere dui. Nam id cursus massa, a luctus odio. Duis elementum euismod eleifend. Nulla nec lectus ut quam pellentesque dictum id in massa. Nulla in elit id justo scelerisque ornare sed at erat. Duis risus libero, volutpat vitae rutrum eu, rutrum nec nibh. Fusce commodo dapibus mattis.</p>
        <p>Nam dictum tempus magna, at lacinia neque posuere at. Maecenas dictum nulla ac neque efficitur, at sagittis turpis ornare. Mauris lobortis lorem vel fermentum volutpat. Pellentesque rutrum nibh vel erat blandit congue. Mauris euismod porta ligula nec eleifend. Nunc tempor mauris arcu, ut venenatis enim aliquet eu. Integer porta nisl id dapibus sagittis. Nam laoreet at quam feugiat efficitur. Donec eu lectus eget sem iaculis dapibus. Nullam non dui faucibus, gravida enim non, luctus nisl. Duis convallis risus eget purus suscipit sollicitudin. Curabitur non est nec quam ornare lobortis nec ut nibh.</p>
        <p>Vestibulum placerat auctor aliquam. Aliquam eros turpis, sodales in ornare ac, dapibus sed orci. Ut vitae rhoncus purus, sit amet faucibus est. Integer interdum lorem non tortor commodo, vel laoreet augue euismod. Donec condimentum sollicitudin suscipit. In fringilla nunc nec velit luctus, eget eleifend nisl pellentesque. Pellentesque consequat congue sagittis. Sed vestibulum quis ipsum id rhoncus. Praesent pulvinar, ipsum quis sagittis molestie, erat leo ultricies velit, ut aliquam nulla odio malesuada purus. Donec et venenatis risus. Phasellus velit libero, hendrerit ultrices maximus eget, semper ut tortor.</p>
    </div>
    <div class="actions">
        <a href="/Dashboard/Questao" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form id="frmQuestao" action="/Dashboard/Questao/Confirmar" method="post" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list">
        </ul>
    </div>
    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="tab-name">Gerais</div>
        <div class="item" data-tab="tab-name2">Detalhes</div>
        <div class="item questao objetiva" data-tab="tab-name3">Alternativas</div>
    </div>    
    @* Gerais da Questão *@
    <div class="ui bottom attached active tab segment" data-tab="tab-name">
        <div class="field required">
            <label>Disciplina</label>
            <select id="ddlDisciplina" name="ddlDisciplina" class="ui search dropdown" onchange="recuperarTemasPorCodDisciplina()" required>
                <option value="">Disciplina</option>
                @foreach (var obj in ViewBag.Disciplinas)
                {
                    <option value="@obj.CodDisciplina">@obj.Descricao</option>
                }
            </select>            
        </div>
        <div class="field required">
            <label>Tema</label>
            <select id="ddlTema" name="ddlTema" multiple class="ui multiple search dropdown" required>
                <option value="">Tema</option>                
            </select>
        </div>
        <div class="field required">
            <label>Dificuldade</label>
            <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown" required>
                <option value="">Dificuldade</option>
                @foreach (var obj in ViewBag.Dificuldades)
                {
                    <option value="@obj.CodDificuldade" title="@obj.Comentario">@obj.Descricao</option>
                }
            </select>
        </div>
        <div class="field required">
            <label>Tipo</label>
            <select id="ddlTipo" name="ddlTipo" onchange="mostrarCamposPorTipo()" class="ui search dropdown" required>
                <option value="">Tipo</option>
                @foreach (var obj in ViewBag.Tipos)
                {
                    <option value="@obj.CodTipoQuestao">@obj.Descricao</option>
                }
            </select>
        </div>
    </div>
    @* Detalhes da Questão *@
    <div class="ui bottom attached tab segment" data-tab="tab-name2">
        <div class="field required">
            <label for="txtEnunciado">Enunciado</label>
            <textarea id="txtEnunciado" name="txtEnunciado" rows="2" required></textarea>
        </div>
        <div class="field">
            <label for="txtObjetivo">Objetivo</label>
            <textarea name="txtObjetivo" rows="2"></textarea>
        </div>
        <div class="field required questao discursiva">
            <label for="txtChaveDeResposta">Chave de Resposta</label>
            <textarea id="txtChaveDeResposta" name="txtChaveDeResposta" rows="2"></textarea>
        </div>
        <div class="field questao discursiva">
            <label for="txtComentario">Comentário</label>
            <textarea name="txtComentario" rows="2"></textarea>
        </div>
    </div>    
    @* Alternativas da Questão *@
    <div class="ui bottom attached tab segment questao objetiva" data-tab="tab-name3">
        <input id="txtQtdAlternativas" name="txtQtdAlternativas" type="number" hidden />
        <div class="ui button" onclick="adicionarAlternativa()">Adicionar</div>
        <div class="ui fluid accordion">
        </div>
    </div>
    <br />
    <a href="/Dashboard/Questao" class="ui button">Cancelar</a>
    <div class="ui button" onclick="enviarForm()">Prosseguir</div>
</form>

