
@{
    ViewBag.Title = "Confirmar Questão";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {

    <script>
        $('div,p')
            .popup()
        ;
        $('.button')
        .popup({
            on: 'click'
        })
        ;
    </script>
}

@model SIAC.Web.Models.Questao

<h2>@ViewBag.Title</h2>
<div class="ui segment">
    <div class="ui labels">
        <div class="ui label">
            Disciplina
            <div class="detail">
                @Model.QuestaoTema.ElementAt(0).Tema.Disciplina.Descricao
            </div>
        </div>
        <div class="ui label" data-html="@( !String.IsNullOrEmpty(Model.Dificuldade.Comentario) ? "<b>Comentário</b>: "+Model.Dificuldade.Comentario : "" )">
            Dificuldade
            <div class="detail">
                @Model.Dificuldade.Descricao
            </div>
        </div>
        @foreach (var questaoTema in Model.QuestaoTema)
        {
            <div class="ui tag label" data-html="@( !String.IsNullOrEmpty(questaoTema.Tema.Comentario) ? "<b>Comentário</b>: "+questaoTema.Tema.Comentario : "" )">@questaoTema.Tema.Descricao</div>
        }
    </div>
    <div class="ui dividing header">
        <p  data-html="@( !String.IsNullOrEmpty(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">@Model.Enunciado</p>
    </div>
    @if (Model.CodTipoQuestao == 1)
    {
        <div class="ui very relaxed list">
            @foreach (var alternativa in Model.Alternativa)
            {
                <div class="item">
                    <div class="middle aligned content" data-html="@(!String.IsNullOrEmpty(alternativa.Comentario)?"<b>Comentário</b>: " + alternativa.Comentario : "")">
                        <b>@(alternativa.CodOrdem + 1)</b>) @alternativa.Enunciado
                        @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                    {
                            <a class="ui green label">Correta</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <p data-html="@(!String.IsNullOrEmpty(Model.Comentario) ? "<b>Comentário</b>: "+ Model.Comentario : "")"><i>@Model.ChaveDeResposta</i> <a class="ui green label">Chave de Resposta</a></p>
        </div>
    }
</div>
<div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='/Dashboard/Questao' class='ui small button'>Sim, cancelar</a></div>" class="ui button">Cancelar</div>
<a class="ui button" href="/Dashboard/Questao/Confirmar">Confirmar</a>


