@model Questao

@{
    ViewBag.Title = "Detalhes de Questão";
    List<AvalQuesPessoaResposta> lstResposta = Model.Respostas.Where(r => !String.IsNullOrWhiteSpace(r.RespComentario)).ToList();
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Detalhes você poderá ver as informações referente a esta questão.</li>
        <li>O botão <b>Arquivar</b> serve para congelar esta questão, deixando-a impossibilitada de ser utilizada em uma avaliação.</li>
        <li>O botão <b>Editar</b> serve para abrir a página de edição em que você poderá editar algumas informações que tenham sido preenchidas erroneamente.</li>
    </ul>
</div>

<div class="ui segment">
    @Html.Partial("_Questao", Model)
</div>

@if (lstResposta.Count > 0)
{
    <div class="ui secondary segment">
        <div class="ui dividing header">
            <p>Comentários</p>
        </div>
        @* Expor comentários dos usuários que já responderam essa questão *@
        <div class="ui comments" style="max-height: 15em; overflow-y:auto">
            @foreach (AvalQuesPessoaResposta resp in lstResposta)
            {
                <div class="comment">
                    <div class="content">
                        <a class="author">@resp.PessoaFisica.PrimeiroNome</a>
                        <div class="metadata">
                            <span class="date">@resp.AvalTemaQuestao.AvaliacaoTema.Avaliacao.DtCadastro.ToElapsedTimeString()</span>@* Continuar: pegar data da AvalPessoaResultado *@
                        </div>
                        <div class="text">
                            @Html.Raw(resp.RespComentario.ToHtml("p"))
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<a href="@Url.Action("Index")" class="ui button">
    Minhas Questões
</a>
<div data-questao="@Model.CodQuestao" class="ui arquivar toggle @( Model.FlagArquivo ? "active" : "" ) button">
    Arquiva@(Model.FlagArquivo ? "da" : "r")
</div>
<a href="@Url.Action("Editar", new { codigo = Model.CodQuestao })" class="ui button">
    Editar
</a>

@section Scripts {
    @Scripts.Render("~/bundles/js/questao")
}