
@{
    ViewBag.Title = "Questão " + Model.CodQuestao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SIAC.Web.Models.Questao

@section Scripts {

    <script>
        $('.ui.accordion')
            .accordion()
        ;
        $('div,p')
            .popup()
        ;
        $('.button')
        .popup({
            on: 'click'
        })
        ;

        function expandirImagem(card) {
            card = $(card);
            src = card.find('img').attr('src');
            legenda = card.find('.description').text();
            fonte = card.find('.extra.content').text();
            modal = $('.ui.modal');

            modal.find('.header').text(legenda);
            modal.find('img.image').attr('src', src);
            modal.find('.description').html(fonte);

            modal.modal('show');
        }
    </script>
}

<div class="ui basic modal">
    <i class="close icon"></i>
    <div class="ui centered header"></div>
    <div class="image content">
        <img class="ui centered image">
    </div>
    <div class="description" style="text-align:center;"></div>
</div>

<h2>@ViewBag.Title</h2>
<div class="ui attached segment">
    <a href="/Historico/Questao/Editar/@Model.CodQuestao" class="ui button" style="float: right">Editar</a>
    <div class="ui labels">
        <div class="ui label">
            Disciplina
            <div class="detail">
                @Model.QuestaoTema.ElementAt(0).Tema.Disciplina.Descricao
            </div>
        </div>
        <div class="ui label" data-html="@( !String.IsNullOrEmpty(Model.Dificuldade.Comentario) ? "<b>Comentário</b>: "+Model.Dificuldade.Comentario : "" )">
            Dificuldade
            <div class="detail">
                @Model.Dificuldade.Descricao
            </div>
        </div>
        @foreach (var questaoTema in Model.QuestaoTema)
        {
            <div class="ui tag label" data-html="@( !String.IsNullOrEmpty(questaoTema.Tema.Comentario) ? "<b>Comentário</b>: "+questaoTema.Tema.Comentario : "" )">@questaoTema.Tema.Descricao</div>
        }
    </div>
    <div class="ui dividing header" data-html="@( !String.IsNullOrEmpty(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">
        @{
            var enunciado = Model.Enunciado.Split('\n', '\r');
            foreach (var strEnunciado in enunciado)
            {
                if (!String.IsNullOrWhiteSpace(strEnunciado))
                {
                    <p>@strEnunciado</p>
                }
            }
        }
    </div>
    @if (Model.CodTipoQuestao == 1)
    {
        <div class="ui very relaxed list">
            @foreach (var alternativa in Model.Alternativa)
            {
                <div class="item">
                    <div class="middle aligned content" data-html="@(!String.IsNullOrEmpty(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                        <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                        @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                        {
                            <a class="ui green label">Correta</a>
                        }
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div data-html="@(!String.IsNullOrEmpty(Model.Comentario) ? "<b>Comentário</b>: " + Model.Comentario : "")">
            <a class="ui green ribbon label">Chave de Resposta</a>
            @{
                var chaveDeResposta = Model.ChaveDeResposta.Split('\n', '\r');
                foreach (var strChaveDeResposta in chaveDeResposta)
                {
                    if (!String.IsNullOrWhiteSpace(strChaveDeResposta))
                    {
                        <p><i>@strChaveDeResposta</i></p>
                    }
                }
            }
        </div>
    }
    @if (Model.QuestaoAnexo.Count > 0)
    {
        <br />
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Anexos</div>
            <div class="content">
                @foreach (var anexo in Model.QuestaoAnexo)
                {
                    switch (anexo.CodTipoAnexo)
                    {
                        case 1:
                            <a onclick="expandirImagem(this)" class="ui card">
                                <div class="image">
                                    <img src="data:image/png;base64,@Convert.ToBase64String(anexo.Anexo,0, anexo.Anexo.Length)" />
                                </div>
                                <div class="content">
                                    <div class="description">
                                        @anexo.Legenda
                                    </div>
                                </div>
                                <div class="extra content">
                                    @(!String.IsNullOrEmpty(anexo.Fonte) ? anexo.Fonte : "Fonte não informada")
                                </div>
                            </a>
                            break;
                        default:
                            break;
                    }
                }
            </div>
        </div>
    }
</div>
<div class="ui secondary attached segment">
    <div class="ui dividing header">
        <p>Comentários</p>
    </div>
    @* Expor comentários dos usuários que já responderam essa questão *@
</div>

