@{
    ViewBag.Title = "Minhas Questões";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
    <a class="ui right floated button" href="/Dashboard/Questao/Cadastrar">
        Cadastrar
    </a>
</h2>

<div class="ui stackable grid" style="clear:both">
    <div class="sixteen wide column">
        <div class="ui fluid icon pesquisa input">
            <input type="text" placeholder="Pesquisar..." />
            <i class="search icon"></i>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui text menu" style="margin-bottom:0">
            <div class="header item">Ordenar</div>
            <a class="active ordenar item" data-ordenar="data_desc">
                Mais recentes
            </a>
            <a class="ordenar item" data-ordenar="data">
                Mais antigos
            </a>

            <div class="header item">Tipo</div>
            <a class="tipo item" data-tipo="objetiva">
                Objetiva
            </a>
            <a class="tipo item" data-tipo="discursiva">
                Discursiva
            </a>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui text menu">
            <div class="ui dropdown item">
                Dificuldade
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="dificuldade item active selected" data-dificuldade="">Todos</a>
                    @foreach (SIAC.Models.Dificuldade dificuldade in ViewBag.Dificuldades)
                    {
                        <a class="dificuldade item" data-dificuldade="@dificuldade.CodDificuldade">@dificuldade.Descricao</a>
                    }
                </div>
            </div>
            <div class="ui dropdown item">
                Disciplina
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="disciplina item active selected" data-disciplina="">Todos</a>
                    @foreach (SIAC.Models.Disciplina disciplina in ViewBag.Disciplinas)
                    {
                        <div class="ui dropdown disciplina item" data-disciplina="@disciplina.CodDisciplina">
                            @disciplina.Descricao
                            <div class="menu">
                                <a class="tema item active selected" data-tema="">Todos</a>
                                @foreach (SIAC.Models.Tema tema in disciplina.Tema)
                                {
                                    <a class="item tema" data-tema="@tema.CodTema">@tema.Descricao</a>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="sixteen wide column">
        <div class="ui basic segment">
            <div class="ui two stackable cards">
            </div>
        </div>
        <div class="ui right floated icon button topo"><i class="icon angle up"></i></div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/questao")
}