@using SIAC.Models
@model Questao
<div class="content" data-questao="@Model.CodQuestao" data-tipo="@Model.CodTipoQuestao" data-indice="@ViewData["Index"]">
    <div class="header" data-html="@( !String.IsNullOrEmpty(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">
        <div class="ui icon right floated button"><i class="refresh icon"></i></div>
        <div class="ui popup">
            <div class='header'>
                Deseja substituir essa questão?
            </div>
            <div class='content'>
                <p>Você não poderá desfazer essa troca</p>
                <a class='ui small trocar button'>Sim, Continuar</a>
            </div>
        </div>
        <div data-html="" class="ui icon right floated button" style="display:none;"><i class="undo icon"></i></div>
        <div class="ui popup">
            <div class='header'>Deseja desfazer substituição?</div><div class='content'><p>Você perderá a questão atual</p><a class='ui small desfazer button'>Sim, Continuar</a></div>
        </div>
        @{
            var enunciado = (((int)ViewData["Index"]).GetIndiceQuestao() + ". " + Model.Enunciado).Split('\n', '\r');
            foreach (var strEnunciado in enunciado)
            {
                if (!String.IsNullOrWhiteSpace(strEnunciado))
                {
                    <p>@strEnunciado</p>
                }
            }
        }
    </div>
</div>
<div class="content">
    @if (Model.CodTipoQuestao == 1)
    {
        <div class="ui very relaxed list">
            @foreach (var alternativa in Model.Alternativa)
            {
                <div class="item" data-html="@(!String.IsNullOrEmpty(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                    <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                    @if (alternativa.FlagGabarito)
                    {
                        <a class="ui tiny green label">Correta</a>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div data-html="@(!String.IsNullOrEmpty(Model.Comentario) ? "<b>Comentário</b>: " + Model.Comentario : "")">
            <a class="ui tiny green ribbon label">Chave de Resposta</a>
            @{
                var chaveDeResposta = Model.ChaveDeResposta.Split('\n', '\r');
                foreach (var strChaveDeResposta in chaveDeResposta)
                {
                    if (!String.IsNullOrWhiteSpace(strChaveDeResposta))
                    {
                        <p><i>@strChaveDeResposta</i></p>
                    }
                }
            }
        </div>
                }
</div>
@if (Model.QuestaoAnexo.Count > 0)
{
    <div class="extra content">
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Anexos</div>
            <div class="content">
                @foreach (var anexo in Model.QuestaoAnexo)
                {
                    @Html.Partial("_Anexo", anexo)
                }
            </div>
        </div>
    </div>
}  