@model Usuario

@{
    ViewBag.Title = "Histórico";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @if (Model.CodCategoria <= Categoria.PROFESSOR)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Academica") },
                { "Icone", "file" },
                { "Descricao", "Histórico de Acadêmicas" },
                { "Mensagem", "Ir para Histórico de Avaliações Acadêmicas" }
            })
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Reposicao") },
                { "Icone", "file archive outline" },
                { "Descricao", "Histórico de Reposições" },
                { "Mensagem", "Ir para Histórico de Avaliações de Reposição" }
            })
        }
        @if (Model.CodCategoria <= Categoria.COLABORADOR)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Certificacao") },
                { "Icone", "file text" },
                { "Descricao", "Histórico de Certificações" },
                { "Mensagem", "Ir para Histórico de Avaliações de Certificação" }
            })
        }
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Index", "Autoavaliacao") },
            { "Icone", "folder" },
            { "Descricao", "Autoavaliações Salvas" },
            { "Mensagem", "Ir para Autoavaliações Salvas" }
        })
        @if (Model.CodCategoria == Categoria.PROFESSOR)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Questao") },
                { "Icone", "book" },
                { "Descricao", "Minhas Questões" },
                { "Mensagem", "Ir para Minhas Questões" }
            })
        }
    </div>
</div>
