@{
    ViewBag.Title = "Histórico";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Usuario

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">

        @if (Model.CodCategoria <= 2)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Academica") },
                { "Icone", "file" },
                { "Descricao", "Histórico de Acadêmicas" }
            })
        }
        @if (Model.CodCategoria <= 2)
            {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Reposicao") },
                { "Icone", "file archive outline" },
                { "Descricao", "Histórico de Reposições" }
            })
        }
        @if (Model.CodCategoria <= 3)
            {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Certificacao") },
                { "Icone", "file text" },
                { "Descricao", "Histórico de Certificações" }
            })

        }
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Index", "Autoavaliacao") },
            { "Icone", "folder" },
            { "Descricao", "Autoavaliações Salvas" }
        })
        @if (Model.CodCategoria == 2)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Questao") },
                { "Icone", "book" },
                { "Descricao", "Minhas Questões" }
            })
        }
    </div>
</div>
