@{
    ViewBag.Title = "Histórico";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @if (Sessao.UsuarioCategoriaCodigo <= Categoria.PROFESSOR)
        {
            @Html.Partial("_Atalho", new AtalhoViewModel("Histórico de Av. Acadêmicas", "file", Url.Action("Index", "Academica"), "Ir para Histórico de Avaliações Acadêmicas"))
            @Html.Partial("_Atalho", new AtalhoViewModel("Histórico de Reposições", "file archive outline", Url.Action("Index", "Reposicao"), "Ir para Histórico de Avaliações de Reposição"))
        }
        @if (Sessao.UsuarioCategoriaCodigo <= Categoria.COLABORADOR)
        {
            @Html.Partial("_Atalho", new AtalhoViewModel("Histórico de Certificações", "file text", Url.Action("Index", "Certificacao"), "Ir para Histórico de Avaliações de Certificação"))
        }
        @Html.Partial("_Atalho", new AtalhoViewModel("Histórico de Autoavaliações", "folder", Url.Action("Index", "Autoavaliacao"), "Ir para Autoavaliações Salvas"))
        @if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
        {
            @Html.Partial("_Atalho", new AtalhoViewModel("Minhas Questões", "book", Url.Action("Index", "Questao"), "Ir para Minhas Questões"))
        }
    </div>
</div>