@model InscricaoIndexViewModel

@{
    ViewBag.Title = "Calendário de Simulados";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Simulados.Count > 0)
{
    <div class="ui basic segment">
        <div class="ui three cards">
            @foreach (Simulado simulado in Model.Simulados)
            {
                var dtAberto = simulado.DtInicioInscricao?.ToElapsedTimeString() ?? "";
                <div class="card">
                    <div class="content">
                        <a href="#" class="header">
                            @simulado.Titulo
                        </a>
                        <div class="meta">
                            Aberto @(dtAberto.Contains("/") ? "em" : "há") <time datetime="@(simulado.DtInicioInscricao?.ToHtmlDateTimeString())">@dtAberto</time>
                        </div>
                        <div class="description">
                            @if (String.IsNullOrWhiteSpace(simulado.Descricao))
                            {
                                <p><b>Início das Inscrições</b>:@(simulado.DtInicioInscricao?.ToString("dd/MM/yyyy"))</p>
                                <p><b>Término das Inscrições</b>: @(simulado.DtTerminoInscricao?.ToString("dd/MM/yyyy"))</p>
                                <p><b>Primeiro Dia de Provas</b>: @(simulado.PrimeiroDiaRealizacao?.DtRealizacao.DiaRealizacaoRepresentacao())</p>
                            }
                            else {
                                @Html.Raw(simulado.Descricao.ToShortString(140).ToHtml("p"))
                            }
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui tag label">@simulado.Codigo</div>
                    </div>
                    <div class="ui two buttons">
                        <a data-simulado="@simulado.Codigo" class="ui detalhe button"><i class="plus icon"></i>Detalhes</a>
                        @if (Sessao.Candidato != null && simulado.CandidatoInscrito(Sessao.Candidato.CodCandidato))
                        {
                            <a class="ui active toggle button"><i class="checkmark icon"></i>Inscrito</a>
                        }
                        else
                        {
                            <a class="ui inscricao button">Inscrição</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div style="padding: 3.5em;">
        <h2 class="ui center aligned icon header">
            <i class="icon frown"></i>
            Não há simulados cadastrados
            <div class="sub header">Deseja se cadastrar para ser avisado quando um novo simulado estiver disponível? <a href="@Url.Action("Cadastrar", "Candidato")">Cadastre-se</a></div>
        </h2>
    </div>
}

@section Scripts {
    <script>
        $(function () {
            $('.detalhe.button').click(function () {
                var _this = $(this),
                    simulado = _this.data('simulado');

                _this.addClass('loading');

                $.ajax({
                    url: '/simulado/inscricao/detalhe',
                    type: 'POST',
                    data: {
                        codigo: simulado
                    },
                    success: function (modal) {
                        $('.detalhe.modal').remove();
                        $('body').append(modal);
                        $('.detalhe.modal').modal('show');
                    },
                    complete: function () {
                        _this.removeClass('loading');
                    }
                });
            });
        })();
    </script>
}
