@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SIAC.Models.Usuario

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Realizar", "Autoavaliacao") },
            { "Icone", "file outline" },
            { "Descricao", "Realizar Autoavaliação" }
        })
        @if (Model.CodCategoria == 2)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar", "Academica") },
                { "Icone", "file" },
                { "Descricao", "Gerar Acadêmica" }
            })           
        }
        @if (Model.CodCategoria == 2 || Model.CodCategoria == 3)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar", "Certificacao") },
                { "Icone", "file text" },
                { "Descricao", "Gerar Certificacao" }
            })
        }
        @if (Model.CodCategoria == 2)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Cadastrar", "Questao") },
                { "Icone", "add circle" },
                { "Descricao", "Nova Questão" }
            })
        }                     
        <div class="column aligned center">
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Perfil") },
                { "Icone", "user" },
                { "Descricao", "Abir Perfil" }
            })
        </div>
        <div class="column aligned center">
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Historico") },
                { "Icone", "wait" },
                { "Descricao", "Abir Histórico" }
            })
        </div>
    </div>
</div>
