@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int autoavaliacao = 0; //Model.PessoaFisica.AvalAuto.Where(a => a.Avaliacao.AvalPessoaResultado.Count == 0).Count();
    int academica = 0;
    int certificacao = 0;
    int agendada = 0;
    int pendente = 0;
    //if (Model.CodCategoria == 2)
    //{
    //    var prof = Model.Professor.First();
    //    academica = prof.AvalAcademica.Where(a=>!a.NumTurma.HasValue).Count();
    //    certificacao = prof.AvalCertificacao.Where(a => a.PessoaFisica.Count == 0).Count();
    //    agendada = prof.AvalAcademica.Where(a => a.Avaliacao.DtAplicacao.HasValue).Count();
    //    pendente = prof.AvalAcademica.Where(a => a.Avaliacao.AvalPessoaResultado.Where(r => !r.Nota.HasValue).Count() > 0).Count();
    //}
    //else if (Model.CodCategoria == 1)
    //{
    //    var aluno = Model.Aluno.First();
    //    agendada = aluno.TurmaDiscAluno.Sum(t => t.Turma.AvalAcademica.Where(c=> c.Avaliacao.AvalPessoaResultado.Count == 0).Count());
    //}
}
@model SIAC.Models.Usuario

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        <div class="column aligned center">
            <a href="@Url.Action("Realizar", "Autoavaliacao")" class="ui basic segment">
                <div class="ui icon header">
                    <i class="file outline icon"></i>
                    @if (autoavaliacao > 0)
                    {
                        <div class="ui floating small red label">@autoavaliacao</div>

                    }
                    Realizar Autoavaliação
                </div>
            </a>
        </div>
        @if (Model.CodCategoria == 2)
        {
            <div class="column aligned center">
                <a href="@Url.Action("Gerar", "Academica")" class="ui basic segment">
                    <div class="ui icon header">
                        <i class="file icon"></i>
                        @if (academica > 0)
                        {
                            <div class="ui floating small red label">@academica</div>
                        }
                        Gerar Avaliação Acadêmica
                    </div>
                </a>
            </div>
        }
        @if (Model.CodCategoria == 2 || Model.CodCategoria == 3)
        {
            <div class="column aligned center">
                <a href="@Url.Action("Gerar", "Certificacao")" class="ui basic segment">
                    <div class="ui icon header">
                        <i class="file text icon"></i>
                        @if (certificacao > 0)
                        {
                            <div class="ui floating small red label">@certificacao</div>
                        }
                        Gerar Avaliação de Certificação
                    </div>
                </a>
            </div>
        }
        @if (Model.CodCategoria == 2)
        {
            <div class="column aligned center">
                <a href="@Url.Action("Cadastrar", "Questao")" class="ui basic segment">
                    <div class="ui icon header">
                        <i class="add circle icon"></i>
                        Cadastrar Questão
                    </div>
                </a>
            </div>
        }                        
        <div class="column aligned center">
            <a href="@Url.Action("Index", "Perfil")" class="ui basic segment">
                <div class="ui icon header">
                    <i class="user icon"></i>
                    Abrir Perfil
                </div>
            </a>
        </div>
        <div class="column aligned center">
            <a href="@Url.Action("Index", "Historico")" class="ui basic segment">
                <div class="ui icon header">
                    <i class="wait icon"></i>
                        Abrir Histórico
                </div>
            </a>
        </div>
    </div>
</div>
