@model CandidatoAcessarViewModel

@{
    ViewBag.Title = "Acessar";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<form method="post" class="ui @(Model.TemMensagem ? "error" : "") form">
    @if (Model.TemMensagem)
    {
        <div class="ui error message">
            <p>@Model.Mensagem</p>
        </div>
    }
    <div class="field required">
        <label>CPF</label>
        <input type="text" name="Cpf" placeholder="CPF" autocomplete="off" data-mask="000.000.000-00" value="@Model.Cpf" required />
    </div>
    <div class="field required">
        <label>Senha</label>
        <input type="password" name="Senha" placeholder="Senha" autocomplete="off" required />
    </div>
    <input type="submit" value="Acessar" class="ui primary button" />
    <a href="@Url.Action("Cadastrar")" class="ui basic button">Esqueci minha senha</a>
    <a href="@Url.Action("Cadastrar")" class="ui right floated basic button">Não sou cadastrado</a>
</form>



