
@model SimCandidato

@{
    ViewBag.Title = $"{Model.Simulado.Titulo}";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated floating acoes dropdown labeled icon basic button">
        <i class="dropdown icon"></i>
        <span class="text">Atalho para Ações</span>
        <div class="menu">
            <a data-modal="provas" class="trigger item">
                <i class="copy icon"></i>
                Listar Provas
            </a>
            @if (Model.CodSala.HasValue)
            {
                <a data-modal="sala" class="trigger item">
                    <i class="marker icon"></i>
                    Ver Sala de Realização
                </a>
                <div class="divider"></div>
                <a data-url="@Url.Action("CartaoInscricao", "Candidato", new { codigo = Model.Simulado.Codigo })" class="cartao item">
                    <i class="print icon"></i>
                    Imprimir Cartão de Inscrição
                </a>
            }
            @if (Model.Simulado.FlagSimuladoEncerrado)
            {
                <div class="divider"></div>
                <a data-modal="resultados" class="trigger item">
                    <i class="star icon"></i>
                    Resultados
                </a>
            }
            else
            {
                <div class="divider"></div>
                <a data-modal="cancelar-inscricao" class="trigger item">
                    <i class="power red icon"></i>
                    Cancelar Inscrição
                </a>
            }
        </div>
    </div>
</h2>

@Html.Raw(Model.Simulado.Descricao.ToHtml("p style=\"text-align: justify\""))

<h4 class="ui dividing header">Linha do Tempo</h4>
<div class="ui relaxed feed">
    <div class="event">
        <div class="label">
            <i class="@(Model.Simulado.DtInicioInscricao > DateTime.Now ? "calendar" : "green checkmark") icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                Abertura das Inscrições
            </div>
            <div class="date">
                @(Model.Simulado.DtInicioInscricao?.ToBrazilianString())
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <i class="@(Model.Simulado.DtTerminoInscricao > DateTime.Now && !Model.Simulado.FlagSimuladoEncerrado ? "calendar" : "green checkmark") icon"></i>
        </div>
        <div class="content">
            <div class="summary">
                Data Limite para Inscrições
            </div>
            <div class="date">
                @(Model.Simulado.DtTerminoInscricao?.ToBrazilianString())
            </div>
        </div>
    </div>
    @foreach (SimDiaRealizacao dia in Model.Simulado.SimDiaRealizacao)
    {
        foreach (SimProva prova in dia.SimProva)
        {
            <div class="event">
                <div class="label">
                    <i class="@(dia.DtRealizacao > DateTime.Now && !Model.Simulado.FlagSimuladoEncerrado ? "file" : "green checkmark") icon"></i>
                </div>
                <div class="content">
                    <div class="summary">
                        Prova: @prova.Titulo
                    </div>
                    <div class="date">
                        @(dia.DtRealizacao.ToBrazilianString())
                    </div>
                </div>
            </div>
        }
    }
</div>

<a href="@Url.Action("Index", "Candidato")" class="ui basic button">Voltar para Área do Candidato</a>

<div id="provas" class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        Provas do "@Model.Simulado.Titulo"
    </div>
    <div class="content">
        @if (Model.Simulado.SimDiaRealizacao.Count > 0)
        {
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Duração</th>
                        <th>Disciplina(s) e Quant. de Questões</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SimDiaRealizacao dia in Model.Simulado.SimDiaRealizacao.OrderBy(d => d.DtRealizacao))
                    {
                        <tr>
                            <td>@dia.DtRealizacao.DiaRealizacaoRepresentacao()</td>
                            <td>@dia.Duracao.ParaRepresentarDuracao()</td>
                            <td>
                                @foreach (SimProva prova in dia.SimProva)
                                {
                                    <div class="ui label">@prova.Disciplina.Descricao <div class="detail">@prova.QteQuestoes</div></div>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="actions">
        <div class="ui cancel button">Fechar</div>
    </div>
</div>

@if (Model.CodSala.HasValue)
{
    <div id="sala" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Sala de Realização
        </div>
        <div class="content">
            <div class="ui breadcrumb">
                <div class="section" data-title="Instituição" data-content="@Model.SimSala.Sala.Bloco.Campus.Instituicao.PessoaJuridica.NomeFantasia">@Model.SimSala.Sala.Bloco.Campus.Instituicao.Sigla</div>
                <i class="right chevron icon divider"></i>
                <div class="section" data-title="Campus" data-content="@Model.SimSala.Sala.Bloco.Campus.PessoaJuridica.NomeFantasia">@Model.SimSala.Sala.Bloco.Campus.Sigla</div>
                <i class="right chevron icon divider"></i>
                <div class="section" data-title="Bloco" data-content="@Model.SimSala.Sala.Bloco.Descricao">@Model.SimSala.Sala.Bloco.Sigla</div>
                <i class="right chevron icon divider"></i>
                <div class="section" data-title="Sala" data-content="@Model.SimSala.Sala.Descricao">@Model.SimSala.Sala.Sigla</div>
            </div>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Sala</th><th>Sigla</th><th>Capacidade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.SimSala.Sala.Descricao</td>
                        <td>@Model.SimSala.Sala.Sigla</td>
                        <td>@Model.SimSala.Sala.Capacidade</td>
                    </tr>
                </tbody>
            </table>
            <p><b>Como chegar:</b> @(Model.SimSala.Sala.RefLocal ?? "Nenhuma informação cadastrada.")</p>
            <p><b>Observações:</b> @(Model.SimSala.Sala.Observacao ?? "Nenhuma informação cadastrada.")</p>
        </div>
        <div class="actions">
            <div class="ui cancel button">Fechar</div>
        </div>
    </div>
}

@if (Model.Simulado.FlagSimuladoEncerrado)
{
    <div id="resultados" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Resultados
        </div>
        <div class="content">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Dia</th>
                        <th>Prova</th>
                        <th>Qte. Acertos</th>
                        <th>Escore Padronizado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (SimCandidatoProva prova in Model.SimCandidatoProva.OrderBy(c => c.CodDiaRealizacao).ThenBy(c => c.CodProva))
                    {
                        <tr>
                            <td>@(prova.CodDiaRealizacao)°</td>
                            <td>@prova.SimProva.Titulo</td>
                            <td>@($"{prova.QteAcertos}/{prova.SimProva.QteQuestoes}")</td>
                            <td><b>@prova.EscorePadronizado</b></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="3">Classificação</th>
                        <td>@Model.ClassificacaoPosicao</td>
                    </tr>
                    <tr>
                        <th colspan="3">Escore Padronizado Final</th>
                        <td>@Model.EscorePadronizadoFinal</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="actions">
            <div class="ui cancel button">Fechar</div>
        </div>
    </div>
}
else {
    <form action="@Url.Action("Cancelar", "Inscricao", new { codigo = Model.Simulado.Codigo })" method="post" id="cancelar-inscricao" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Cancelar Inscrição no "@Model.Simulado.Titulo"
        </div>
        <div class="content">
            <div class="ui negative message">
                <div class="header">
                    Você tem certeza que deseja cancelar inscrição?
                </div>
                <p>
                    Se pretende cancelar a inscrição insira abaixo o código do simulado <code class="ui label">@Model.Simulado.Codigo</code>.
                </p>
            </div>
            <div class="ui form">
                <div class="field">
                    <input type="text" name="simuladoCancelar" placeholder="Código do Simulado" autocomplete="off" required />
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Voltar</div>
            <button type="submit" class="ui red button">Cancelar Inscrição</button>
        </div>
    </form>
}

@section Scripts {
    <script>
        $(function () {
            $('.ui.modal').modal();
            $('.ui.dropdown').dropdown({ action: 'hide' });
            $('[data-content]').popup();
            $('.trigger[data-modal]').click(function () { $('#' + $(this).data('modal') + '.modal').modal('show'); });
            $('form').submit(function () {
                var $this = $(this);
                if ($this.hasClass('modal')) {
                    $this.modal('hide');
                }
                $this.find('.button[type=submit]').addClass('loading');
            });
            $('.cartao.item').click(function () {
                var url = $(this).data('url');
                window.open(url);
            });
        })();
    </script>
}