@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model ImpressaoAvaliacaoViewModel

@{
    ViewBag.Title = $"Imprimir {Model.Avaliacao.TipoAvaliacao.Descricao}";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated button informacoes">Informações</div>
</h2>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<form class="ui form" method="post">
    <div class="field required">
        <label data-ajuda="Forneça abaixo o título desta avaliação">Forneça o título</label>
        <input type="text" name="txtTitulo" placeholder="Título" value="@($"{Model.Avaliacao.TipoAvaliacao.Descricao} {Model.Avaliacao.CodAvaliacao}")" required />        
    </div>
    <div class="field required">
        <label data-ajuda="Digite abaixo o nome da instituição para esta avaliação">Digite o nome da instituição</label>
        <input type="text" name="txtInstituicao" placeholder="Instituição" value="@($"{Model.Avaliacao.Professor.Instituicao?.PessoaJuridica.NomeFantasia}")" required />
    </div>
    <div class="field required">
        <label data-ajuda="Informe abaixo o nome do professor desta avaliação">Informe o nome do professor</label>
        <input type="text" name="txtProfessor" placeholder="Professor" value="@($"{Model.Avaliacao.Professor.Usuario.PessoaFisica.Nome}")" required />
    </div>
    <div class="field">
        <label data-ajuda="Insira abaixo os campos que você queira definir para seus alunos preencherem">Insira os campos</label>
        <select name="ddlCampos" tabindex="0" class="ui search dropdown" multiple>
            <option value="">Campos</option>
            <option value="Nome" selected>Nome</option>
            <option value="Data">Data</option>
            <option value="Nº">Nº</option>
            <option value="Turma">Turma</option>
            <option value="Curso">Curso</option>
        </select>
    </div>
    <div class="field">
        <label data-ajuda="Descreva abaixo todas as instruções para auxiliarem na realização desta avaliação">Descreva as instruções desta avaliação</label>
        <textarea name="txtInstrucoes" placeholder="Instruções"></textarea>
    </div>
    <div class="field">
        <div class="ui toggle checkbox">
            <input type="checkbox" name="chkArquivar" checked>
            <label data-ajuda="Marque esta caixa caso queira deixar esta avaliação arquivada">Arquivar após imprimir</label>
        </div>
    </div>
    <div class="field">
        <input type="submit" class="ui button" value="Imprimir" />
    </div>
</form>

@section Scripts {
    <script>
        $(function () {
            $('.ui.checkbox').checkbox();
            $('.ui.accordion').accordion();
            $('.ui.modal').modal();
            $('.ui.search.dropdown').dropdown({
                allowAdditions: true
            });
            $('.informacoes.button').click(function () {
                $('.informacoes.modal').modal('show');
            });
        });
    </script>
}
