<!DOCTYPE html>

@{ 
    string path = Request.Url.PathAndQuery.ToLower();
    bool acessarOuCadastrar = path.Contains("acessar") || path.Contains("cadastrar") || path.Contains("senha");
    bool conectado = Sessao.Candidato != null;
}

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC Simulados</title>
    <link href="~/resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/css/simulado")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="background"></div>
    <div class="pusher">
        <div class="ui menu" style="border-radius:0">
            <div class="ui container">
                @*<a href="~/" class="item">
                        <img src="~/resources/images/layout/logo-black.png" />
                    </a>*@
                <a href="@Url.Action("", "Inscricao")" class="item logo">
                    <b>SIAC</b>&nbsp;Simulados
                </a>
                <a href="@Url.Action("Index", "Inscricao", new { codigo = "" })" class="@(path.Contains("simulado/inscricao") ? "active" : "") item">Calendário</a>
                <a href="@Url.Action("Index", "Candidato", new { codigo = "" })" class="@(path.EndsWith("simulado/candidato") ? "active" : "") item">Candidato</a>
                <a href="@Url.Action("Inscricoes", "Candidato", new { codigo = "" })" class="@(path.Contains("simulado/candidato/inscricoes") ? "active" : "") item">Inscrições</a>
                <div class="right menu">
                    @if (conectado)
                    {
                        if (!Sessao.Candidato.PerfilCompleto)
                        {
                            <a href="@Url.Action("Perfil", "Candidato")" class="item" data-title="Perfil Incompleto" data-content="Você precisa completar seu Perfil para começar a se inscrever.">
                                <i class="fitted red warning icon"></i>
                            </a>
                        }
                        <div class="ui dropdown item">
                            @Sessao.Candidato.PrimeiroNome
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="@Url.Action("Inscricoes", "Candidato", new { codigo = "" })" class="item">Minhas Inscrições</a>
                                <a href="@Url.Action("Perfil", "Candidato")" class="item">Perfil</a>
                                <a href="@Url.Action("Desconectar", "Candidato")" class="item">Sair</a>
                            </div>
                        </div>
                    }
                    <a href="@Url.Action("Index", "Gerencia")" class="item"><i class="fitted lock icon"></i></a>
                </div>
            </div>
        </div>
        <div class="ui container">
            <div class="ui centered stackable grid">
                <div class="@(acessarOuCadastrar ? "eight" : "twelve") wide column">
                    <div class="ui segment">
                        @RenderBody()
                    </div>
                </div>
                @if (!acessarOuCadastrar && !conectado)
                {
                    <div class="four wide column">
                        <div class="ui segment">
                            <div class="ui center aligned icon header">
                                <i class="icon user"></i>
                                <div class="content" style="padding-left:0!important">
                                    Área do Candidado
                                    <div class="sub header">
                                        Informações sobre inscrição e simulados passados.
                                    </div>
                                </div>
                            </div>
                            <div class="ui fluid buttons">
                                <a href="@Url.Action("Acessar", "Candidato")" class="ui primary button">Acessar</a>
                                <div class="or" data-text="ou"></div>
                                <a href="@Url.Action("Cadastrar", "Candidato")" class="ui button">Cadastrar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/signalR")
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                $('[data-content]').popup();
                $('.ui.dropdown').dropdown();
            })();
        </script>
        @RenderSection("Scripts", required: false)
        <div class="ui page dimmer">
            <div class="ui large text global loader">Carregando</div>
        </div>
    </div>
</body>
</html>
