@model AtalhoViewModel

<div class="column aligned center" onmouseenter="$(this).transition('pulse')">
    <a href="@Model.Url" class="ui basic segment" title="@Model.Mensagem">
        <div class="ui icon header" data-lembrete="@Model.Lembrete">
            <i class="@Model.Icone icon"></i>
            @Model.Descricao
        </div>
    </a>
</div>