<div class="column aligned center" onmouseenter="$(this).transition('pulse')">
    <a href="@ViewData["Url"]" class="ui basic segment" title="@ViewData["Mensagem"]">
        <div class="ui icon header" data-lembrete="@ViewData["Lembrete"]">
            <i class="@ViewData["Icone"] icon"></i>
            @ViewData["Descricao"]
        </div>
    </a>
</div>
