@model Avaliacao

<div class="ui informacoes modal">
    <i class="icon close"></i>
    <div class="header">Informações sobre a avaliação</div>
    <div class="content">
        @if (Model.FlagAgendada || Model.FlagRealizada)
        {
            <div class="ui fluid styled accordion">
                <div class="active title"><i class="dropdown icon"></i>Detalhes</div>
                <div class="active content">

                    <table class="ui striped table">
                        <thead>
                            <tr>
                                <th>Disciplina</th>
                                <th>Tema(s)</th>
                                <th>Quantidade</th>
                                <th>Dificuldade</th>
                            </tr>
                        </thead>
                        @switch (Model.CodTipoAvaliacao)
                        {
                            case TipoAvaliacao.AUTOAVALIACAO:
                                <tbody>
                                    @foreach (Disciplina disc in Model.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                                    {
                                        <tr>
                                            <td>
                                                @* disciplina *@
                                                <b>@disc.Descricao</b>
                                            </td>
                                            <td class="ui labels">
                                                @* temas *@
                                                @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                                                {
                                                    <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                                }
                                            </td>
                                            <td class="ui labels">
                                                @* qte de questões *@
                                                <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                                <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                            </td>
                                            <td>
                                                @* dificuldade *@
                                                @Model.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                break;
                            case TipoAvaliacao.ACADEMICA:
                                <tbody>
                                    <tr>
                                        <td>
                                            @* Disciplina *@
                                            <b>@Model.AvalAcademica.Disciplina.Descricao</b>
                                        </td>
                                        <td class="ui labels">
                                            @* Temas *@
                                            @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                            {
                                                <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                            }
                                        </td>
                                        <td class="ui labels">
                                            @* Qte de Questões *@
                                            <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcademica.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                            <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcademica.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                        </td>
                                        <td>
                                            @* Dificuldade *@
                                            @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalAcademica.Disciplina.CodDisciplina)
                                        </td>
                                    </tr>
                                </tbody>
                                break;
                            case TipoAvaliacao.CERTIFICACAO:
                                <tbody>
                                    <tr>
                                        <td>
                                            @* Disciplina *@
                                            <b>@Model.AvalCertificacao.Disciplina.Descricao</b>
                                        </td>
                                        <td class="ui labels">
                                            @* Temas *@
                                            @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                            {
                                                <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                            }
                                        </td>
                                        <td class="ui labels">
                                            @* Qte de Questões *@
                                            <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalCertificacao.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                            <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalCertificacao.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                        </td>
                                        <td>
                                            @* Dificuldade *@
                                            @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalCertificacao.Disciplina.CodDisciplina)
                                        </td>
                                    </tr>
                                </tbody>
                                break;
                            case TipoAvaliacao.REPOSICAO:
                                <tbody>
                                    <tr>
                                        <td>
                                            @* Disciplina *@
                                            <b>@Model.AvalAcadReposicao.Disciplina.Descricao</b>
                                        </td>
                                        <td class="ui labels">
                                            @* Temas *@
                                            @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                            {
                                                <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                            }
                                        </td>
                                        <td class="ui labels">
                                            @* Qte de Questões *@
                                            <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                            <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                        </td>
                                        <td>
                                            @* Dificuldade *@
                                            @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalAcadReposicao.Disciplina.CodDisciplina)
                                        </td>
                                    </tr>
                                </tbody>
                                break;
                            default:
                                break;
                        }
                    </table>
                </div>
                <div class="title"><i class="dropdown icon"></i>Agendamento</div>
                <div class="content">
                    <table class="ui striped table">
                        <thead>
                            <tr>
                                @switch (Model.CodTipoAvaliacao)
                                {
                                    case TipoAvaliacao.ACADEMICA:
                                        <th>Turma</th>
                                        break;
                                    case TipoAvaliacao.CERTIFICACAO:
                                        <th>Quant. de Avaliados</th>
                                        break;
                                    case TipoAvaliacao.REPOSICAO:
                                        <th>Quant. de Alunos</th>
                                        break;
                                    default:
                                        break;
                                }
                                <th>Data</th>
                                <th>Horário</th>
                                <th>Sala</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @switch (Model.CodTipoAvaliacao)
                                {
                                    case TipoAvaliacao.ACADEMICA:
                                        <td>
                                            @* Turma *@
                                            @($"{Model.AvalAcademica.Turma.Curso.Descricao} ({Model.AvalAcademica.Turma.CodTurma})")
                                        </td>
                                        break;
                                    case TipoAvaliacao.CERTIFICACAO:
                                        <td>
                                            @Model.AvalCertificacao.PessoaFisica.Count
                                        </td>
                                        break;
                                    case TipoAvaliacao.REPOSICAO:
                                        <td>
                                            @Model.AvalAcadReposicao.Alunos.Count
                                        </td>
                                        break;
                                    default:
                                        break;
                                }

                                <td>
                                    @* Data *@
                                    @Model.DtAplicacao.Value.ToString("ddd, dd/MM/yyyy")
                                </td>
                                <td>
                                    @* Horário *@
                                    Das @Model.DtAplicacao.Value.ToShortTimeString() até @Model.DtTermino.Value.ToShortTimeString()
                                </td>
                                <td>
                                @switch (Model.CodTipoAvaliacao)
                                {
                                    case TipoAvaliacao.ACADEMICA:
                                        @Model.AvalAcademica.Sala.Descricao
                                        break;
                                    case TipoAvaliacao.CERTIFICACAO:
                                        @Model.AvalCertificacao.Sala.Descricao
                                        break;
                                    case TipoAvaliacao.REPOSICAO:
                                        @Model.AvalAcadReposicao.Sala.Descricao
                                        break;
                                    default:
                                        break;
                                }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Tema(s)</th>
                        <th>Quantidade</th>
                        <th>Dificuldade</th>
                    </tr>
                </thead>
                @switch (Model.CodTipoAvaliacao)
                {
                    case TipoAvaliacao.AUTOAVALIACAO:
                        <tbody>
                            @foreach (Disciplina disc in Model.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                            {
                                <tr>
                                    <td>
                                        @* disciplina *@
                                        <b>@disc.Descricao</b>
                                    </td>
                                    <td class="ui labels">
                                        @* temas *@
                                        @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                                        {
                                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                        }
                                    </td>
                                    <td class="ui labels">
                                        @* qte de questões *@
                                        <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                        <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                    </td>
                                    <td>
                                        @* dificuldade *@
                                        @Model.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                                    </td>
                                </tr>
                            }
                        </tbody>
                        break;
                    case TipoAvaliacao.ACADEMICA:
                        <tbody>
                            <tr>
                                <td>
                                    @* Disciplina *@
                                    <b>@Model.AvalAcademica.Disciplina.Descricao</b>
                                </td>
                                <td class="ui labels">
                                    @* Temas *@
                                    @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                    {
                                        <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                    }
                                </td>
                                <td class="ui labels">
                                    @* Qte de Questões *@
                                    <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcademica.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                    <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcademica.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                </td>
                                <td>
                                    @* Dificuldade *@
                                    @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalAcademica.Disciplina.CodDisciplina)
                                </td>
                            </tr>
                        </tbody>
                        break;
                    case TipoAvaliacao.CERTIFICACAO:
                        <tbody>
                            <tr>
                                <td>
                                    @* Disciplina *@
                                    <b>@Model.AvalCertificacao.Disciplina.Descricao</b>
                                </td>
                                <td class="ui labels">
                                    @* Temas *@
                                    @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                    {
                                        <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                    }
                                </td>
                                <td class="ui labels">
                                    @* Qte de Questões *@
                                    <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalCertificacao.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                    <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalCertificacao.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                </td>
                                <td>
                                    @* Dificuldade *@
                                    @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalCertificacao.Disciplina.CodDisciplina)
                                </td>
                            </tr>
                        </tbody>
                        break;
                    case TipoAvaliacao.REPOSICAO:
                        <tbody>
                            <tr>
                                <td>
                                    @* Disciplina *@
                                    <b>@Model.AvalAcadReposicao.Disciplina.Descricao</b>
                                </td>
                                <td class="ui labels">
                                    @* Temas *@
                                    @foreach (AvaliacaoTema avalTema in Model.AvaliacaoTema)
                                    {
                                        <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                    }
                                </td>
                                <td class="ui labels">
                                    @* Qte de Questões *@
                                    <div class="ui objetiva label">Objetiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                    <div class="ui discursiva label">Discursiva<div class="detail">@Model.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                                </td>
                                <td>
                                    @* Dificuldade *@
                                    @Model.AvaliacaoTema.ToList().MaxDificuldade(Model.AvalAcadReposicao.Disciplina.CodDisciplina)
                                </td>
                            </tr>
                        </tbody>
                        break;
                    default:
                        break;
                }
            </table>
        }
    </div>
</div>
