@model AvaliacaoAgendarViewModel

@{ 
    int? codSala = Model.Avaliacao.CodTipoAvaliacao == TipoAvaliacao.ACADEMICA ? Model.Avaliacao.AvalAcademica.CodSala : Model.Avaliacao.AvalCertificacao.CodSala;
}

<div class="ui confirmar modal">
    <div class="header">
        Verifique e confirme os dados fornecidos descritos abaixo
    </div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<form class="ui form" method="post">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @if (Model.Avaliacao.CodTipoAvaliacao == TipoAvaliacao.ACADEMICA)
    {
        <div class="field required">
            <label data-ajuda="Clique na caixa abaixo para selecionar a turma em que será aplicada a avaliação. Obs.: Serão listadas as turmas cadastradas no sistema acadêmico no período letivo corrente.">Selecione a turma</label>
            <select id="ddlTurma" name="ddlTurma" class="ui search dropdown" required>
                <option value="">Turma</option>
                @foreach (Turma turma in Model.Turmas)
                {
                    var cod = @turma.CodTurma;
                    <option @(Model.Avaliacao.AvalAcademica.NumTurma.HasValue ? Model.Avaliacao.AvalAcademica.Turma.CodTurma == cod ? "selected" : "" : "") value="@cod">@turma.Curso.Descricao (@cod)</option>
                }
            </select>
        </div>
    }    
    <div class="three fields">
        <div class="field required">
            <label data-ajuda="Defina abaixo os valores para a data de aplicação da avaliação.">Defina a data de aplicação</label>
            <input id="txtData" name="txtData" type="text" autocomplete="off" data-mask="00/00/0000" placeholder="Data" value="@(Model.Avaliacao.DtAplicacao?.ToString("dd/MM/yyyy"))" required />
        </div>
        <div class="field required">
            <label data-ajuda="Forneça abaixo os valores para a hora de início da aplicação.">Forneça a hora de início</label>
            <input id="txtHoraInicio" name="txtHoraInicio" type="text" autocomplete="off" data-mask="00:00" placeholder="Hora de início" value="@(Model.Avaliacao.DtAplicacao?.ToString("HH:mm"))" required />
        </div>
        <div class="field required">
            <label data-ajuda="Forneça abaixo os valores para a hora de término da aplicação.">Forneça a hora de término</label>
            <input id="txtHoraTermino" name="txtHoraTermino" type="text" autocomplete="off" data-mask="00:00" placeholder="Hora de término" value="@(Model.Avaliacao.DtTermino?.ToString("HH:mm"))" required />
        </div>
    </div>
    <div class="field required">
        <label data-ajuda="Clique na caixa abaixo para escolher a sala na qual será aplicada a avaliação.">Escolha a sala</label>
        <select id="ddlSala" name="ddlSala" class="ui search dropdown" required>
            <option value="">Sala</option>
            @foreach (Sala sala in Model.Salas)
            {
                <option @(codSala.HasValue && codSala.Value == sala.CodSala ? "selected" : "") value="@sala.CodSala" title="@sala.RefLocal">@sala.Descricao</option>
            }
        </select>
    </div>
    <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Detalhe")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
    <button class="ui confirmar button disabled" tabindex="0">Avançar</button>
</form>
