@model List<Questao>

@foreach (Questao questao in Model)
{
    <a class="card hidden" style="display:none!important" href="@Url.Action("Detalhe", new { codigo = questao.CodQuestao })">
        <div class="content">
            <div class="header">@questao.Enunciado.ToShortString(140)</div>
            <div class="meta"><span title="@questao.DtCadastro.ToBrazilianString()">@questao.DtCadastro.ToElapsedTimeString()</span></div>
            <div class="description ui labels">
                <span class="ui label">@questao.Disciplina.Descricao</span>
                <span class="ui label">@questao.Dificuldade.Descricao</span>
                <span class="ui label">@questao.TipoQuestao.Descricao</span>
            </div>
        </div>
    </a>
}
