@model List<Questao>

@foreach (Questao questao in Model)
{
    <div id="@questao.CodQuestao" class="card">
        <div class="content">
            <div class="header" data-enunciado="@questao.Enunciado">@questao.Enunciado.ToShortString(140)</div>
            <div class="meta"><span title="@questao.DtCadastro.ToBrazilianString()">@questao.DtCadastro.ToElapsedTimeString()</span></div>
            <div class="description ui labels">
                <span class="ui label">@questao.Disciplina.Descricao</span>
                <span class="ui label">@questao.Dificuldade.Descricao</span>
                <span class="ui tipo label">@questao.TipoQuestao.Descricao</span>
            </div>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui detalhe button">Detalhes</div>
            <div class="ui acao button">Adicionar</div>
        </div>
    </div>
}
