@model Simulado
@{
    ViewBag.Title = "Gerenciar Datas do Simulado";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

@Html.Partial("_SimuladoInformacoes")

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 2 }, { "Simulado", Model } })

<div class="ui confirmar modal">
    <div class="header">
        Verifique e confirme os dados fornecidos descritos abaixo
    </div>
    <div class="content">
    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<form class="ui form" method="post">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="two fields">
        <div class="field required">
            <label data-ajuda="Defina abaixo a data de início do prazo de abertura das inscrições deste simulado.">Defina a data de início das inscrições</label>
            <input id="txtInicioInscricao" value="@(Model.DtInicioInscricao?.ToString("ddMMyyyy"))" name="txtInicioInscricao" type="text" autocomplete="off" data-mask="00/00/0000" placeholder="Data de Início" required />
        </div>
        <div class="field required">
            <label data-ajuda="Defina abaixo a data de término do prazo de abertura das inscrições deste simulado.">Defina a data de término das inscrições</label>
            <input id="txtTerminoInscricao" value="@(Model.DtTerminoInscricao?.ToString("ddMMyyyy"))" name="txtTerminoInscricao" type="text" autocomplete="off" data-mask="00/00/0000" placeholder="Data de Término" required />
        </div>
    </div>
    <a href="@Url.Action("Detalhe", new { codigo = Model.Codigo })" class="ui cancelar button">Voltar para Detalhe</a>
    <button class="ui right floated confirmar button" tabindex="0">Avançar</button>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/simulado")
    <script>
        (function () {
            siac.Simulado.Datas.iniciar();
        })();
    </script>
}