@model SimuladoPontuacoesViewModel
@{
    ViewBag.Title = "Inserir Pontuações";
}

<h2>@ViewBag.Title</h2>

<div class="ui form segment">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
        <div class="field">
            <label>Selecione a prova para inserir as pontuações</label>
            <select name="ddlProva" id="ddlProva" class="ui dropdown">
                <option value="">Selecione a prova</option>
                @foreach (var prova in Model.Provas)
                {
                    <option value="@($"{prova.CodDiaRealizacao}.{prova.CodProva}")">@($"{prova.CodDiaRealizacao}º dia - {prova.Titulo}")</option>
                }
            </select>
        </div>
    <div class="ui right floated prova button" data-action="@Url.Action("PontuacoesPorProva", new { codigo = Model.Simulado.Codigo })">Carregar prova</div>
    <div style="clear:both"></div>
</div>

<div class="ui basic segment lista respostas">
</div>

<div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Os valores preenchidos serão perdidos</p><a href='@Url.Action("Detalhe", new { codigo = Model.Simulado.Codigo })' class='ui mini button'>Confirmar</a></div>" class="ui voltar button">Voltar</div>
<div class="ui right floated icon button topo"><i class="icon angle up"></i></div>

@section Scripts {
    @Scripts.Render("~/bundles/js/simulado")
    <script>
        (function () {
            siac.Simulado.Pontuacoes.iniciar();
        })();
    </script>
}