@model SimuladoProvaViewModel
@{
    ViewBag.Title = "Gerenciar Provas do Simulado";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

@Html.Partial("_SimuladoInformacoes", Model.Simulado)

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 4 }, { "Simulado", Model.Simulado } })

<h3 class="header">
    Dias de Realização
    <div class="ui right floated novo dia button">Novo Dia</div>
</h3>

<div class="ui basic segment" style="max-height:30em">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Dia</th>
                <th>Data</th>
                <th>Início</th>
                <th>Término</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (SimDiaRealizacao dia in Model.Simulado.SimDiaRealizacao.OrderBy(s => s.DtRealizacao).ToList())
            {
                <tr>
                    <td>@dia.CodDiaRealizacao</td>
                    <td>@dia.DtRealizacao.DiaRealizacaoRepresentacao()</td>
                    <td>@dia.DtRealizacao.ToShortTimeString()</td>
                    <td>@dia.DtRealizacao.AddMinutes(dia.Duracao).ToShortTimeString()</td>
                    <td>
                        <a data-dia="@dia.CodDiaRealizacao" class="ui provas tiny button"><i class="copy icon"></i>Provas</a>
                        <a data-dia="@dia.CodDiaRealizacao" class="ui editar tiny button"><i class="edit icon"></i>Editar</a>
                        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Esta ação não poderá ser desfeita</p><a data-dia='@(dia.CodDiaRealizacao)' class='ui remover mini button'>Confirmar</a></div>" class="ui tiny button"><i class="trash icon"></i>Remover</div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<form action="@Url.Action("NovoDia", new { codigo = Model.Simulado.Codigo })" method="post" class="ui novo dia modal">
    <i class="icon close"></i>
    <div class="header">
        Novo Dia
    </div>
    <div class="content">
        <div class="ui form">
            <div class="ui error message">
                <div class="header">Verifique</div>
                <ul class="list"></ul>
            </div>
            <div class="three fields">
                <div class="field required">
                    <label>Data de Realização</label>
                    <input type="text" autocomplete="off" name="txtDataRealizacao" data-mask="00/00/0000" placeholder="Data de Realização" />
                </div>
                <div class="field required">
                    <label>Horário de Início</label>
                    <input type="text" autocomplete="off" name="txtHorarioInicio" data-mask="00:00" placeholder="Horário de Início" />
                </div>
                <div class="field required">
                    <label>Horário de Término</label>
                    <input type="text" autocomplete="off" name="txtHorarioTermino" data-mask="00:00" placeholder="Horário de Início" />
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="reset" value="Cancelar" class="ui cancel button" />
        <input type="submit" value="Cadastrar" class="ui approve button" />
    </div>
</form>

<div class="ui provas modal"></div>

<form action="@Url.Action("NovaProva", new { codigo = Model.Simulado.Codigo })" method="post" class="ui novo prova modal">
    <i class="icon close"></i>
    <div class="header">
        Nova Prova
    </div>
    <div class="content">
        <div class="ui form">
            <div class="two fields">
                <div class="field required">
                    <label>Disciplina</label>
                    <select name="ddlDisciplina" class="ui fluid search dropdown" required">
                        <option value="">Disciplina</option>
                        @foreach (Disciplina d in Model.Disciplinas)
                        {
                            <option value="@d.CodDisciplina">@d.Descricao</option>
                        }
                    </select>
                </div>
                <div class="field">
                    <label>Prof. Responsável</label>
                    <select name="ddlProfessor" class="ui fluid search dropdown" required">
                        <option value="">Professor</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field required">
                    <label>Quant. de Questões Objetivas</label>
                    <input type="number" name="txtQteQuestoesObjetivas" min="0" placeholder="Quant. de Questões Objetivas" required />
                </div>
                <div class="field">
                    <label>Quant. de Questões Discursivas</label>
                    <input type="number" name="txtQteQuestoesDiscursivas" min="0" placeholder="Quant. de Questões Discursivas" />
                </div>
            </div>
            <div class="field required">
                <label data-ajuda="Forneça na caixa abaixo o título">Forneça o título</label>
                <input id="txtTitulo" name="txtTitulo" maxlength="250" placeholder="Título" required />
            </div>
            <div class="field">
                <label data-ajuda="Descreva no espaço abaixo uma descrição para este simulado">Insira uma descrição</label>
                <textarea id="txtDescricao" name="txtDescricao" rows="5" placeholder="Descrição"></textarea>
            </div>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input id="chkRedacao" name="chkRedacao" type="checkbox">
                        <label for="chkRedacao">Esta prova é uma redação/produção textual</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="reset" value="Cancelar" class="ui cancel button" />
        <button type="submit" class="ui button">Cadastrar</button>
    </div>
</form>

<a href="@Url.Action("Detalhe", new { codigo = Model.Simulado.Codigo })" class="ui cancelar button">Voltar para Detalhe</a>
<a href="@Url.Action("Detalhe", new { codigo = Model.Simulado.Codigo })" class="ui right floated button" tabindex="0">Avançar</a>

@section Scripts {
    <script id="disciplinaProfessores" type="application/json">
        @Html.Raw(Model.DisciplinaProfessoresEmJson)
    </script>
    @Scripts.Render("~/bundles/js/simulado")
}