@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model SimuladoRespostasViewModel
@{
    ViewBag.Title = "Inserir Respostas";
}

<h2>@ViewBag.Title</h2>

<div class="ui form segment">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Selecione a prova para inserir as respostas</label>
            <select name="ddlProva" id="ddlProva" class="ui dropdown">
                <option value="">Selecione a prova</option>
                @foreach (var prova in Model.Provas)
                {
                    <option value="@($"{prova.CodDiaRealizacao}.{prova.CodProva}")">@($"{prova.CodDiaRealizacao}º dia - {prova.Titulo}")</option>
                }
            </select>
        </div>
        <div class="field">
            <label>Selecione o candidato</label>
            <select name="ddlCandidato" id="ddlCandidato" class="ui search dropdown">
                <option value="">Selecione o candidato</option>
                @foreach (var candidato in Model.Candidatos)
                {
                    <option value="@candidato.CodCandidato">@(candidato.Candidato.Nome) (@Formate.ParaCPF(candidato.Candidato.Cpf))</option>
                }
            </select>
        </div>
    </div>
    <div class="ui prova button" data-action="@Url.Action("CorrecaoPorProva", new { codigo = Model.Simulado.Codigo })">Corrigir por Prova</div>
    <div class="ui candidato button" data-action="@Url.Action("CorrecaoPorCandidato", new { codigo = Model.Simulado.Codigo })">Corrigir por Candidato</div>
</div>

<div class="ui basic segment lista respostas">
</div>

<div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Os valores preenchidos não salvos serão perdidos</p><a href='@Url.Action("Detalhe", new { codigo = Model.Simulado.Codigo })' class='ui mini button'>Confirmar</a></div>" class="ui voltar button">Voltar</div>
<div class="ui right floated icon button topo"><i class="icon angle up"></i></div>

@section Scripts {
    @Scripts.Render("~/bundles/js/simulado")
    <script>
        (function () {
            siac.Simulado.Respostas.iniciar();
        })();
    </script>
}