@model SIAC.Web.Models.AvalAuto

@{
    ViewBag.Title = "Avaliação ";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewBag.Title @Model.Avaliacao.TipoAvaliacao.Sigla.@Model.Avaliacao.Ano.@Model.Avaliacao.Semestre-@Model.Avaliacao.NumIdentificador.ToString("0000")</h2>

<div class="ui icon message positive">
    <i class="icon checkmark"></i>
    <div class="content">        
        <div class="header">Avaliação gerada com sucesso.</div>
        <p>Sua autoavalicao encontra-se no seu <b><a href="/Historico/Autoavaliacao">Histórico</a></b> e você poderá realizá-la quando bem entender.</div>
    </h3>    
</div>
<div class="ui segment">
    <div class="ui dividing header">
        Detalhes
    </div>
    <table class="ui very basic table">
        <tbody>
            @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                <tr>
                    <td> @* disciplina *@
                        <b>@disc.Descricao</b>
                    </td>
                    <td> @* temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td> @* qte de questões *@
                        @Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina).Select(a => a.AvalTemaQuestao.Count).ToList()[0] questões
                    </td>
                    <td> @* dificuldade *@
                        Dificuldade
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<table class="ui table" hidden>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var key in ViewBag.Form.Keys)
        {
            <tr>
                <td>@key</td>
                <td>@ViewBag.Form[key]</td>
            </tr>
        }
    </tbody>
</table>

<div class="ui very relaxed items">
    <span class="ui label">@ViewBag.QteQuestoes Questões</span>
    
    @{
        List<int> cods = new List<int>();
        foreach (SIAC.Web.Models.QuestaoTema questao in ViewBag.QuestoesDaAvaliacao)
        {
            cods.Add(questao.CodQuestao);
            if (questao != null)
            {
                <div class="item">
                    <div class="content">
                        <a href="/Historico/Questao/@questao.CodQuestao" class="header">@questao.Questao.Enunciado.ToShortString(140)</a>
                        <div class="meta ui labels">
                            <span class="ui label">@questao.Tema.Disciplina.Descricao - @questao.Tema.Descricao</span>
                            <span class="ui label">@questao.Questao.Dificuldade.Descricao - @questao.Questao.CodDificuldade</span>
                            <span class="ui label">@questao.Questao.TipoQuestao.Descricao</span>
                        </div>
                    </div>
                </div>
            }
        }
        cods.Sort();
        foreach (var item in cods)
        {
            <span class="ui label">@item</span>
        }
    }
</div>

<div class="ui button">Voltar para Dashboard</div>
<div class="ui button">Realizar agora</div>