@model AvalAuto

@{
    ViewBag.Title = "Autoavaliação" /*+ @Model.Avaliacao.CodAvaliacao*/;
}

<h2>@ViewBag.Title</h2>

<div class="ui icon message positive">
    <i class="icon checkmark"></i>
    <div class="content">        
        <div class="header">Avaliação gerada com sucesso.</div>
        <p>Sua autoavalicao encontra-se no seu <b><a href="@Url.Action("Index")">Histórico</a></b> e você poderá realizá-la quando bem entender.</div>
</div>
<div class="ui segment">
    <div class="ui dividing header">
        Detalhes
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Tema(s)</th>
                <th>Quantidade</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                <tr>
                    <td> @* disciplina *@
                        <b>@disc.Descricao</b>
                    </td>
                    <td class="ui labels"> @* temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels"> @* qte de questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 2)</div></div>
                    </td>
                    <td> @* dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a href="@Url.Action("Index", "Principal")" class="ui button">Voltar para Principal</a>
<a href="@Url.Action("Index")" class="ui button">Autoavaliações Salvas</a>
<a href="@Url.Action("Realizar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Realizar agora</a>