@model AvaliacaoGerarViewModel

@{
    ViewBag.Title = "Gerar Autoavaliação";
}

<div class="ui confirmar modal">
    <div class="header">Verificar e confirmar os dados fornecidos</div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Disciplina(s)</th>
                    <th>Tema(s)</th>
                    <th>Quantidade(s)</th>
                    <th>Dificuldade(s)</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form id="frmAutoavaliacao" method="post" action="@Url.Action("Confirmar")" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Disciplinas *@
    <div class="field required">
        <label for="ddlDisciplinas" data-ajuda="Clique na caixa abaixo para escolher a(s) Disciplina(s)">
            Escolha a(s) disciplina(s)
        </label>
        <select id="ddlDisciplinas" name="ddlDisciplinas" class="ui search dropdown" multiple required>
            <option value="">Disciplina</option>
            @foreach (Disciplina disciplina in Model.Disciplinas)
            {
                <option value="@disciplina.CodDisciplina">@disciplina.Descricao</option>
            }
        </select>
    </div>
    @* Temas *@
    <div class="field required">
        <label data-ajuda="Selecione a Disciplina abaixo e depois clique na caixa que surgirá para escolher o(s) Tema(s) dessa Disciplina">
            Selecione o(s) tema(s)
        </label>
        <div class="ui styled fluid tema accordion">

        </div>
    </div>
    @* Dificuldade das Questões *@
    <div class="field required">
        <label data-ajuda="Selecione a Disciplina abaixo e depois clique na caixa que surgirá para escolher a Dificuldade das Questões dessa Disciplina">
            Defina a dificuldade das questões
        </label>
        <div class="ui styled fluid dificuldade accordion">
        </div>
    </div>
    @* Tipo das Questões *@
    <div class="field required">
        <label data-ajuda="Clique na caixa abaixo para escolher o Tipo das Questões">
            Determine o tipo das questões
        </label>
        <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" data-padrao="1" required>
            <option value="">Tipo</option>
            <option value="2">Somente discursivas</option>
            <option value="1">Somente objetivas</option>
            <option value="3">Misto</option>
        </select>
    </div>
    @* Qte das Questões *@
    <div class="field required">
        <label data-ajuda="Selecione a Disciplina abaixo e depois clique na caixa que surgirá para escolher a Quantidade das Questões dessa Disciplina">
            Delimite a quantidade das questões para cada tipo
        </label>
        <div class="ui styled fluid quantidade accordion">
        </div>
    </div>
    <div class="ui segment">
        <div class="field">
            <div class="ui toggle checkbox">
                <input id="chkAvalicoesSeparadas" name="chkAvalicoesSeparadas" type="checkbox" checked>
                <label for="chkAvalicoesSeparadas">Gerar uma autoavaliação para cada disciplina</label>
            </div>
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div class="ui prosseguir button">Prosseguir</div>
    </div>
</form>

<code class="json" hidden>
    @Html.Raw(Json.Encode(Model.Dificuldades.Select(d => new { Codigo = d.CodDificuldade, Descricao = d.Descricao })))
</code>

@section Scripts{
    @Scripts.Render("~/bundles/js/autoavaliacao")
}