
@{
    ViewBag.Title = "Gerar autoavaliação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form id="frmAutoavaliacao" method="post" action="@Url.Action("Confirmar")" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Disciplinas *@
    <div class="field required">
        <label for="ddlDisciplinas">Disciplina (s)</label>
        <select id="ddlDisciplinas" name="ddlDisciplinas" class="ui search dropdown" multiple required>
            <option value="">Disciplina</option>
            @foreach (var disc in ViewBag.Disciplinas)
            {
                <option value="@disc.CodDisciplina">@disc.Descricao</option>
            }
        </select>
    </div>
    @* Temas *@
    <div class="field required">
        <label>Tema (s)</label>
        <div class="ui styled fluid tema accordion">

        </div>
    </div>
    @* Tipo das Questões *@
    <div class="field required">
        <label>Tipo das Questões</label>
        <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" required>
            <option value="">Tipo</option>
            <option value="2">Somente discursivas</option>
            <option value="1">Somente objetivas</option>
            <option value="3">Misto</option>
        </select>
    </div>
    @* Dificuldade das Questões *@
    <div class="field required">
        <label>Dificuldade das Questões</label>
        <div class="ui styled fluid dificuldade accordion">
        </div>
    </div>
    @* Qte das Questões *@
    <div class="field required">
        <label>Quantidade das Questões</label>
        <div class="ui styled fluid quantidade accordion">
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div class="ui prosseguir button">Prosseguir</div>
    </div>
</form>

<code class="json" hidden>@Html.Raw(Json.Encode(ViewBag.Dificuldades))</code>

@section Scripts{
    @Scripts.Render("~/bundles/js/autoavaliacao")
}