@model AutoavaliacaoNovoViewModel

@{
    ViewBag.Title = "Realizar Autoavaliação";
}

@if (Model.Geradas.Count > 0)
{
    <h2>@ViewBag.Title<a href="@Url.Action("Gerar")" class="ui right floated button">Gerar Nova</a></h2>
    <div class="ui basic segment">
        <div class="ui stackable three cards">
        @foreach (AvalAuto auto in Model.Geradas)
        {
            <div class="card">
                <div class="content">
                    <a href="@Url.Action("Realizar", new { codigo = auto.Avaliacao.CodAvaliacao })" class="header">Código: @auto.Avaliacao.CodAvaliacao</a>
                    <div class="meta">
                        <span>@auto.Avaliacao.DtCadastro.ToElapsedTimeString()</span>
                    </div>
                    <div class="description">
                        <p>
                            <b>Índice de Dificuldade</b>: @auto.Dificuldade.Descricao
                        </p>
                        <p>
                            <b>Quantidade de Questões</b>: @auto.Avaliacao.QteQuestoes()
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui labels">
                        @foreach (Disciplina disciplina in auto.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                        {
                            <div class="ui tag label">@disciplina.Descricao</div>
                        }
                    </div>
                </div>
                <a href="@Url.Action("Realizar", new { codigo = auto.Avaliacao.CodAvaliacao })" class="ui button">
                    Realizar
                </a>
            </div>
        }
    </div>
    </div>
}
else
{
    <div class="ui grid row centered" style="padding: 5em;">
        <h2 class="ui icon header">
            <i class="icon frown"></i>
            Você não tem autoavaliações salvas
            <div class="sub header">Desejar gerar uma agora? <a href="@Url.Action("Gerar")">Gerar</a></div>
        </h2>
    </div>
}
<div class="field">
    <a class="ui voltar button" href="@Url.Action("Index","Principal")">Voltar para Principal</a>
</div>
