@using SIAC.Models
@model AvalAuto
@{
    ViewBag.Title = "Realizar " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Questao> lstQuestao = Model.Avaliacao.EmbaralharQuestao();
}

<h2>@ViewBag.Title <div class="ui right floated button" onclick="$('.ui.informacoes.modal').modal('show')">Informações</div></h2>

<div class="ui small confirmar modal">
    <div class="header">Você tem certeza?</div>
    <div class="content">
        <input id="txtRef" type="text" hidden />
        Você está deixando a página. Isso será considerado como <b>cancelamento</b> e você perderá todos os dados.
    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar para avaliação</div>
        <div class="ui approve button">Deixar a página</div>
    </div>
</div>

<div class="ui verificar modal">
    <div class="header">Informações sobre autoavaliação</div>
    <div class="content">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                    <tr>
                        <td>
                            @* disciplina *@
                            <b>@disc.Descricao</b>
                        </td>
                        <td class="ui labels">
                            @* temas *@
                            @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                            {
                                <div class="ui tag label">@avalTema.Tema.Descricao</div>
                            }
                        </td>
                        <td class="ui labels">
                            @* qte de questões *@
                            <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 1)</div></div>
                            <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 2)</div></div>
                        </td>
                        <td>
                            @* dificuldade *@
                            @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="actions">
        <a onclick="window.location.href = '@Url.Action("Index","Principal")';" class="ui button">Voltar para Principal</a>
        <a onclick="window.location.href = '@Url.Action("Index")';" class="ui button">Voltar para Histórico</a>
        <div class="ui arquivar button">Arquivar</div>
        <a onclick="window.location.href = '@Url.Action("Avaliacao","Impressao", new { codigo = Model.Avaliacao.CodAvaliacao })';" class="ui button">Imprimir</a>
        <div class="ui iniciar button">Realizar</div>
    </div>
</div>

<div class="ui gabarito modal">
    <div class="header">Verifique e confirme</div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui small cronometrar modal">
    <div class="header">Temporizador</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input id="chkCronometrar" onchange="if ($(this).is(':checked')) { $('#txtDuracao').removeAttr('disabled').parent().removeClass('disabled') } else { $('#txtDuracao').attr('disabled', 'disabled').parent().addClass('disabled') }" type="checkbox" tabindex="0">
                    <label>Desejo cronometrar minha autoavaliação</label>
                </div>
            </div>
            <div class="inline field disabled">
                <label>Duração (em minutos)</label>
                <input id="txtDuracao" type="number" value="60" min="1" max="1439" disabled />
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui approve button">Iniciar</div>
    </div>
</div>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<div class="ui labels">
    <div class="ui label">
        Ínicio
        <div id="lblHoraInicio" class="detail">13h00min</div>
    </div>
    <div class="ui label">
        Agora
        <div id="lblHoraAgora" class="detail">13h30min</div>
    </div>
    <div class="ui label">
        Duração
        <div id="lblHoraDuracao" class="detail">01h30min</div>
    </div>
    <div class="ui label">
        Restante
        <div id="lblHoraRestante" class="detail">00h47min</div>
    </div>
</div>

<form class="ui form" action="@Url.Action("Resultado", new { codigo = Model.Avaliacao.CodAvaliacao })" method="post">
    <div class="ui basic segment">
        @for (int i = 0; i < lstQuestao.Count; i++)
        {
            <div id="@lstQuestao[i].CodQuestao" class="ui segment">
                <div class="ui dividing header" style="text-align:justify">
                    @Html.Raw((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToHtml("p"))
                </div>
                <div class="ui ribbon label" style="display:none">Respondida</div>
                @if (lstQuestao[i].CodTipoQuestao == 1)
                {
                    var lstAlternativa = lstQuestao[i].EmbaralharAlternativa();
                    <div class="grouped fields">
                        <label>Selecione a alternativa</label>
                        @for (int j = 0; j < lstAlternativa.Count; j++)
                        {
                            <div class="field">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="rdoResposta@(lstQuestao[i].CodQuestao)" value="@lstAlternativa[j].CodOrdem" />
                                    <label><b>@j.GetIndiceAlternativa()</b>) @lstAlternativa[j].Enunciado</label>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="field">
                        <label>Resposta</label>
                        <textarea name="txtResposta@(lstQuestao[i].CodQuestao)" id="txtResposta@(lstQuestao[i].CodQuestao)" placeholder="Resposta..." rows="3"></textarea>
                    </div>
                }
                <div class="ui accordion">
                    @if (lstQuestao[i].QuestaoAnexo.Count > 0)
                    {
                        <div class="title"><i class="icon dropdown"></i>Anexos</div>
                        <div class="content">
                            @foreach (var anexo in lstQuestao[i].QuestaoAnexo)
                    {
                                @Html.Partial("_Anexo", anexo)
                            }
                        </div>
                    }
                    <div class="title"><i class="icon dropdown"></i>Comentário</div>
                    <div class="content">
                        <div class="field">
                            <label>Comentário</label>
                            <textarea name="txtComentario@(lstQuestao[i].CodQuestao)" id="txtComentario@(lstQuestao[i].CodQuestao)" placeholder="Comentário..." rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="ui right floated finalizar button green">Finalizar</div>
    <a href="@Url.Action("Realizar")" class="ui button">Cancelar</a>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/autoavaliacao")
}