@model AvalAuto

@{
    ViewBag.Title = "Realizar Autoavaliação";    
}

@section Styles {
    <style>
        .ui.fixed.sticky + form {
          margin-top: 68px;
        }
    </style>
}

<h2>@ViewBag.Title <div class="ui right floated informacoes button">Informações</div></h2>

<div class="ui info hidden message" data-ajuda-mensagem>
    <div class="header">
        Algumas observações
    </div>
    <ul class="list">
        <li>O sistema salvará automaticamente suas respostas.</li>
        <li>Você pode sair a qualquer momento sem finalizar, mas o sistema irá lhe perguntar antes de continuar.</li>
        <li>A autoavaliação está disponível até que você finalize.</li>
        <li>Boa sorte e que a força esteja com você.</li>
    </ul>
</div>


<div class="ui small confirmar modal">
    <div class="header">Você tem certeza?</div>
    <div class="content">
        <input id="txtRef" type="text" hidden />
        Você está deixando a página. Isso será considerado como <b>cancelamento</b> e você perderá todos os dados.
    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar para avaliação</div>
        <div class="ui approve button">Deixar a página</div>
    </div>
</div>

@*<div class="ui verificar modal">
    <div class="header">Informações sobre autoavaliação</div>
    <div class="content">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Disciplina disciplina in Model.Autoavaliacao.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                {
                    <tr>
                        <td>
                            <b>@disciplina.Descricao</b>
                        </td>
                        <td class="ui labels">
                            @foreach (AvaliacaoTema avalTema in Model.Autoavaliacao.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disciplina.CodDisciplina))
                            {
                                <div class="ui tag label">@avalTema.Tema.Descricao</div>
                            }
                        </td>
                        <td class="ui labels">
                            <div class="ui label">Objetiva<div class="detail">@Model.Autoavaliacao.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disciplina.CodDisciplina, 1)</div></div>
                            <div class="ui label">Discursiva<div class="detail">@Model.Autoavaliacao.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disciplina.CodDisciplina, 2)</div></div>
                        </td>
                        <td>
                            @Model.Autoavaliacao.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disciplina.CodDisciplina)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="actions">
        <a onclick="window.location.href = '@Url.Action("Index","Principal")';" class="ui principal button">Voltar para Principal</a>
        <a onclick="window.location.href = '@Url.Action("Index")'; $('.verificar.modal').modal('hide');" class="ui historico button">Voltar para Histórico</a>
        <div class="ui arquivar button">Arquivar</div>
        <a onclick="window.location.href = '@Url.Action("Avaliacao","Impressao", new { codigo = Model.Autoavaliacao.Avaliacao.CodAvaliacao })';" class="ui imprimir button">Imprimir</a>
        <div class="ui iniciar button">Realizar</div>
    </div>
</div>*@

<div class="ui gabarito modal">
    <div class="header">Verificar e confirmar as respostas fornecidas</div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui small cronometrar modal">
    <div class="header">Antes de começar</div>
    <div class="content">
        <div class="ui attached message">
            <div class="header">
                Algumas observações
            </div>
            <ul class="list">
                <li>O sistema salvará automaticamente suas respostas.</li>
                <li>Você pode sair a qualquer momento sem finalizar, mas o sistema irá lhe perguntar antes de continuar.</li>
                <li>A autoavaliação está disponível até que você finalize.</li>
                <li>Boa sorte e que a força esteja com você.</li>
            </ul>
        </div>
        <div class="ui form attached segment">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input id="chkCronometrar" type="checkbox" tabindex="0">
                    <label>Desejo cronometrar minha autoavaliação</label>
                </div>
            </div>
            <div class="inline field disabled">
                <label>Duração (em minutos)</label>
                <input id="txtDuracao" type="number" value="60" min="1" max="1439" disabled />
            </div>
        </div>
    </div>
    <div class="actions">
        <a onclick="window.location.href = '@Url.Action("Realizar", "Autoavaliacao", new { codigo = "" })';" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Iniciar</div>
    </div>
</div>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<div class="ui sticky">
    <div class="ui right aligned segment">
        <div class="ui left floated floating dropdown labeled search icon button">
            <i class="sidebar icon"></i>
            <span class="text">Disciplina</span>
            <div class="menu">
                @foreach (string disciplina in Model.DicionarioDisciplinaQuestao.Keys)
                {
                    <div class="item" data-alvo="@disciplina.ReplaceChars(" ", "-")">@disciplina</div>
                }
            </div>
        </div>
        <span class="ui labels">
            <span class="ui label">
                Hora de Início
                <span id="lblHoraInicio" class="detail">13h00min</span>
            </span>
            <span class="ui label">
                Hora Atual
                <span id="lblHoraAgora" class="detail">13h30min</span>
            </span>
            <span class="ui label">
                Duração
                <span id="lblHoraDuracao" class="detail">01h30min</span>
            </span>
            <span class="ui label">
                Restante
                <span id="lblHoraRestante" class="detail">00h47min</span>
            </span>
        </span>
    </div>
</div>

<form class="ui form" action="@Url.Action("Resultado", new { codigo = Model.Avaliacao.CodAvaliacao })" method="post">
    <div class="ui basic segment">
        @foreach (string disciplina in Model.DicionarioDisciplinaQuestao.Keys)
        {
            <h3 class="visibility" id="@disciplina.ReplaceChars(" ", "-")">@disciplina</h3>
            List<Questao> lstQuestao = Model.DicionarioDisciplinaQuestao[disciplina];
            for (int i = 0; i < lstQuestao.Count; i++)
            {
                AvalQuesPessoaResposta resposta = Model.Avaliacao.PessoaResposta.FirstOrDefault(r => r.CodQuestao == lstQuestao[i].CodQuestao);
                <div id="@lstQuestao[i].CodQuestao" class="ui questao segment">
                    <div class="ui dividing header" style="text-align:justify">
                        @Html.Raw((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToHtml("p"))
                    </div>
                    <div class="ui ribbon label" style="display:none">Respondida</div>                    
                    @if (lstQuestao[i].CodTipoQuestao == TipoQuestao.OBJETIVA)
                    {
                        List<Alternativa> lstAlternativa = lstQuestao[i].EmbaralharAlternativa();
                        <div class="grouped fields">
                            <label>Selecione a alternativa</label>
                            @for (int j = 0; j < lstAlternativa.Count; j++)
                            {
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" name="rdoResposta@(lstQuestao[i].CodQuestao)" value="@lstAlternativa[j].CodOrdem" @(lstAlternativa[j].CodOrdem == resposta?.RespAlternativa ? "checked" : "") />
                                        <label><b>@j.GetIndiceAlternativa()</b>) @lstAlternativa[j].Enunciado</label>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="field">
                            <label>Responda abaixo</label>
                            <textarea name="txtResposta@(lstQuestao[i].CodQuestao)" id="txtResposta@(lstQuestao[i].CodQuestao)" placeholder="Resposta..." rows="3">@(resposta?.RespDiscursiva)</textarea>
                        </div>
                    }
                    <div class="ui accordion">
                        @if (lstQuestao[i].QuestaoAnexo.Count > 0)
                        {
                            <div class="title"><i class="icon dropdown"></i>Anexos</div>
                            <div class="content">
                                @foreach (QuestaoAnexo anexo in lstQuestao[i].QuestaoAnexo)
                                {
                                    @Html.Partial("_Anexo", anexo)
                                }
                            </div>
                        }
                        <div class="title" data-ajuda="Clique aqui para deixar um comentário sobre essa questão para o professor.">
                            <i class="icon dropdown"></i>Algo de errado com a questão?
                        </div>
                        <div class="content">
                            <div class="field">
                                <label>Comente abaixo</label>
                                <textarea name="txtComentario@(lstQuestao[i].CodQuestao)" id="txtComentario@(lstQuestao[i].CodQuestao)" placeholder="Comentário..." rows="3">@(resposta?.RespComentario)</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="ui right floated finalizar button green">Finalizar</div>
    <a href="@Url.Action("Realizar")" class="ui button">Cancelar</a>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/autoavaliacao")
}