@model AvalAvi

@{
    ViewBag.Title = "Agendar Av. Institucional";
}

<h2>@ViewBag.Title</h2>

<div class="ui basic confirmar modal">
    <div class="ui icon header">
        <i class="help icon"></i>
        Prosseguir operação?
    </div>
    <div class="content">
        <p>Deseja prosseguir o agendamento e continuar a geração de Av. Institucional?</p>
    </div>
    <div class="actions">
        <div class="ui cancel red basic inverted button"><i class="remove icon"></i>Não</div>
        <div class="ui approve green basic inverted button"><i class="checkmark icon"></i>Sim</div>
    </div>
</div>

<form class="ui form" method="post" action="@Url.Action("Agendar")">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="two fields">
        <div class="eight wide field required">
            <label data-ajuda="Insira abaixo a data de início para o período de validade desta avaliação institucional">Insira a data de início</label>
            <input id="txtDataInicio" name="txtDataInicio" autocomplete="off" value="@(Model.Avaliacao.DtAplicacao?.ToString("dd/MM/yyyy"))" placeholder="Data de Início" type="text" data-mask="00/00/0000" required />
        </div>
        <div class="eight wide field required">
            <label data-ajuda="Insira abaixo a data de término para o período de validade desta avaliação institucional">Insira a data de término</label>
            <input id="txtDataTermino" name="txtDataTermino" autocomplete="off" value="@(Model.DtTermino?.ToString("dd/MM/yyyy"))"  placeholder="Data de Término" type="text" data-mask="00/00/0000" required />
        </div>
    </div>
</form>
<br />
<div class="ui cancelar button">Cancelar</div>
<div class="ui special popup">
    <div class='header'>Tem certeza?</div>
    <div class='content'>
        <p>Você perderá todos os dados</p>
        <a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a>
    </div>
</div>
<div class="ui right floated prosseguir button">Prosseguir</div>


@section Scripts{
    @Scripts.Render("~/bundles/js/institucional")
}