@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model InstitucionalGerarQuestaoViewModel

@{
    ViewBag.Title = "Configurações de Av. Institucional";
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Configurações de Av. Institucional você poderá gerenciar os módulos/indicadores e categorias para os próximos usos.</li>
        <li>A guia <b>Módulo</b> serve para abrir a área de configuração dos módulos das avaliações institucionais.</li>
        <li>A guia <b>Categoria</b> serve para abrir a área de configuração das categorias das avaliações institucionais.</li>
        <li>A guia <b>Indicador</b> serve para abrir a área de configuração dos indicadores das avaliações institucionais.</li>
    </ul>
</div>

<div class="ui form">

    @* Menu das Abas *@
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="modulo">Módulo</a>
        <a class="item" data-tab="categoria">Categoria</a>
        <a class="item" data-tab="indicador">Indicador</a>
    </div>

    @* Módulo *@
    <div class="ui bottom attached active tab segment modulo" data-tab="modulo">
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Cadastrados</div>
            <div class="content">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Módulo(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var modulo in Model.Modulos)
                        {
                            <tr>
                                <td>@modulo.Descricao</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <form method="post" action="@Url.Action("CadastrarModulo")">
            <div class="field required">
                <label data-ajuda="Forneça abaixo o título do módulo a ser cadastrado.">Forneça o título</label>
                <input type="text" name="txtTitulo" maxlength="100" placeholder="Título" required />
            </div>
            <div class="field required">
                <label data-ajuda="Descreva abaixo o objetivo deste módulo.">Descreva o objetivo</label>
                <textarea rows="5" name="txtObjetivo" placeholder="Objetivo" required></textarea>
            </div>
            <div class="field">
                <label data-ajuda="Insira abaixo uma observação sobre este módulo.">Insira uma observação</label>
                <textarea rows="2" name="txtObservacao" placeholder="Observação"></textarea>
            </div>
            <br />
            <a href="@Url.Action("Index")" class="ui voltar button">Voltar</a>
            <input type="submit" class="ui right floated button" value="Cadastrar" />
        </form>

    </div>
    @* Categoria *@
    <div class="ui bottom attached tab segment categoria" data-tab="categoria">
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Cadastrados</div>
            <div class="content">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Categoria(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoria in Model.Categorias)
                        {
                            <tr>
                                <td>@categoria.Descricao</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <form method="post" action="@Url.Action("CadastrarCategoria")">
            <div class="field required">
                <label data-ajuda="Forneça abaixo o título para a categoria a ser cadastrada.">Forneça o título</label>
                <input type="text" name="txtTitulo" placeholder="Título" required />
            </div>
            <div class="field">
                <label data-ajuda="Insira abaixo uma observação sobre esta categoria.">Insira uma observação</label>
                <textarea rows="2" name="txtObservacao" placeholder="Observação"></textarea>
            </div>
            <br />
            <a href="@Url.Action("Index")" class="ui voltar button">Voltar</a>
            <input type="submit" class="ui right floated button" value="Cadastrar" />
        </form>
    </div>
    @* Indicador *@
    <div class="ui bottom attached tab segment indicador" data-tab="indicador">
        <div class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Cadastrados</div>
            <div class="content">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Indicador(es)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var indicador in Model.Indicadores)
                        {
                            <tr>
                                <td>@indicador.Descricao</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <form method="post" action="@Url.Action("CadastrarIndicador")">
            <div class="field required">
                <label data-ajuda="Forneça abaixo o título para o indicador a ser cadastrado.">Forneça o título</label>
                <input type="text" name="txtTitulo" placeholder="Título" required />
            </div>
            <div class="field">
                <label data-ajuda="Insira abaixo uma observação sobre este indicador.">Insira uma observação</label>
                <textarea rows="2" name="txtObservacao" placeholder="Observação"></textarea>
            </div>
            <br />
            <a href="@Url.Action("Index")" class="ui voltar button">Voltar</a>
            <input type="submit" class="ui right floated button" value="Cadastrar" />
        </form>
    </div>
</div>


@section Scripts{
    @Scripts.Render("~/bundles/js/institucional")
}