@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalAvi
@{
    ViewBag.Title = "Detalhes de Avaliação Institucional";
}

<h2>
    @ViewBag.Title
    @if (!Model.FlagQuestionario)
    {
        <span class="ui label"><i class="certificate icon"></i>Gerada</span>
    }
    else if (!Model.FlagPublico)
    {
    <span class="ui label"><i class="list icon"></i>Preenchida</span>
    }
    else if (!Model.FlagAgendada)
    {
    <span class="ui label"><i class="users icon"></i>Destinada</span>
    }
    else if (!Model.FlagAndamento && !Model.FlagConcluida)
    {
    <span class="ui label"><i class="wait icon"></i>Configurada</span>
    }
    else if (!Model.FlagConcluida)
    {
    <span class="ui label"><i class="write icon"></i>Andamento</span>
    }
    else if (Model.FlagConcluida)
    {
    <span class="ui label"><i class="checkmark icon"></i>Concluída</span>
    }
</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Detalhes você poderá gerenciar os próximos passos que pretende realizar com sua avaliação institucional.</li>
        <li>O botão <b>Voltar para Histórico</b> serve para abrir a tela de histórico de suas avaliações institucionais.</li>
        @if (!Model.FlagAndamento && !Model.FlagConcluida)
        {
            <li>O botão <b>@(Model.FlagQuestionario ? "Atualizar Questionário" : "Criar Questionário")</b> serve para gerenciar o questionário desta avaliação.</li>
            if (Model.FlagQuestionario)
            {
                <li>O botão <b>Ordenar Questões</b> serve para abrir a tela de configuração na qual você poderá definir a ordem das questões.</li>
            }
            <li>O botão <b>Definir Público</b> serve para abrir a tela de público de avaliação onde você poderá definir o público-alvo para esta avaliação.</li>
            <li>O botão <b>@(Model.FlagAgendada ? "Reagendar" : "Agendar")</b> serve para abrir a tela de agendamento em que você poderá definir o período de validade desta avaliação.</li>
        }
        else if (Model.FlagAndamento || Model.FlagConcluida)
        {
            <li>O botão <b>Resultado</b> serve para abrir a tela de resultado onde será possível ver as respostas do público-alvo.</li>
            <li>O botão <b>Imprimir</b> serve para abrir a tela de impressão onde será possível imprimir a avaliação junto das respostas do público-alvo.</li>
        }
    </ul>
</div>

<div class="ui basic segment">
    <div class="ui dividing header">
        Dados gerais
    </div>
    <table class="ui striped table">
        <tbody>
            <tr>
                <td><b>Identificador</b></td>
                <td>@Model.Avaliacao.CodAvaliacao</td>
            </tr>
            <tr>
                <td><b>Coordenador</b></td>
                <td>@Model.Colaborador.Usuario.PessoaFisica.Nome</td>
            </tr>
            <tr>
                <td><b>Título</b></td>
                <td>@Model.Titulo</td>
            </tr>
            <tr>
                <td><b>Objetivo</b></td>
                <td>@Html.Raw(Model.Objetivo.ToHtml("p"))</td>
            </tr>
        </tbody>
    </table>
</div>

@if (Model.FlagAgendada)
{
    <div class="ui basic segment">
        <div class="ui dividing header">
            Agendamento
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Data de Início</th>
                    <th>Data de Término</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Avaliacao.DtAplicacao.Value.ToShortDateString()</td>
                    <td>@Model.DtTermino.Value.ToShortDateString()</td>
                </tr>
            </tbody>
        </table>
    </div>
}

@* Público *@
@if (Model.FlagPublico)
{
    <div class="ui basic segment">
        <div class="ui dividing header">
            Público-alvo
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var publico in Model.AviPublico.OrderBy(p=>p.CodAviTipoPublico))
                {
                    <tr>
                        <td>@publico.Descricao</td>
                        <td><span class="ui label">@publico.AviTipoPublico.Descricao</span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<a href="@Url.Action("Historico")" class="ui button">Voltar para Histórico</a>
@if(!Model.FlagAndamento && !Model.FlagConcluida)
{
    <a href="@Url.Action("Questionario", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">@(Model.FlagQuestionario ? "Atualizar Questionário" : "Criar Questionário")</a>
    if (Model.FlagQuestionario)
    {
        <a href="@Url.Action("Configurar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Ordenar Questões</a>
    }
    <a href="@Url.Action("Publico", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Definir Público</a>
    <a href="@Url.Action("Agendar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">@(Model.FlagAgendada ? "Reagendar" : "Agendar")</a>
}
else if (Model.FlagAndamento || Model.FlagConcluida)
{
    <a href="@Url.Action("Resultado", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
    <a href="@Url.Action("Institucional","Impressao", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Imprimir</a>
}