@model InstitucionalRealizarViewModel

@{
    ViewBag.Title = "Realizar Av. Institucional";

    int indMod = 1;
    int indCat = 1;
    int indInd = 1;
    int indQue = 1;
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

<div class="ui info message">
    <div class="header">@Model.Avi.Titulo</div>
    @Html.Raw(Model.Avi.Objetivo.ToHtml("p"))
</div>

<div class="ui basic segment">
    <form class="ui form">
        @foreach (var modulo in Model.Avi.MapQuestoes)
        {
            <h3 class="ui dividing header">@modulo.Modulo.Descricao.Sumarizada(indMod)</h3>
            foreach (var categoria in modulo.Categorias)
            {
                <h4 class="ui header">@categoria.Categoria.Descricao.Sumarizada(indMod,indCat)</h4>
                <div class="ui secondary segment">
                    @foreach (var indicador in categoria.Indicadores)
                    {
                        <h5 class="ui header">@indicador.Indicador.Descricao.Sumarizada(indMod, indCat, indInd)</h5>
                        foreach (var questao in indicador.Questoes)
                        {
                            AviQuestaoPessoaResposta resposta = Model.Respostas.FirstOrDefault(pr => pr.CodOrdem == questao.CodOrdem);
                            <div class="ui segment" data-questao="@questao.CodOrdem">
                                <h4 class="ui dividing header" data-content="@questao.Observacao">
                                    @questao.Enunciado.Replace(Environment.NewLine, "</br>").Sumarizada(indMod, indCat, indInd, indQue)
                                </h4>
                                @if (questao.FlagDiscursiva)
                                {
                                    <textarea rows="3" name="txtResposta@(questao.CodOrdem)" class="input" placeholder="Resposta">@(resposta?.RespDiscursiva.RemoveSpaces())</textarea>
                                }
                                else
                                {
                                    int marcada = resposta != null ? resposta.RespAlternativa.Value : -1;
                                    <div class="ui very relaxed list">
                                        @foreach (var alternativa in questao.AviQuestaoAlternativa)
                                        {
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" data-alternativa="txtAlternativa@(alternativa.CodAlternativa)" name="rdoResposta@(questao.CodOrdem)" value="@alternativa.CodAlternativa" @(marcada == alternativa.CodAlternativa ? "checked" : "") />
                                                    <label><b>@((alternativa.CodAlternativa - 1).GetIndiceAlternativa())</b>) @alternativa.Enunciado</label>
                                                </div>
                                            </div>
                                            if (alternativa.FlagAlternativaDiscursiva)
                                            {
                                                <div class="field">
                                                    <input type="text" @(marcada == alternativa.CodAlternativa ? "" : "readonly") id="txtAlternativa@(alternativa.CodAlternativa)" placeholder="@alternativa.Enunciado" value="@(marcada == alternativa.CodAlternativa ? resposta.RespDiscursiva : "")" />
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>
                            indQue++;
                        }
                        indQue = 1;
                        indInd++;
                    }
                </div>
                indInd = 1;
                indCat++;
            }
            indCat = 1;
            indMod++;
        }
    </form>
</div>
<a href="@Url.Action("Andamento")" class="ui sair button">Sair</a>
<a href="@Url.Action("Andamento")" class="ui right floated salvar button">Salvar</a>

@Html.Partial("_InstitucionalInformacoes", Model.Avi)

@section Scripts{
    @Scripts.Render("~/bundles/js/institucional")
}