@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model InscricaoIndexViewModel

@{
    ViewBag.Title = "Calendário de Simulados";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Simulados.Count > 0)
{
    <div class="ui basic segment">
        <div class="ui three cards">
            @foreach (var simulado in Model.Simulados)
            {
                var dtAberto = simulado.DtInicioInscricao?.ToElapsedTimeString() ?? "";
                <div class="card">
                    <div class="content">
                        <a href="@Url.Action("Inscricoes", "Candidato", new { codigo = simulado.Codigo })" class="header">
                            @simulado.Titulo
                        </a>
                        <div class="meta">
                            Aberto @(dtAberto.Contains("/") ? "em" : "há") <time datetime="@(simulado.DtInicioInscricao?.ToHtmlDateTimeString())">@dtAberto</time>
                        </div>
                        <div class="description">
                            @if (String.IsNullOrWhiteSpace(simulado.Descricao))
                            {
                                <p><b>Início das Inscrições</b>:@(simulado.DtInicioInscricao?.ToString("dd/MM/yyyy"))</p>
                                <p><b>Término das Inscrições</b>: @(simulado.DtTerminoInscricao?.ToString("dd/MM/yyyy"))</p>
                                <p><b>Primeiro Dia de Provas</b>: @(simulado.PrimeiroDiaRealizacao?.DtRealizacao.DiaRealizacaoRepresentacao())</p>
                            }
                            else {
                                @Html.Raw(simulado.Descricao.ToShortString(140).ToHtml("p"))
                            }
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui tag label">@simulado.Codigo</div>
                    </div>
                    <div class="ui two buttons">
                        <a data-simulado="@simulado.Codigo" class="ui detalhe button"><i class="plus icon"></i>Detalhes</a>
                        @if (Sessao.Candidato != null && simulado.CandidatoInscrito(Sessao.Candidato.CodCandidato))
                        {
                            <a href="@Url.Action("Inscricoes", "Candidato", new { codigo = simulado.Codigo })" class="ui active toggle button"><i class="checkmark icon"></i>Inscrito</a>
                        }
                        else if (!simulado.FlagTemVaga)
                        {
                            <a class="ui negative button"><i class="users icon"></i>Esgotado</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Confirmar", "Inscricao", new { codigo = simulado.Codigo })" class="ui inscricao button">Inscrição</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div style="padding: 3.5em;">
        <h2 class="ui center aligned icon header">
            <i class="icon frown"></i>
            Não há simulados cadastrados
            @if (Sessao.Candidato != null)
            {
                <div class="sub header">Você receberá um e-mail quando algum simulado ficar disponível.</div>
            }
            else
            {
            <div class="sub header">Deseja se cadastrar para ser avisado quando um novo simulado estiver disponível? <a href="@Url.Action("Cadastrar", "Candidato")">Cadastre-se</a></div>
            }
        </h2>
    </div>
}

<a href="@Url.Action("Index", "Candidato")" class="ui basic button">Ir para Área do Candidato</a>
<a href="@Url.Action("Inscricoes", "Candidato")" class="ui basic button">Ir para Inscrições</a>

@section Scripts {
    <script>
        $(function () {
            $('.detalhe.button').click(function () {
                var _this = $(this),
                    simulado = _this.data('simulado');

                _this.addClass('loading');

                $.ajax({
                    url: '/simulado/inscricao/detalhe',
                    type: 'POST',
                    data: {
                        codigo: simulado
                    },
                    success: function (modal) {
                        $('.detalhe.modal').remove();
                        $('body').append(modal);
                        $('.detalhe.modal').modal('show');
                    },
                    complete: function () {
                        _this.removeClass('loading');
                    }
                });
            });
        })();
    </script>
}
