@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AutoavaliacaoNovoViewModel

@{
    ViewBag.Title = "Realizar Autoavaliação";
}

@if (Model.Geradas.Count > 0)
{
    <h2>@ViewBag.Title<a href="@Url.Action("Gerar")" class="ui right floated button">Gerar Nova</a></h2>
    <div class="ui basic segment">
        <div class="ui stackable three cards">
        @foreach (var auto in Model.Geradas)
        {
            var dtCadastro = auto.Avaliacao.DtCadastro.ToElapsedTimeString();
            <div class="card">
                <div class="content">
                    <a href="@Url.Action("Realizar", new { codigo = auto.Avaliacao.CodAvaliacao })" class="header">
                        @auto.Disciplina.First().Descricao @(auto.Disciplina.Count > 1 ? "+" + (auto.Disciplina.Count - 1) : "")
                    </a>
                    <div class="meta">
                        Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@auto.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
                    </div>
                    <div class="description">
                        <p>
                            <b>Índice de Dificuldade</b>: @auto.Dificuldade.Descricao
                        </p>
                        <p>
                            <b>Quantidade de Questões</b>: @auto.Avaliacao.Questao.Count
                        </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui tag label">@auto.Avaliacao.CodAvaliacao</div>
                </div>
                <a href="@Url.Action("Realizar", new { codigo = auto.Avaliacao.CodAvaliacao })" class="ui button">
                    Realizar
                </a>
            </div>
        }
    </div>
    </div>
}
else
{
    <div class="ui grid row centered" style="padding: 5em;">
        <h2 class="ui icon header">
            <i class="icon frown"></i>
            Você não tem autoavaliações salvas
            <div class="sub header">Desejar gerar uma agora? <a href="@Url.Action("Gerar")">Gerar</a></div>
        </h2>
    </div>
}
<div class="field">
    <a class="ui voltar button" href="@Url.Action("Index","Principal")">Voltar para Principal</a>
</div>
