@model AvaliacaoAgendarViewModel
@{
    ViewBag.Title = "Agendar Reposição";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">
        Informações
    </div>
</h2>

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 3 } })

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

@Html.Partial("_AvaliacaoAgendar")

@section Scripts{
    @Scripts.Render("~/bundles/js/reposicao")
}