@model AvalAcademica

@{
    ViewBag.Title = "Justificar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/js/reposicao")
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 1 } })

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<div class="ui basic prosseguir modal">
    <div class="ui header">
        Como deseja prosseguir?
    </div>
    <div class="content">
        Você pode gerar uma nova avaliação ou utilizar a mesma aplicada anteriormente.
    </div>
    <div class="actions">
        <div class="ui nova inverted button">
            Gerar nova avaliação
        </div>
        <div class="ui mesma inverted button">
            Utilizar mesma avaliação
        </div>
    </div>
</div>

<div class="ui confirmar modal">
    <i class="icon close"></i>
    <div class="header">
        Verifique e confirme
    </div>
    <div class="content">
        <div class="ui form">
            <div class="ui red segment">
                <div class="field required">
                    <label for="txtSenha">Insira sua senha para confirmar</label>
                    <input id="txtSenha" name="txtSenha" type="password" placeholder="Senha" />
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">
            Voltar
        </div>
        <div class="ui approve button">
            Confirmar
        </div>
    </div>
</div>

@if (Model.AlunoSemJustificacao.Count > 0)
{
    <form method="post" class="ui form basic segment">
        <div class="ui error message">
            <div class="header">Verifique</div>
            <ul></ul>
        </div>
        <div class="field required">
            <label for="ddlAluno">Aluno</label>
            <select id="ddlAluno" name="ddlAluno" class="ui search dropdown" tabindex="0">
                <option value="">Selecione</option>
                @foreach (var aluno in Model.AlunoSemJustificacao.OrderBy(a => a.Usuario.PessoaFisica.Nome))
                {
                    <option value="@aluno.MatrAluno">@aluno.Usuario.PessoaFisica.Nome</option>
                }
            </select>
        </div>
        <div class="field required">
            <label for="txtJustificacao">Justificação</label>
            <textarea id="txtJustificacao" name="txtJustificacao" rows="2" tabindex="0" placeholder="Justificação"></textarea>
        </div>
        <div class="field">
            <div class="ui adicionar button" tabindex="0">
                Adicionar
            </div>
        </div>
    </form>
}
@if (Model.Justificacoes.Count > 0)
{
    <table class="ui selectable stripped table">
        <thead>
            <tr>
                <th class="two wide"></th>
                <th class="four wide">Aluno</th>
                <th class="ten wide">Justificação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var justificacao in Model.Justificacoes.OrderBy(j => j.AvalPessoaResultado.PessoaFisica.Nome))
            {
                <tr id="@justificacao.CodJustificacao">
                    <td>
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="chkSelecionado@(justificacao.CodJustificacao)" />
                        </div>
                    </td>
                    <td>
                        @justificacao.AvalPessoaResultado.PessoaFisica.Nome
                    </td>
                    <td>
                        @Html.Raw(justificacao.Descricao.Replace("\n", "<br/>"))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div class="ui cancelar button" tabindex="0">
    Cancelar
</div>
<div class="ui popup">
    <div class="header">Tem certeza?</div>
    <div class="content">Você perderá os dados não salvos.</div>
    <div class="content">
        <a href="@Url.Action("Index")" class="ui small button">
            Sim, cancelar
        </a>
    </div>
</div>
<div class="ui prosseguir button" tabindex="0">
    Prosseguir
</div>