@{
    ViewBag.Title = "Principal";
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Seja bem vindo ao SIAC!
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe o menu principal do sistema.</li>
        <li>Caso exista algum, os ícones em vermelho servem como contadores para cada operação pendente.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Realizar", "Autoavaliacao") },
            { "Icone", "file outline" },
            { "Descricao", "Realizar Autoavaliação" },
            { "Mensagem", "Ir para Realizar Autoavaliação" },
            { "Lembrete", "autoavaliacao" }
        })
        @if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar", "Academica") },
                { "Icone", "file" },
                { "Descricao", "Gerar Avaliação Acadêmica" },
                { "Mensagem", "Ir para Gerar Avaliação Acadêmica" }   
            })        
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar", "Certificacao") },
                { "Icone", "file text" },
                { "Descricao", "Gerar Avaliação de Certificação" },
                { "Mensagem", "Ir para Gerar Avaliação de Certificação" }
            })
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Cadastrar", "Questao") },
                { "Icone", "add circle" },
                { "Descricao", "Cadastrar Questão" },
                { "Mensagem", "Ir para Cadastrar Questão" }
            })
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Pendente") },
                { "Icone", "edit" },
                { "Descricao", "Correções Pendentes" },
                { "Mensagem", "Ir para Correções Pendentes" },
                { "Lembrete", "correcao" }
            })
        }
        @if (Sessao.UsuarioCategoriaCodigo <= Categoria.COLABORADOR)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Agenda") },
                { "Icone", "calendar" },
                { "Descricao", "Visualizar Agendamentos" },
                { "Mensagem", "Ir para Agenda" }
            })
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Index", "Perfil") },
                { "Icone", "user" },
                { "Descricao", "Visualizar Meu Perfil" },
                { "Mensagem", "Ir para Perfil" }
            })
        }
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Index", "Historico") },
            { "Icone", "wait" },
            { "Descricao", "Histórico das Atividades" },
            { "Mensagem", "Ir para Histórico" }
        })
    </div>
</div>