@model List<Avaliacao>

@{
    ViewBag.Title = "Correções Pendentes";
}

<h2>@ViewBag.Title</h2>
<div class="ui basic segment">
    <div class="ui two stackable cards">
        @foreach (Avaliacao avaliacao in Model)
        {
            var dtCadastro = avaliacao.DtCadastro.ToElapsedTimeString();
            switch (avaliacao.CodTipoAvaliacao)
            {
                case TipoAvaliacao.ACADEMICA:
                    <a href="@Url.Action("Corrigir", "Academica", new { codigo = avaliacao.CodAvaliacao })" class="card blue">
                        <div class="content">
                            <div class="header">@avaliacao.AvalAcademica.Disciplina.Descricao</div>
                            <div class="meta">
                                Aplicada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
                            </div>
                            <div class="description">
                                <p><b>Turma</b>: @avaliacao.AvalAcademica.Turma.Curso.Descricao (@avaliacao.AvalAcademica.Turma.CodTurma)</p>
                                <p><b>Quant. de Questões</b>: @avaliacao.Questao.Count</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                case TipoAvaliacao.CERTIFICACAO:
                    <a href="@Url.Action("Corrigir", "Certificacao", new { codigo = avaliacao.CodAvaliacao })" class="card teal">
                        <div class="content">
                            <div class="header">@avaliacao.AvalCertificacao.Disciplina.Descricao</div>
                            <div class="meta">
                                Aplicada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
                            </div>
                            <div class="description">
                                <p><b>Quant. de Avaliados</b>: @avaliacao.AvalCertificacao.PessoaFisica.Count</p>
                                <p><b>Quant. de Questões</b>: @avaliacao.Questao.Count</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file text icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                case TipoAvaliacao.REPOSICAO:
                    <a href="@Url.Action("Corrigir", "Reposicao", new { codigo = avaliacao.CodAvaliacao })" class="card orange">
                        <div class="content">
                            <div class="header">@avaliacao.AvalAcadReposicao.Disciplina.Descricao</div>
                            <div class="meta">
                                Aplicada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
                            </div>
                            <div class="description">
                                <p><b>Quant. de Alunos</b>: @avaliacao.AvalAcadReposicao.Alunos.Count</p>
                                <p><b>Quant. de Questões</b>: @avaliacao.Questao.Count</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file archive outline icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                default:
                    break;
            }
        }
    </div>
</div>
<a href="@Url.Action("Index")" class="ui button">Voltar</a>
