@model List<Avaliacao>

@{
    ViewBag.Title = "Correções Pendentes";
}

<h2>@ViewBag.Title</h2>
<div class="ui basic segment">
    <div class="ui two stackable cards">
        @foreach (Avaliacao avaliacao in Model)
        {
            switch (avaliacao.CodTipoAvaliacao)
            {
                case TipoAvaliacao.ACADEMICA:
                    <a href="@Url.Action("Corrigir", "Academica", new { codigo = avaliacao.CodAvaliacao })" class="card blue">
                        <div class="content">
                            <div class="header">Código: @avaliacao.CodAvaliacao</div>
                            <div class="meta">
                                <span title="@avaliacao.DtAplicacao.Value.ToBrazilianString()">@avaliacao.DtAplicacao.Value.ToElapsedTimeString()</span>
                            </div>
                            <div class="description">
                                <p><b>Disciplina</b>: @avaliacao.AvalAcademica.Disciplina.Descricao</p>                                
                                <p><b>Turma</b>: @avaliacao.AvalAcademica.Turma.Curso.Descricao (@avaliacao.AvalAcademica.Turma.CodTurma)</p>
                                <p><b>Quantidade de Questões</b>: @avaliacao.QteQuestoes()</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                case TipoAvaliacao.CERTIFICACAO:
                    <a href="@Url.Action("Corrigir", "Certificacao", new { codigo = avaliacao.CodAvaliacao })" class="card teal">
                        <div class="content">
                            <div class="header">Código: @avaliacao.CodAvaliacao</div>
                            <div class="meta">
                                <span title="@avaliacao.DtAplicacao.Value.ToBrazilianString()">@avaliacao.DtAplicacao.Value.ToElapsedTimeString()</span>
                            </div>
                            <div class="description">
                                <p><b>Disciplina</b>: @avaliacao.AvalCertificacao.Disciplina.Descricao</p>
                                <p><b>Quantidade de Questões</b>: @avaliacao.QteQuestoes()</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file text icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                case TipoAvaliacao.REPOSICAO:
                    <a href="@Url.Action("Corrigir", "Reposicao", new { codigo = avaliacao.CodAvaliacao })" class="card orange">
                        <div class="content">
                            <div class="header">Código: @avaliacao.CodAvaliacao</div>
                            <div class="meta">
                                <span title="@avaliacao.DtAplicacao.Value.ToBrazilianString()">@avaliacao.DtAplicacao.Value.ToElapsedTimeString()</span>
                            </div>
                            <div class="description">
                                <p><b>Disciplina</b>: @avaliacao.AvalAcadReposicao.Disciplina.Descricao</p>
                                <p><b>Quantidade de Alunos</b>: @avaliacao.AvalAcadReposicao.Alunos.Count</p>
                                <p><b>Quantidade de Questões</b>: @avaliacao.QteQuestoes()</p>
                            </div>
                        </div>
                        <span class="ui attached top right label"><i class="file archive outline icon"></i>@avaliacao.TipoAvaliacao.DescricaoCurta</span>
                    </a>
                    break;
                default:
                    break;
            }
        }
    </div>
</div>

