@model GerenciaBlocosViewModel

@{
    ViewBag.Title = "Blocos";
}

<h2>
    @ViewBag.Title
    <a class="ui novo right floated button"><i class="add icon"></i>Novo</a>
</h2>

<form action="@Url.Action("NovoBloco")" method="post" class="ui novo modal">
    <i class="icon close"></i>
    <div class="header">
        Novo Bloco
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field required">
                <label>Campus</label>
                <select name="ddlCampus" class="ui fluid search dropdown" required">
                    <option value="">Campus</option>
                    @foreach (Campus c in Model.Campi)
                    {
                        <option value="@c.CodComposto">@c.PessoaJuridica.NomeFantasia</option>
                    }
                </select>
            </div>
            <div class="field required">
                <label>Descrição</label>
                <input type="text" name="txtDescricao" placeholder="Descrição" maxlength="50" required />
            </div>
            <div class="field required">
                <label>Sigla</label>
                <input type="text" name="txtSigla" placeholder="Sigla" maxlength="15" required />
            </div>
            <div class="field">
                <label>Referência da Localização</label>
                <input type="text" name="txtRefLocal" placeholder="Referência da Localização" maxlength="255" />
            </div>
            <div class="field">
                <label>Observação</label>
                <input type="text" name="txtObservacao" placeholder="Observação" maxlength="140" />
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="reset" value="Cancelar" class="ui cancel button" />
        <button type="submit" class="ui button">Cadastrar</button>
    </div>
</form>
<form action="@Url.Action("EditarBloco")" method="post" class="ui editar modal"></form>
<div class="ui excluir small modal">
    <i class="icon close"></i>
    <div class="header">
        Excluir Bloco
    </div>
    <div class="content">
        <div class="ui list">
            <div class="item">
                <div class="header">Campus</div>
                <div bloco-campus class="description"></div>
            </div>
            <div class="item">
                <div class="header">Bloco</div>
                <div bloco-descricao class="description"></div>
            </div>
            <div class="item">
                <div class="header">Sigla</div>
                <div bloco-sigla class="description"></div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui approve red button">Excluir</div>
    </div>
</div>

<div class="ui basic segment" style="max-height:30em;overflow-y:auto">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Campus</th>
                <th>Bloco</th>
                <th>Sigla</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Bloco bloco in Model.Blocos)
            {
                <tr>
                    <td bloco-campus data-content="@bloco.Campus.PessoaJuridica.NomeFantasia">@bloco.Campus.Sigla</td>
                    <td bloco-descricao>@bloco.Descricao</td>
                    <td bloco-sigla>@bloco.Sigla</td>
                    <td>
                        <a data-bloco="@bloco.CodBloco" class="ui editar tiny button"><i class="write icon"></i>Editar</a>
                        <a data-bloco="@bloco.CodBloco" class="ui excluir tiny button"><i class="trash icon"></i>Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="ui button" href="@Url.Action("Dados", "Gerencia")">Voltar para Dados Gerais</a>

@section Scripts {
    @Scripts.Render("~/bundles/js/gerencia")
}