
@{
    ViewBag.Title = "Dados Gerais";
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Disciplinas", "Gerencia") },
            { "Icone", "cube" },
            { "Descricao", "Disciplinas" },
            { "Mensagem", "" }
        })
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Professores", "Gerencia") },
            { "Icone", "user" },
            { "Descricao", "Professores" },
            { "Mensagem", "" }
        })
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Blocos", "Gerencia") },
            { "Icone", "building outline" },
            { "Descricao", "Blocos" },
            { "Mensagem", "" }
        })
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Salas", "Gerencia") },
            { "Icone", "marker" },
            { "Descricao", "Salas" },
            { "Mensagem", "" }
        })
    </div>
</div>


<a class="ui button" href="@Url.Action("Index", "Gerencia")">Voltar</a>