@model GerenciaDisciplinasViewModel

@{
    ViewBag.Title = "Disciplinas";
}

<h2>@ViewBag.Title</h2>

<div class="ui basic segment" style="max-height:30em;overflow-y:auto">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Disciplina</th>
                <th>Sigla</th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @for (int i = 0, length = Model.Disciplinas.Count; i < length; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model.Disciplinas[i].Descricao</td>
                    <td>@Model.Disciplinas[i].Sigla</td>
                    @*<td>
                        <a data-bloco="@bloco.CodBloco" class="ui editar tiny button"><i class="write icon"></i>Editar</a>
                        <a data-bloco="@bloco.CodBloco" class="ui excluir tiny button"><i class="trash icon"></i>Excluir</a>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>

<a class="ui button" href="@Url.Action("Dados", "Gerencia")">Voltar</a>
