@{
    ViewBag.Title = "Gerência de Simulados";
}

<h2>
    @ViewBag.Title
    <a href="@Url.Action("Index", "Inscricao")" class="ui right floated button" target="_blank"><i class="external icon"></i> Abrir área pública</a>
</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @switch (Sessao.UsuarioCategoriaCodigo)
        {
            case Categoria.COLABORADOR:
                @Html.Partial("_Atalho", new ViewDataDictionary() {
                    { "Url", Url.Action("Novo", "Simulado") },
                    { "Icone", "plus" },
                    { "Descricao", "Novo Simulado" },
                    { "Mensagem", "" }
                })
                @Html.Partial("_Atalho", new ViewDataDictionary() {
                    { "Url", Url.Action("Index", "Arquivo") },
                    { "Icone", "list" },
                    { "Descricao", "Arquivo de Simulados" },
                    { "Mensagem", "" }
                })
                @Html.Partial("_Atalho", new ViewDataDictionary() {
                    { "Url", Url.Action("Dados", "Gerencia") },
                    { "Icone", "cogs" },
                    { "Descricao", "Dados Gerais" },
                    { "Mensagem", "" }
                })
                @Html.Partial("_Atalho", new ViewDataDictionary() {
                    { "Url", Url.Action("Configuracoes", "Gerencia") },
                    { "Icone", "configure" },
                    { "Descricao", "Configurações" },
                    { "Mensagem", "" }
                })
                break;
            case Categoria.PROFESSOR:
                @Html.Partial("_Atalho", new ViewDataDictionary() {
                    { "Url", Url.Action("Provas", "Gerencia") },
                    { "Icone", "copy" },
                    { "Descricao", "Provas Designadas" },
                    { "Mensagem", "" }
                })
                break;
            default:
                break;
        }
    </div>
</div>