@model SimProva
<i class="icon close"></i>
<div class="header">
    Configurar Questões da Prova
</div>
<div class="content">
    <div class="ui info message @(Sessao.AjudaEstado ? "" : "hidden")" data-ajuda-mensagem>
        <div class="header">
            Ajuda
        </div>
        <ul class="list">
            <li>Aqui em configuração você poderá trocar as atuais questões de sua avaliação por alguma outra equivalente aleatória do sistema.</li>
            <li>O botão <i class="refresh icon"></i> serve para obter uma nova questão do sistema.</li>
            <li>O botão <i class="undo icon"></i> serve para desfazer a sua última alteração, caso tenha feito alguma.</li>
            <li>Não esqueça de confirmar as alterações clicando no botão <b>Salvar</b> ao fim desta página.</li>
        </ul>
    </div>

    @if (Model.QteQuestoes > Model.SimProvaQuestao.Count)
    {
        <div class="ui negative message">
            <div class="header">
                Quantidade de questões insuficiente!
            </div>
            <p>
                Esta prova não tem quantidade de questões suficientes para suprir o pedido do simulado. <a href="@Url.Action("Cadastrar", "Questao")"> Clique aqui</a> para cadastrar novas questões.
            </p>
        </div>
    }

    <div class="ui basic vertical segment">
        <h3 class="ui dividing header">Sobre</h3>
        <form method="post" action="@Url.Action("RecarregarQuestoesProvaConfigurar", new { simulado = Model.SimDiaRealizacao.Simulado.Codigo, dia = Model.CodDiaRealizacao, prova = Model.CodProva })">
            <input type="submit" class="ui button right floated button" value="Recarregar Questões " />
        </form>
        <b>Simulado:</b> @Model.SimDiaRealizacao.Simulado.Titulo<br />
        <b>Dia:</b> @Model.SimDiaRealizacao.DtRealizacao.DiaRealizacaoRepresentacao()<br />
        <b>Prova:</b> @Model.Titulo<br />
        <b>Disciplina:</b> @Model.Disciplina.Descricao<br />
        <b>Quant. de Questões Real:</b> @Model.QteQuestoes
        <b>Quant. de Questões Atual:</b> @Model.SimProvaQuestao.Count
    </div>
    <div class="ui basic vertical segment">
        <h3 class="ui dividing header">Questões</h3>
        <div class="ui one cards">
            @foreach (var item in Model.SimProvaQuestao.Select((simProvaQuestao, i) => new { i, simProvaQuestao.Questao }))
            {
                <div id="cardQuestao@(item.i)" class="card">
                    @Html.Partial("_QuestaoConfigurar", item.Questao, new ViewDataDictionary { { "Index", item.i } })
                </div>
            }
        </div>
    </div>
</div>
<div class="actions">
    <input type="reset" value="Cancelar" class="ui cancel button" />
    <button type="submit" class="ui button">Salvar</button>
</div>