
@model GerenciaEditarSalaViewModel

<i class="icon close"></i>
<div class="header">
    Editar Sala "@Model.Sala.Descricao"
</div>
<div class="content">
    <div class="ui form">
        <div class="field required">
            <label>Campus</label>
            <select name="ddlCampus" class="ui fluid search dropdown" required">
                <option value="">Campus</option>
                @foreach (Campus c in Model.Campi)
                {
                    <option value="@c.CodComposto" @(Model.Sala.Bloco.Campus.CodComposto == c.CodComposto ? "selected" : "")>@c.PessoaJuridica.NomeFantasia</option>
                }
            </select>
        </div>
        <div class="field required">
            <label>Bloco</label>
            <select name="ddlBloco" class="ui fluid search dropdown" required">
                <option value="">Bloco</option>
                @foreach (Bloco b in Model.Sala.Bloco.Campus.Bloco)
                {
                    <option value="@b.CodBloco" @(Model.Sala.Bloco.CodBloco == b.CodBloco ? "selected" : "")>@b.Descricao</option>
                }
            </select>
        </div>
        <div class="field required">
            <label>Descrição</label>
            <input type="text" name="txtDescricao" placeholder="Descrição" maxlength="50" required value="@Model.Sala.Descricao" />
        </div>
        <div class="field">
            <label>Sigla</label>
            <input type="text" name="txtSigla" placeholder="Sigla" maxlength="15" required value="@Model.Sala.Sigla" />
        </div>
        <div class="field">
            <label>Referência da Localização</label>
            <input type="text" name="txtRefLocal" placeholder="Referência da Localização" maxlength="255" value="@Model.Sala.RefLocal" />
        </div>
        <div class="field">
            <label>Observação</label>
            <input type="text" name="txtObservacao" placeholder="Observação" maxlength="140" @Model.Sala.Observacao />
        </div>
    </div>
</div>
<div class="actions">
    <input type="reset" value="Cancelar" class="ui cancel button" />
    <input type="submit" value="Salvar" class="ui approve button" />
</div>

