@model List<SIAC.Models.AvalAuto>
@foreach (var autoavaliacao in Model)
{
    <div class="card" data-avaliacao="@autoavaliacao.Avaliacao.CodAvaliacao">
        <div class="content">
            <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="header">Código: @autoavaliacao.Avaliacao.CodAvaliacao</a>
            <div class="meta">
                <span title="@autoavaliacao.Avaliacao.DtCadastro.ToBrazilianString()">@autoavaliacao.Avaliacao.DtCadastro.ToElapsedTimeString()</span>
            </div>
            @if (autoavaliacao.Avaliacao.FlagPendente)
            {
                <span class="ui ribbon label"><i class="clock icon"></i>Pendente</span>
            }
            else if (autoavaliacao.Avaliacao.FlagArquivo)
            {
                <span class="ui ribbon label"><i class="archive icon"></i>Arquivo</span>
            }
            
            <div class="description">
                <p><b>Dificuldade</b>: @autoavaliacao.Dificuldade.Descricao</p>
                <p><b>Quantidade de Questões</b>: @autoavaliacao.Avaliacao.QteQuestoes()</p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag labels">
                @foreach (var disciplina in autoavaliacao.Disciplina)
                {
                    <div class="ui label">@disciplina.Descricao</div>
                }
            </div>
        </div>
        @if (autoavaliacao.Avaliacao.FlagPendente)
        {
            <div class="ui two buttons">
                <a class="ui arquivar button">Arquivar</a>
                <a href="@Url.Action("Realizar", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Realizar</a>
            </div>
        }
        else
        {
            if (autoavaliacao.Avaliacao.FlagArquivo)
            {
                <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
            }
            else
            {
                <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Desempenho</a>
            }
        }
    </div>
}