@model List<AvalAvi>

@foreach (var avi in Model)
{
    <div class="card">
        <div class="ui dimmer">
            <div class="ui text loader">Carregando</div>
        </div>
        <div class="content">
            <a class="header">
                Código: @avi.Avaliacao.CodAvaliacao
            </a>
            <div class="meta">
                <span title="@avi.Avaliacao.DtCadastro.ToBrazilianString()">@avi.Avaliacao.DtCadastro.ToElapsedTimeString()</span>
            </div>
            @if (Sessao.UsuarioCategoriaCodigo == 3)
            {
                if (!avi.FlagQuestionario)
                {
                    <span class="ui ribbon label"><i class="certificate icon"></i>Gerada</span>
                }
                else if (!avi.FlagPublico)
                {
                    <span class="ui ribbon label"><i class="list icon"></i>Preenchida</span>
                }
                else if (!avi.FlagAgendada)
                {
                    <span class="ui ribbon label"><i class="users icon"></i>Destinada</span>
                }
                else if (!avi.FlagAndamento && !avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="wait icon"></i>Configurada</span>
                }
                else if (!avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="write icon"></i>Andamento</span>
                }
                else if (avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="checkmark icon"></i>Concluída</span>
                }
            }
            <div class="description">
                @if (avi.FlagQuestionario)
                {
                    <p><b>Quantidade de Questões</b>: @avi.QteQuestoes</p>
                }
            </div>
        </div>
        @if (avi.FlagAgendada)
        {
            <div class="extra content">
                <div class="ui label">Início:<div class="detail">@avi.Avaliacao.DtAplicacao.Value.ToString("dd/MM/yyyy")</div></div>
                <div class="ui label">Término:<div class="detail">@avi.DtTermino.Value.ToString("dd/MM/yyyy")</div></div>
            </div>
        }
        @if (Sessao.UsuarioCategoriaCodigo == 3)
        {
            if (!avi.FlagQuestionario)
            {
                <a href="@Url.Action("Questionario", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Questionário</a>
            }
            else if (!avi.FlagPublico)
            {
                <a href="@Url.Action("Publico", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Público</a>
            }
            else if (!avi.FlagAgendada)
            {
                <a href="@Url.Action("Agendar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
            }
            else if (!avi.FlagAndamento && !avi.FlagConcluida)
            {
                <a href="@Url.Action("Agendar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
            }
            else if (!avi.FlagConcluida)
            {
                <a href="@Url.Action("Resultado", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
            }
            else if (avi.FlagConcluida)
            {
                <a href="@Url.Action("Resultado", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
            }
        }
    </div>
}

