
@model GerenciaEditarSalaViewModel

<i class="icon close"></i>
<div class="header">
    Editar Sala "@Model.Sala.Descricao"
</div>
<div class="content">
    <div class="ui form">
        <div class="field required">
            <label data-ajuda="">Selecione o Campus</label>
            <select name="ddlCampus" class="ui fluid search dropdown" required">
                <option value="">Campus</option>
                @foreach (var c in Model.Campi)
                {
                    <option value="@c.CodComposto" @(Model.Sala.Bloco.Campus.CodComposto == c.CodComposto ? "selected" : "")>@c.PessoaJuridica.NomeFantasia</option>
                }
            </select>
        </div>
        <div class="field required">
            <label data-ajuda="">Selecione o Bloco</label>
            <select name="ddlBloco" class="ui fluid search dropdown" required">
                <option value="">Bloco</option>
                @foreach (var b in Model.Sala.Bloco.Campus.Bloco)
                {
                    <option value="@b.CodBloco" @(Model.Sala.Bloco.CodBloco == b.CodBloco ? "selected" : "")>@b.Descricao</option>
                }
            </select>
        </div>
        <div class="field required">
            <label data-ajuda="">Digite a descrição</label>
            <input type="text" name="txtDescricao" placeholder="Descrição" maxlength="50" required value="@Model.Sala.Descricao" />
        </div>
        <div class="field required">
            <label data-ajuda="">Insira a sigla</label>
            <input type="text" name="txtSigla" placeholder="Sigla" maxlength="15" required value="@Model.Sala.Sigla" />
        </div>
        <div class="field required">
            <label data-ajuda="">Informe a capacidade</label>
            <input type="text" data-mask="0#" name="txtCapacidade" placeholder="Capacidade" required value="@Model.Sala.Capacidade" />
        </div>
        <div class="field">
            <label data-ajuda="">Escreva uma referência da localização</label>
            <input type="text" name="txtRefLocal" placeholder="Referência da Localização" maxlength="255" value="@Model.Sala.RefLocal" />
        </div>
        <div class="field">
            <label data-ajuda="">Se necessário, informe uma observação</label>
            <input type="text" name="txtObservacao" placeholder="Observação" maxlength="140" @Model.Sala.Observacao />
        </div>
    </div>
</div>
<div class="actions">
    <input type="reset" value="Cancelar" class="ui cancel button" />
    <button type="submit" class="ui button">Salvar</button>
</div>

