@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model Questao

<div class="ui labels">
    <div class="ui label">
        Disciplina
        <div class="detail">
            @Model.QuestaoTema.ElementAt(0).Tema.Disciplina.Descricao
        </div>
    </div>
    <div class="ui label" data-html="@( !String.IsNullOrWhiteSpace(Model.Dificuldade.Comentario) ? "<b>Comentário</b>: "+Model.Dificuldade.Comentario : "" )">
        Dificuldade
        <div class="detail">
            @Model.Dificuldade.Descricao
        </div>
    </div>
    @foreach (var questaoTema in Model.QuestaoTema)
    {
        <div class="ui tag label" data-html="@( !String.IsNullOrWhiteSpace(questaoTema.Tema.Comentario) ? "<b>Comentário</b>: "+questaoTema.Tema.Comentario : "" )">@questaoTema.Tema.Descricao</div>
    }
</div>
<div class="ui dividing header" data-html="@( !String.IsNullOrWhiteSpace(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">
    @Html.Raw(Model.Enunciado.ToHtml("p"))
</div>
@if (Model.CodTipoQuestao == TipoQuestao.OBJETIVA)
{
    <div class="ui very relaxed list">
        @foreach (var alternativa in Model.Alternativa)
        {
            <div class="item" data-html="@(!String.IsNullOrWhiteSpace(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                @if (alternativa.FlagGabarito)
                {
                    <a class="ui green label">Correta</a>
                }
            </div>
        }
    </div>
}
else
{
    <div data-html="@(!String.IsNullOrWhiteSpace(Model.Comentario) ? "<b>Comentário</b>: " + Model.Comentario : "")">
        <a class="ui green ribbon label">Chave de Resposta</a>
        @Html.Raw(Model.ChaveDeResposta.ToHtml("p", "i"))
    </div>
}
@if (Model.QuestaoAnexo.Count > 0)
{
    <br />
    <div class="ui styled fluid accordion">
        <div class="title"><i class="icon dropdown"></i>Anexos</div>
        <div class="content">
            <div class="ui cards">
                @foreach (var anexo in Model.QuestaoAnexo)
                {
                    @Html.Partial("_Anexo", anexo)
                }
            </div>
        </div>
    </div>
}
