@model SIAC.Models.AvalAvi
@{
    ViewBag.Title = "Agendar Av. Institucional"/*+Model.Avaliacao.CodAvaliacao*/;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="ui basic confirmar modal">
    <div class="ui icon header">
        <i class="help icon"></i>
        Prosseguir operação?
    </div>
    <div class="content">
        <p>Deseja encerrar o cadastramento de questões e continuar a geração de Av. Institucional?</p>
    </div>
    <div class="actions">
        <div class="ui cancel red basic inverted button"><i class="remove icon"></i>Não</div>
        <div class="ui approve green basic inverted button"><i class="checkmark icon"></i>Sim</div>
    </div>
</div>

<form class="ui form" method="post" action="@Url.Action("Agendar")">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="two fields">
        <div class="eight wide field required">
            <label>Data de Ínicio</label>
            <input id="txtDataInicio" name="txtDataInicio" value="@(Model.Avaliacao.DtAplicacao?.ToString("yyyy-MM-dd"))" placeholder="Data de Início" type="date" data-mask="0000-00-00" required />
        </div>
        <div class="eight wide field required">
            <label>Data de Término</label>
            <input id="txtDataTermino" name="txtDataTermino" value="@(Model.DtTermino?.ToString("yyyy-MM-dd"))"  placeholder="Data de Término" type="date" data-mask="0000-00-00" required />
        </div>
    </div>
</form>
<br />
<div class="ui cancelar button">Cancelar</div>
<div class="ui special popup">
    <div class='header'>Tem certeza?</div>
    <div class='content'>
        <p>Você perderá todos os dados</p>
        <a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a>
    </div>
</div>
<div class="ui right floated prosseguir button">Prosseguir</div>


@section Scripts{
    @Scripts.Render("~/bundles/js/institucional")
}