@model List<AvalAvi>

@{
    ViewBag.Title = "Av. Institucionais em Andamento";
}

@if (Model.Count > 0)
{
    <h2>@ViewBag.Title</h2>
    <div class="ui basic segment">
        <div class="ui stackable two cards">
            @foreach (AvalAvi avi in Model)
            {
                string dtCadastro = @avi.Avaliacao.DtCadastro.ToElapsedTimeString();
                int quantidadeQuestoes = avi.QteQuestoes;
                int quantidadeRespostas = AviQuestaoPessoaResposta.ObterRespostasPessoa(avi, PessoaFisica.ListarPorMatricula(Sessao.UsuarioMatricula)).Count;
                <div class="card">
                    <div class="content">
                        <a href="@Url.Action("Realizar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="header">
                            @avi.Titulo
                        </a>
                        <div class="meta">
                            Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@avi.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
                        </div>
                        @if (quantidadeRespostas == quantidadeQuestoes)
                        {
                            <span class="ui ribbon label"><i class="checkmark icon"></i>Concluída</span>
                        }
                        else if (quantidadeRespostas > 0)
                        {
                            <span class="ui ribbon label"><i class="write icon"></i>Realizando</span>
                        }
                        else
                        {
                            <span class="ui ribbon label"><i class="flag icon"></i>Nova</span>
                        }
                        <div class="description">
                            <p>
                                <b>Quant. de Questões</b>: @avi.QteQuestoes
                            </p>
                            @if (quantidadeRespostas > 0)
                            {
                                <p>
                                    <b>Quant. de Respostas</b>: @quantidadeRespostas
                                </p>
                            }

                            @if (avi.FlagAgendada)
                            {
                                <p><b>Início</b>: @avi.Avaliacao.DtAplicacao.Value.ToString("dd/MM/yyyy")</p>
                                <p><b>Término</b>: @avi.DtTermino.Value.ToString("dd/MM/yyyy")</p>
                            }
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui tag label">@avi.Avaliacao.CodAvaliacao</div>
                    </div>
                    <a href="@Url.Action("Realizar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">
                        @if (quantidadeRespostas == quantidadeQuestoes)
                        { <text> Alterar Respostas </text> }
                        else if(quantidadeRespostas > 0) { <text> Continuar </text> }
                        else { <text> Realizar </text>}
                    </a>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="ui grid row centered">
        <h2 class="ui icon header">
            <i class="icon frown"></i>
            Não existe nenhuma Avaliação Institucional em andamento para o seu usuário.
        </h2>
    </div>
}