@{
    ViewBag.Title = "Gerar Avaliação Institucional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui termo modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        @*{
            var termo = Model.Termo.Split('\n', '\r');
            foreach (var str in termo)
            {
                if (!String.IsNullOrWhiteSpace(str))
                {
                    <p>@str</p>
                }
            }
        }*@
    </div>
    <div class="actions">
        <a href="/Institucional" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <table class="ui very basic table">
            <tr>
                <th>Título</th>
                <td></td>
            </tr>
            <tr>
                <th>Objetivo</th>
                <td></td>
            </tr>
            <tr>
                <th>Período</th>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form method="post" action="@Url.Action("Gerar")" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Título *@
    <div class="field required">
        <label>Título</label>
        <input id="txtTitulo" name="txtTitulo" placeholder="Título" required />
    </div>
    @* Objetivo *@
    <div class="field required">
        <label>Objetivo</label>
        <textarea id="txtObjetivo" name="txtObjetivo" rows="5" placeholder="Objetivo" required></textarea>
    </div>
    @* Período *@
    <div class="two fields">
        <div class="field required">
            <label>Data de Cadastro</label>
            <input type="date" data-mask="0000-00-00" placeholder="Data de Cadastro" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly required />
        </div>
        <div class="field required">
            <label>Data de Término</label>
            <input id="txtDataTermino" name="txtDataTermino" type="date" data-mask="0000-00-00" placeholder="Data de Termino" required />
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div class="ui prosseguir button">Prosseguir</div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/institucional")
}