@{
    ViewBag.Title = "Gerar Avaliação Institucional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ui termo modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        @Html.Raw(Parametro.Obter().NotaUsoInstitucional.ToHtml("p"))
    </div>
    <div class="actions">
        <a href="/Institucional" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Título</label>
                <input id="txtModalTitulo" name="txtTitulo" placeholder="Título" readonly />
            </div>
            <div class="field">
                <label>Objetivo</label>
                <textarea id="txtModalObjetivo" name="txtObjetivo" rows="5" readonly></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form method="post" action="@Url.Action("Gerar")" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Título *@
    <div class="field required">
        <label>Título</label>
        <input id="txtTitulo" name="txtTitulo" maxlength="250" placeholder="Título" required />
    </div>
    @* Objetivo *@
    <div class="field required">
        <label>Objetivo</label>
        <textarea id="txtObjetivo" name="txtObjetivo" rows="5" placeholder="Objetivo" required></textarea>
    </div>
    @*@* Período 
    <div class="two fields">
        <div class="field required">
            <label>Data de Aplicação</label>
            <input id="txtDataAplicacao" name="txtDataAplicacao" type="date" data-mask="0000-00-00" placeholder="Data de Aplicação" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
        </div>
        <div class="field required">
            <label>Data de Término</label>
            <input id="txtDataTermino" name="txtDataTermino" type="date" data-mask="0000-00-00" placeholder="Data de Termino" required />
        </div>
    </div>*@
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div class="ui prosseguir button">Prosseguir</div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/institucional")
}