@model Usuario

@{
    ViewBag.Title = "Avaliação Institucional";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        
        @Html.Partial("_Atalho", new ViewDataDictionary() {
            { "Url", Url.Action("Andamento") },
            { "Icone", "wait" },
            { "Descricao", "Av. Institucional em Andamento" },
            { "Lembrete", "andamento" }
        })

        @if (Model.FlagCoordenadorAvi)
        {
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Gerar") },
                { "Icone", "add circle" },
                { "Descricao", "Gerar Nova" }
            })
            
            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Historico", "Institucional") },
                { "Icone", "file text outline" },
                { "Descricao", "Histórico de Av. Institucional" }
            })


            @Html.Partial("_Atalho", new ViewDataDictionary() {
                { "Url", Url.Action("Configuracao") },
                { "Icone", "settings" },
                { "Descricao", "Configurar" }
            })
        }        

    </div>
</div>
