@model InstitucionalPublicoViewModel

@{
    ViewBag.Title = "Público-alvo de Av. Institucional";
}

<h2>@ViewBag.Title</h2>

<div class="ui basic confirmar modal">
    <div class="ui icon header">
        <i class="help icon"></i>
        Prosseguir operação?
    </div>
    <div class="content">
        <p>Caso exista um público já cadastrado para essa Av. Institucional, ele será substituído pelo público agora definido. Deseja continuar mesmo assim?</p>
    </div>
    <div class="actions">
        <div class="ui cancel red basic inverted button"><i class="remove icon"></i>Não</div>
        <div class="ui approve green basic inverted button"><i class="checkmark icon"></i>Sim</div>
    </div>
</div>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Público-alvo você poderá selecionar os que poderão realizar esta avaliação institucional.</li>
        <li>Clique em <b>Filtro</b> para selecionar o tipo de filtro para a pesquisa. Ex.: <i>Pessoa</i></li>
        <li>Na caixa <b>Buscar</b> insira o termo para pesquisar no sistema baseando-se no filtro selecionado. Ex.: <i>João Maria</i></li>
        <li>Clique em <b>Selecionar</b> para inserir o resultado obtido da pesquisa na lista temporária de <b>Selecionados</b></li>
        <li>O botão <i class="remove icon"></i><b>Remover</b> serve para remover o selecionado em questão da lista de temporários</li>
        <li>Por fim, não esqueça de confirmar as alterações clicando no botão <b>Prosseguir</b> ao fim desta página.</li>
    </ul>
</div>

<div class="ui segment">
    <div class="ui form">
        <div class="fields">
            <div class="four wide field">
                <label data-ajuda="Clique na caixa abaixo para selecionar o filtro da pesquisa.">Selecione o filtro</label>
                <select id="ddlFiltro" name="ddlFiltro" class="ui dropdown">
                    <option value="">Filtro</option>
                    @foreach (AviTipoPublico publico in Model.TiposPublico)
                    {
                        <option value="@publico.CodAviTipoPublico">@publico.Descricao</option>
                    }
                </select>
            </div>
            <div class="twelve wide field">
                <label data-ajuda="Forneça abaixo o termo para ser buscado (baseado no filtro selecionado).">Forneça o termo para buscar</label>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Buscar...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui right floated disabled selecionar button">Selecionar</div>
        </div>
        <br />
    </div>
</div>

<div class="ui basic segment">
    <table class="ui selecionados table">
        <thead>
            <tr>
                <th>Selecionados</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Avi.AviPublico.Count > 0)
                {
                    foreach (AviPublico publico in Model.Avi.AviPublico)
                    {
                        <tr data-selecionado="@publico.CodPublico">
                            <td>@publico.Descricao</td>
                            <td><a class="ui label">@publico.AviTipoPublico.Descricao</a></td>
                            <td><div class="ui small icon remover button"><i class="remove icon"></i> Remover</div></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>


<div class="ui cancelar button">Cancelar</div>
<div class="ui special popup">
    <div class='header'>Tem certeza?</div>
    <div class='content'>
        <p>Você perderá todos os dados</p>
        <a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a>
    </div>
</div>
<div class="ui right floated prosseguir button">Prosseguir</div>


@section Scripts{
    @Scripts.Render("~/bundles/js/institucional")
}