@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalAcadReposicao
    <div class="ui vertical segment">
        <div class="ui header dividing">
            Informações
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>@Model.Avaliacao.AvalAcadReposicao.Disciplina.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema)
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.Avaliacao.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.Avaliacao.AvalAcadReposicao.Disciplina.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                    </td>
                    <td>
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(Model.Avaliacao.AvalAcadReposicao.Disciplina.CodDisciplina)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    

