<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .vertical.menu .item {
            padding-top: 1.2em!important;
            padding-bottom: 1.2em!important;
        }

        .breadcrumb .section {
            text-transform: capitalize;
        }

        .ui.segment {
            border-radius: 0;
        }
        
        @@media only screen and (max-width: 700px) {
            .vertical.menu {
                display: inline-flex;            
                -webkit-box-orient: horizontal;
                -webkit-box-direction: row;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
            }
            
            .vertical.menu .item .content {
                display: none;
            }
            
            .menu .item .header {
                display: none;
            }
            
            .menu .right .item.text {
                display: none;
            }
        }
    </style>
</head>
<body>
    <div class="ui menu" style="border-radius:0">
            <div class="item">
                <img src="~/Resources/images/layout/logo-black.png" />
            </div>
            <div class="item">
                <h2 class="ui header left aligned">
                    <div class="content">
                        SIAC
                        <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item text">
                    @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                </div>
                <div class="item">@Html.ActionLink("Sair", "Sair", "Acesso", null, new { @class = "ui button" } )</div>
        </div>
    </div>
    

    <div class="ui stackable grid" style="margin: auto 1em">
        <div class="sixteen wide column" style="padding-top: 0; padding-bottom: 0">
                <div class="ui breadcrumb">
                    @{
                        string url = Request.Url.ToString();
                        url = !(url.IndexOf('?') < 0) ? url.Remove(url.IndexOf('?')) : url;
                        url = url.Substring(url.IndexOf("//") + 2);
                        string[] strs = url.Split('/');
                        for (int i = 0; i < strs.Length - 1; i++)
                        {
                            if (i == 0)
                            {
                                <a href="~/" class="section"><i class="icon home"></i></a>
                                <i class="right angle icon divider"></i>
                                continue;
                            }
                            string action = String.Empty;
                            for (int j = 1; j <= i; j++)
                            {
                                action += "/";
                                action += strs[j];
                            }
                            <a href="@action" class="section">@strs[i]</a>
                            <i class="right angle icon divider"></i>
                        }
                    }
                    <div class="active section">@ViewBag.Title</div>
                </div>
        </div>
        <div class="three wide column">
            <div class="ui segment">
                <div class="ui header">
                    <i class="icon user"></i>
                    <div class="content">
                        @Session["UsuarioNome"]
                        <div class="sub header">
                            @Session["UsuarioCategoria"]
                        </div>
                    </div>
                </div>
                <div class="ui vertical fluid secondary menu" style="margin: auto 0">
                    <a href="~/Dashboard" class="active teal item">
                        <i class="block layout icon"></i><span class="content">Dashboard</span>
                    </a>
                    <a href="~/Historico" class="item">
                        <i class="time icon"></i><span class="content">Histórico</span>
                    </a>
                    <a href="~/AVI" class="item">
                        <i class="file icon"><span class="content">Av. Instituicional</span>
                    </a>
                    <a href="~/Perfil" class="item">
                        <i class="user icon"><span class="content">Perfil</span>
                    </a>
                    <a  href="~/Acesso/Sair" class="item">
                        <i class="power icon"><span class="content">Sair</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="thirteen wide column"  style="height:100%">
            
            <div class="ui segment">
                @RenderBody()
            </div>
        </div>        
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
