<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC</title>
    <link href="~/resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="pusher">
        <div class="ui menu" style="border-radius:0">
            <a href="~/" class="item">
                <img src="~/resources/images/layout/logo-black.png" />
            </a>
            <div class="item text">
                <h2 class="ui header left aligned">
                    <div class="content">
                        SIAC
                        <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item text">
                    @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                </div>
                <div class="item">
                    <div class="ui ajuda @(Sessao.AjudaEstado ? "active" : "") button">
                        Ajuda
                    </div>
                </div>
                <div class="item">@Html.ActionLink("Sair", "Sair", "Acesso", null, new { @class = "ui button", title = "Clique para Sair do Sistema" })</div>
            </div>
        </div>

        <div class="ui stackable grid" style="margin: auto 1em">
            <div class="sixteen wide column" style="padding-top: 0; padding-bottom: 0">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
            <div class="three wide column">
                <div class="ui segment">
                    <div class="ui header">
                        <i class="icon user"></i>
                        <div class="content" data-ajuda="Seus dados pessoais" data-matricula="@Sessao.UsuarioMatricula">
                            @Sessao.UsuarioNome
                            <div class="sub header">
                                @Sessao.UsuarioCategoria
                            </div>
                        </div>
                    </div>
                    @Html.Partial("_Menu")
                </div>
            </div>
            <div class="thirteen wide column">
                <div class="ui segment">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="ui lero icon button" onmouseover="selecionarFocado()" onclick="leroLero()" style="position: fixed; left:.5em; bottom:.5em; z-index: 1003; display: none"><i class="icon write"></i></div>
        @Scripts.Render("~/bundles/js")
        @RenderSection("Scripts", required: false)
        <script>
            var focado;

            function selecionarFocado() {
                focado = $(':focus');
            }

            function leroLero() {
                $('.lero').addClass('loading');
                $.ajax({
                    cache: false,
                    type: 'GET',
                    url: '@(Url.RouteUrl("LeroLero"))',
                    success: function (data) {
                        focado.val(data);
                        focado.change();
                        $('.lero').removeClass('loading');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        $('.lero').removeClass('loading');
                    }
                });
            }
        </script>
        <div class="ui page dimmer">
            <div class="ui large text global loader">Carregando</div>
        </div>
    </div>
</body>
</html>
