<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")    
</head>
<body>
    <div class="ui left sidebar segment">
        @*<div class="ui basic segment">*@
        <div class="ui header">
            <i class="icon user"></i>
            <div class="content" data-matricula="@SIAC.Helpers.Sessao.UsuarioMatricula">
                @SIAC.Helpers.Sessao.UsuarioNome
                <div class="sub header">
                    @SIAC.Helpers.Sessao.UsuarioCategoria
                </div>
            </div>
        </div>
        <div class="ui vertical fluid secondary menu" style="margin: auto 0">
            <a href="~/Principal" class="@(Request.Url.ToString().Contains("Principal")? "active blue" : "") item">
                <i class="block layout icon"></i><span class="content">Principal</span>
            </a>
            <a href="~/Historico" class="@(Request.Url.ToString().Contains("Historico")? "active blue" : "") item">
                <i class="time icon"></i><span class="content">Histórico</span>
            </a>
            <a href="~/Principal/Avaliacao/Institucional" class="@(Request.Url.ToString().Contains("Institucional")? "active blue" : "") item">
                <i class="file text outline icon"></i><span class="content">Av. Instituicional</span>
            </a>
            <a href="~/Perfil" class="@(Request.Url.ToString().Contains("Perfil")? "active blue" : "") item">
                <i class="user icon"></i><span class="content">Perfil</span>
            </a>

            @if (SIAC.Helpers.Sessao.UsuarioCategoriaCodigo == 3)
            {
                <a href="~/Configuracoes" class="@(Request.Url.ToString().Contains("Configuracoes")? "active blue" : "") item">
                    <i class="setting icon"></i><span class="content">Configurações</span>
                </a>
            }

            <a href="~/Acesso/Sair" class="item">
                <i class="power icon"></i><span class="content">Sair</span>
            </a>
        </div>
        @*</div>*@
    </div>
    <div class="pusher" style="height:100%">
        <div class="ui menu" style="border-radius:0">
            <a onclick="$('.sidebar').sidebar('toggle')" class="item">
                <img src="~/Resources/images/layout/logo-black.png" />
            </a>
            <div class="item text">
                <h2 class="ui header left aligned">
                    <div class="content">
                        SIAC
                        <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item text">
                    @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                </div>
                <div class="item">@Html.ActionLink("Sair", "Sair", "Acesso", null, new { @class = "ui button" })</div>
            </div>
        </div>
        <div class="ui basic segment" style="padding-top: 0; padding-bottom: 0">
            @Html.MvcSiteMap().SiteMapPath()
        </div>
        <div class="ui segment">
            @RenderBody()
        </div>
    </div>
    <div class="ui small mensagem modal">
        <div class="header">Mensagem</div>
        <div class="content"></div>
        <div class="actions">
            <div class="ui cancel button">Fechar</div>
        </div>
    </div>
    <div class="ui lero icon button" onmouseover="selecionarFocado()" onclick="leroLero()" style="position: fixed; right:.5em; bottom:.5em; z-index: 1003"><i class="icon write"></i></div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <script>
        var focado;

        function selecionarFocado() {
            focado = $(':focus');
        }

        function leroLero() {
            $('.lero').addClass('loading');
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@(Url.RouteUrl("LeroLero"))',
                success: function (data) {
                    focado.val(data);
                    focado.change();
                    $('.lero').removeClass('loading');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('.lero').removeClass('loading');
                }
            });
        }
    </script>
    <div class="ui dimmer">
        <div class="ui large text global loader">Carregando</div>
    </div>
</body>
</html>
