<!DOCTYPE html>

<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SIAC</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <style>       
        .vertical.menu .item {
            padding-top: 1.2em !important;
            padding-bottom: 1.2em !important;
        }

        .breadcrumb .section {
            text-transform: capitalize;
        }

        .ui.segment {
            border-radius: 0;
        }
        
        @@media only screen and (max-width: 700px) {
            .vertical.menu {
                -webkit-box-orient: horizontal!important;
                -webkit-box-direction: row!important;
                -webkit-flex-direction: row!important;
                -ms-flex-direction: row!important;
                flex-direction: row!important;
            }
            
            .vertical.menu .item {
                display: inline-flex!important;
                height: auto!important;
                text-align: center!important;
            }
            
            
            .vertical.menu .item .icon {
                margin: 0!important;
            }
            
            .vertical.menu .item .content {
                display: none!important;
            }
            
            .menu .item.text {
                display: none!important;
            }
        }
    </style>
</head>
<body>
    <div class="ui menu" style="border-radius:0">
            <a href="~/" class="item">
                <img src="~/Resources/images/layout/logo-black.png" />
            </a>
            <div class="item text">
                <h2 class="ui header left aligned">
                    <div class="content">
                        SIAC
                        <div class="sub header">Sistema Interativo de Avaliação de Conhecimento</div>
                    </div>
                </h2>
            </div>
            <div class="right menu">
                <div class="item text">
                    @DateTime.Today.ToString("D", new System.Globalization.CultureInfo("pt-BR"))
                </div>
                <div class="item">@Html.ActionLink("Sair", "Sair", "Acesso", null, new { @class = "ui button" } )</div>
        </div>
    </div>
    

    <div class="ui stackable grid" style="margin: auto 1em">
        <div class="sixteen wide column" style="padding-top: 0; padding-bottom: 0">
                <div class="ui breadcrumb">
                    @{
                        string url = Request.Url.ToString();
                        url = !(url.IndexOf('?') < 0) ? url.Remove(url.IndexOf('?')) : url;
                        url = url.Substring(url.IndexOf("//") + 2);
                        string[] strs = url.Split('/');
                        for (int i = 0; i < strs.Length - 1; i++)
                        {
                            if (i == 0)
                            {
                                <a href="~/" class="section"><i class="icon home"></i></a>
                                <i class="right angle icon divider"></i>
                                continue;
                            }
                            string action = String.Empty;
                            for (int j = 1; j <= i; j++)
                            {
                                action += "/";
                                action += strs[j];
                            }
                            <a href="@action" class="section">@strs[i]</a>
                            <i class="right angle icon divider"></i>
                        }
                    }
                    <div class="active section">@ViewBag.Title</div>
                </div>
        </div>
        <div class="three wide column">
            <div class="ui segment">
                <div class="ui header">
                    <i class="icon user"></i>
                    <div class="content" data-matricula="@SIAC.Web.Helpers.Sessao.UsuarioMatricula">
                        @SIAC.Web.Helpers.Sessao.UsuarioNome                        
                        <div class="sub header">
                            @SIAC.Web.Helpers.Sessao.UsuarioCategoria
                        </div>
                    </div>
                </div>
                <div class="ui vertical fluid secondary menu" style="margin: auto 0">
                    <a href="~/Dashboard" class="@(Request.Url.ToString().Contains("Dashboard")? "active blue" : "") item">
                        <i class="block layout icon"></i><span class="content">Dashboard</span>
                    </a>
                    <a href="~/Historico" class="@(Request.Url.ToString().Contains("Historico")? "active blue" : "") item">
                        <i class="time icon"></i><span class="content">Histórico</span>
                    </a>
                    <a href="~/Dashboard/Avaliacao/Institucional" class="@(Request.Url.ToString().Contains("Institucional")? "active blue" : "") item">
                        <i class="file text outline icon"></i><span class="content">Av. Instituicional</span>
                    </a>
                    <a href="~/Perfil" class="@(Request.Url.ToString().Contains("Perfil")? "active blue" : "") item">
                        <i class="user icon"></i><span class="content">Perfil</span>
                    </a>

                    @if (SIAC.Web.Helpers.Sessao.UsuarioCategoriaCodigo == 3)
                    {
                        <a href="~/Configuracoes" class="@(Request.Url.ToString().Contains("Configuracoes")? "active blue" : "") item">
                            <i class="setting icon"></i><span class="content">Configurações</span>
                        </a>
                    }

                    <a  href="~/Acesso/Sair" class="item">
                        <i class="power icon"></i><span class="content">Sair</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="thirteen wide column"  style="height:100%">
            
            <div class="ui segment">
                @RenderBody()
            </div>
        </div>        
    </div>
    <div class="ui small mensagem modal">
        <div class="header">Mensagem</div>
        <div class="content"></div>
        <div class="actions">
            <div class="ui cancel button">Fechar</div>
        </div>
    </div>
    <div class="ui dimmer">
        <div class="ui large text global loader">Carregando</div>
    </div>
    <div class="ui lero icon button" onmouseover="selecionarFocado()" onclick="leroLero()" style="position: fixed; right:.5em; bottom:.5em; z-index: 1003"><i class="icon write"></i></div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
    <script> 
        var focado;
        
        function selecionarFocado() {
            focado = $(':focus');
        }    

        function leroLero() {            
            $('.lero').addClass('loading');
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@(Url.RouteUrl("LeroLero"))',
                success: function (data) {
                    focado.val(data);
                    focado.change();
                    $('.lero').removeClass('loading');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('.lero').removeClass('loading');
                }
            });
        }
    </script>
</body>
</html>
