@model List<SIAC.Models.Questao>

@foreach (var questao in Model)
{
    <div id="@questao.CodQuestao" class="card">
        <div class="content">
            @*<a class="ui green right corner label"><i class="save icon"></i></a>*@
            <div class="header">@questao.Enunciado.ToShortString(140)</div>
            <div class="meta"><span title="@questao.DtCadastro.ToBrazilianString()">@questao.DtCadastro.ToElapsedTimeString()</span></div>
            <div class="description ui labels">
                <span class="ui label">@questao.Disciplina.Descricao</span>
                <span class="ui label">@questao.Dificuldade.Descricao</span>
                <span class="ui tipo label">@questao.TipoQuestao.Descricao</span>
            </div>
        </div>
        <div class="ui two bottom attached buttons">
            <div class="ui detalhe button">Detalhes</div>
            <div class="ui acao button">Adicionar</div>
        </div>
    </div>
}
