@model CandidatoAlterarSenhaViewModel

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Você provavelmente chegou aqui através de um email solicitado por você.</p>

@if (Model.TemMensagem)
{
    <div class="ui message">
        <p>@Html.Raw(Model.Mensagem)</p>
    </div>
}

@if (!Model.Ok)
{
    <form method="post" class="ui form">
        <div class="field required">
            <label>CPF</label>
            <input type="text" name="Cpf" placeholder="CPF" autocomplete="off" data-mask="000.000.000-00" value="@Model.Cpf" required />
        </div>
        <div class="field required">
            <label>Email</label>
            <input type="email" name="Email" placeholder="Email" autocomplete="off" value="@Model.Email" required />
        </div>
        <div class="field required">
            <label>Senha</label>
            <input type="password" name="Senha" placeholder="Senha" autocomplete="off" value="@Model.Senha" required />
        </div>
        <div class="field required">
            <label>Confirmação da Senha</label>
            <input type="password" name="Confirmacao" placeholder="Confirmação da Senha" autocomplete="off" value="@Model.Confirmacao" required />
        </div>
        <input type="submit" value="Alterar Senha" class="ui primary button" />
        <a href="@Url.Action("Acessar")" class="ui right floated basic button">Tenho cadastro</a>
        <a href="@Url.Action("Cadastrar")" class="ui right floated basic button">Não sou cadastrado</a>
    </form>
}
else
{
    <a href="@Url.Action("Acessar")" class="ui huge basic button">Acessar</a>
}


