@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model CandidatoAlterarSenhaViewModel

@{
    ViewBag.Title = "Alterar Senha";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>Você provavelmente chegou aqui através de um email solicitado por você.</p>

@if (Model.TemMensagem)
{
    <div class="ui message">
        <p>@Html.Raw(Model.Mensagem)</p>
    </div>
}

@if (!Model.Ok)
{
    <form method="post" class="ui form">
        <div class="field required">
            <label>CPF</label>
            <input type="text" name="Cpf" placeholder="CPF" autocomplete="off" data-mask="000.000.000-00" value="@Model.Cpf" required />
        </div>
        <div class="field required">
            <label>Email</label>
            <input type="email" name="Email" placeholder="Email" autocomplete="off" value="@Model.Email" required />
        </div>
        <div class="field required">
            <label>Senha</label>
            <input type="password" name="Senha" placeholder="Senha" autocomplete="off" value="@Model.Senha" required />
        </div>
        <div class="field required">
            <label>Confirmação da Senha</label>
            <input type="password" name="Confirmacao" placeholder="Confirmação da Senha" autocomplete="off" value="@Model.Confirmacao" required />
        </div>
        <input type="submit" value="Alterar Senha" class="ui primary button" />
        <a href="@Url.Action("Acessar")" class="ui right floated basic button">Tenho cadastro</a>
        <a href="@Url.Action("Cadastrar")" class="ui right floated basic button">Não sou cadastrado</a>
    </form>
}
else
{
    <a href="@Url.Action("Acessar")" class="ui huge basic button">Acessar</a>
}


