@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model CandidatoInscricoesViewModel

@{
    ViewBag.Title = "Inscrições";
    Layout = "~/Views/Shared/Simulados/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@if (Model.Simulados.Count > 0)
{
    <div class="ui relaxed divided items">
        @foreach (var simulado in Model.Simulados)
        {
        <div class="item">
            <div class="content">
                <a class="ui header" href="@Url.Action("Inscricoes", "Candidato", new { codigo = simulado.Codigo })">
                    @simulado.Titulo
                </a>
                <div class="meta">
                    @(simulado.PrimeiroDiaRealizacao?.DtRealizacao.ToBrazilianString())
                </div>
                <div class="description">
                    @simulado.Descricao.ToShortString(140)
                </div>
                <div class="extra">
                    <div class="ui label">
                        <i class="tag icon"></i> @simulado.Codigo
                    </div>
                    @if (simulado.FlagSimuladoEncerrado)
                        {
                        <div class="ui red label">
                            <i class="lock icon"></i>
                            Encerrado
                        </div>

                        }
                        else
                        {
                        <div class="ui green label">
                            <i class="checkmark icon"></i>
                            Inscrito
                        </div>
                        }
                </div>
            </div>
        </div>
        }
    </div>
    if (Model.TemAnterior || Model.TemProxima)
    {
        <div class="ui basic clearing segment">
            <div class="ui right floated basic buttons">
                @if (Model.TemAnterior)
                {
                    <button class="ui labeled basic icon button">
                        <i class="left arrow icon"></i>
                        Anterior
                    </button>
                }
                @if (Model.TemProxima)
                {
                    <button class="ui right labeled basic icon button">
                        <i class="right arrow icon"></i>
                        Próxima
                    </button>
                }
            </div>
        </div>
    }
}
else
{
    <div class="ui message">Não há inscrições.</div>
}

<a href="@Url.Action("Index", "Candidato")" class="ui basic button">Voltar para Área do Candidato</a>


@section Scripts {
    <script>
        $(function () {
            $('.detalhe.button').click(function () {
                var _this = $(this),
                    simulado = _this.data('simulado');

                _this.addClass('loading');

                $.ajax({
                    url: '/simulado/inscricao/detalhe',
                    type: 'POST',
                    data: {
                        codigo: simulado
                    },
                    success: function (modal) {
                        $('.detalhe.modal').remove();
                        $('body').append(modal);
                        $('.detalhe.modal').modal('show');
                    },
                    complete: function () {
                        _this.removeClass('loading');
                    }
                });
            });
        })();
    </script>
}
