@{
    ViewBag.Title = "Configurações";
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @if (Sessao.UsuarioCategoriaCodigo == Categoria.COLABORADOR || Sessao.UsuarioCategoriaCodigo == Categoria.SUPERUSUARIO)
        {
            @Html.Partial("_Atalho", new AtalhoViewModel("Usuários", "users", Url.Action("Index", "Usuario")))
            @Html.Partial("_Atalho", new AtalhoViewModel("Parâmetros", "options", Url.Action("Parametros")))
            @Html.Partial("_Atalho", new AtalhoViewModel("Visitantes", "spy", Url.Action("Index", "Visitante")))
            @Html.Partial("_Atalho", new AtalhoViewModel("Abrir Opiniões", "bookmark", Url.Action("Opinioes")))
        }

        @if (Sistema.UsuarioAtivo[Sessao.UsuarioMatricula].Usuario.FlagCoordenadorAvi)
        {
            @Html.Partial("_Atalho", new AtalhoViewModel("Coordenadores de Av. Institucional", "doctor", Url.Action("Institucional", new { tab = "Coordenadores" })))
        }
    </div>
</div>