@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model ConfiguracoesInstitucionalViewModel

@{
    ViewBag.Title = "Coordenadores de Av. Institucional";
    bool flagProfessorCoordAvi = Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR && Sistema.UsuarioAtivo[Sessao.UsuarioMatricula].Usuario.FlagCoordenadorAvi;
}

<h2>@ViewBag.Title</h2>

<div class="ui stackable grid" style="clear:both">
    <div class="eight wide column">
        <div class="ui dividing header">
            Ocupações
        </div>
        <div class="ui form">
            <div class="grouped fields">
                @foreach (var ocupacao in Model.Ocupacoes)
                {
                    <div class="@(flagProfessorCoordAvi ? "disabled" : "") field">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="chkOcupacao@(ocupacao.CodOcupacao)" @( Parametro.Obter().OcupacaoCoordenadorAvi.Contains(ocupacao.CodOcupacao) ? "checked" : ""  ) @(flagProfessorCoordAvi ? "disabled" : "")>
                            <label>@ocupacao.Descricao</label>
                        </div>
                    </div>
                }
            </div>
            <div class="@(flagProfessorCoordAvi ? "disabled" : "") field">
                <div class="ui @(flagProfessorCoordAvi ? "disabled" : "")  toggle salvar button">Salvar</div>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui dividing header">
            Coordenadores
        </div>
        <div class="ui form">
            <div class="grouped fields">
                @foreach (var coordenador in Model.Coordenadores)
                {
                    <div class="field">
                        <div class="ui checkbox">
                            <input @(flagProfessorCoordAvi && coordenador.Usuario.FirstOrDefault(u => u.Matricula == Sessao.UsuarioMatricula) == null ? "disabled" : "") type="checkbox" name="chkCoordenador@(coordenador.CodPessoa)">
                            <label>@coordenador.PrimeiroNome @coordenador.UltimoNome</label>
                        </div>
                    </div>
                }
            </div>
            <div class="field">
                <div class="ui disabled trigger button">Remover</div>
                <div class="ui popup">
                    <div class="header">
                        Tem certeza?
                    </div>
                    <div class="content">
                        Confirme sua decisão de remover este(s) usuário(s) selecionado(s) da lista de Coordenadores de Av. Institucional.
                        <br />
                        <div class="ui remover small button">Sim, remover</div>
                    </div>
                </div>
                <div class="ui @(flagProfessorCoordAvi ? "disabled" : "")  coordenador button">Novo</div>
            </div>
        </div>
    </div>
</div>

<div class="ui coordenador modal">
    <i class="close icon"></i>
    <div class="header">Novo Coordenador de Av. Institucional</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label for="txtPesquisa">Pesquisa</label>
                <input type="text" id="txtPesquisa" placeholder="Pesquisar por Nome, Matrícula ou CPF..." />
            </div>
            <div class="field">
                <div class="ui pesquisar button">Pesquisar</div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui relaxed list">
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui approve button">Adicionar</div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/js/configuracoes")
}