@using SIAC.Models
@model AvalPessoaResultado

@{    
    var lstQuestao = Model.Avaliacao.Questao;
    var lstPessoaResposta = Model.Avaliacao.PessoaResposta.Where(p => p.CodPessoaFisica == Model.CodPessoaFisica).ToList();
    var avalPessoaResultado = Model;
    int qteAcerto = lstPessoaResposta.Where(p => p.RespNota.HasValue && p.RespNota.Value == 10).Count();
    var percent = qteAcerto / lstQuestao.Count;
}

@if (avalPessoaResultado != null)
{
    <div class="ui basic segment">
        <div class="ui dividing header">
            Desempenho
        </div>
        <div class="ui statistics">
            <div class="statistic">
                <div class="value">
                    @((((double)qteAcerto / (double)lstQuestao.Count) * 100).ToString("0.##'%'"))
                </div>
                <div class="label">
                    Porcentagem de Acerto
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    @qteAcerto/@lstQuestao.Count
                </div>
                <div class="label">
                    Quantidade de Acerto
                </div>
            </div>
            <div class="statistic @(avalPessoaResultado.Nota.Value >= Parametro.Obter().ValorNotaMedia ? "green" : "red")">
                <div class="value">
                    @avalPessoaResultado.Nota.Value.ToString("0.0")
                </div>
                <div class="label">
                    Nota @(lstPessoaResposta.Where(r => !r.RespNota.HasValue).Count() == 0 ? "" : "Parcial")
                </div>
            </div>
        </div>
    </div>
    <div class="ui basic segment">
        <div class="ui dividing header">
            Resultado
        </div>
        <div class="ui accordion">
            @for (int i = 0; i < lstQuestao.Count; i++)
            {
                var resposta = lstPessoaResposta.First(r => r.CodQuestao == lstQuestao[i].CodQuestao);

                <div class="title">
                    <i class="dropdown icon"></i>@((i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).ToShortString(80))
                    @if (lstQuestao[i].CodTipoQuestao == 1)
                    {
                        var correta = lstQuestao[i].Alternativa.Single(a => a.FlagGabarito.HasValue && a.FlagGabarito.Value);
                        <div class="ui @(resposta.RespAlternativa == correta.CodOrdem ? "green" : "red" ) label">@(resposta.RespAlternativa == correta.CodOrdem ? Html.Raw("<i class=\"checkmark icon\"></i>Correta") : Html.Raw("<i class=\"remove icon\"></i>Incorreta") )</div>
                    }
                    else if (resposta.RespNota.HasValue)
                    {
                        <div data-html="@(("<b>Observação</b>: " + resposta.ProfObservacao).Replace("\n", "<br>"))" data-variation="very wide" class="ui @(resposta.RespNota.Value > Parametro.Obter().ValorNotaMedia ? "green" : "red" ) label"><i class="icon write"></i><div class="detail">@resposta.RespNota.Value.ToString("0.0")</div></div>
                    }
                </div>
                <div class="content">
                    <div class="ui segment">
                        <div class="ui dividing header" style="text-align:justify">
                            @{
                                var enunciado = (i.GetIndiceQuestao() + ". " + lstQuestao[i].Enunciado).Split('\n', '\r');
                                foreach (var strEnunciado in enunciado)
                                {
                                    if (!String.IsNullOrWhiteSpace(strEnunciado))
                                    {
                                        <p>@strEnunciado</p>
                                    }
                                }
                            }
                        </div>
                        @if (lstQuestao[i].CodTipoQuestao == 1)
                        {
                            <div class="ui list">
                                @foreach (var alternativa in lstQuestao[i].Alternativa)
                                {
                                    <div class="item">
                                        <div class="middle aligned content">
                                            <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                            @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                                            {
                                                <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Correta</a>
                                            }
                                            @if (alternativa.CodOrdem == resposta.RespAlternativa)
                                            {
                                                <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Marcada</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div>
                                <a class="ui ribbon label" data-html="@(("<b>Chave de Resposta</b>: " + lstQuestao[i].ChaveDeResposta).Replace("\n", "<br>"))" data-variation="very wide">Resposta</a>
                                @{
                                    var respDiscursiva = resposta.RespDiscursiva.Split('\n', '\r');
                                    foreach (var strRespDiscursiva in respDiscursiva)
                                    {
                                        if (!String.IsNullOrWhiteSpace(strRespDiscursiva))
                                        {
                                            <p><i>@strRespDiscursiva</i></p>
                                        }
                                    }
                                }
                            </div>
                                    }
                        @if (lstQuestao[i].QuestaoAnexo.Count > 0)
                        {
                            <div class="accordion">
                                <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                <div class="content">
                                    @foreach (var anexo in lstQuestao[i].QuestaoAnexo)
                                    {
                                        switch (anexo.CodTipoAnexo)
                                        {
                                            case 1:
                                                @Html.Partial("_AnexoImagem", anexo)
                                                break;
                                            default:
                                                break;
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                                    }
        </div>
    </div>
                                    }
