@model List<AvalAcademica>

@foreach (AvalAcademica acad in Model)
{
    <div class="card hidden" style="display:none!important">
        <div class="content">
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="header">
                Código: @acad.Avaliacao.CodAvaliacao
            </a>
            <div class="meta">
                <span title="@acad.Avaliacao.DtCadastro.ToBrazilianString()">@acad.Avaliacao.DtCadastro.ToElapsedTimeString()</span>
            </div>
            @if (acad.Avaliacao.FlagRealizada)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.ESTUDANTE)
                {
                    if (acad.AlunosRealizaram.Where(a => a.MatrAluno == Sessao.UsuarioMatricula).Count() > 0)
                    {
                        <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                    }
                    else
                    {
                        <span class="ui ribbon label"><i class="remove icon"></i>Ausente</span>
                    }
                }
                else
                {
                    <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                }
            }
            else
            {
                if (acad.Avaliacao.FlagArquivo)
                {
                    <span class="ui ribbon label"><i class="archive icon"></i>Arquivo</span>
                }
                else if (acad.Avaliacao.FlagAgendada)
                {
                    <span class="ui ribbon label"><i class="clock icon"></i>Agendada</span>
                }
            }
            <div class="description">
                @if (acad.NumTurma.HasValue)
                {
                <p><b>Turma</b>: @acad.Turma.Curso.Descricao (@acad.Turma.CodTurma)</p>
                }
                <p><b>Quantidade de Questões</b>: @acad.Avaliacao.QteQuestoes()</p>
            </div>
        </div>
        <div class="content">
            <div class="ui tag label">
                @acad.Disciplina.Descricao
            </div>
        </div>
        @if (acad.Avaliacao.FlagRealizada)
        {
            if (Sessao.UsuarioCategoriaCodigo == Categoria.ESTUDANTE)
            {
                if (acad.AlunosRealizaram.Where(a => a.MatrAluno == Sessao.UsuarioMatricula).Count() > 0)
                {
                    <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
                }
                else
                {
                    <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else
            {
                <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
            }
        }
        else
        {
            if (acad.Avaliacao.FlagArquivo)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
                {
                    <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else if (acad.Avaliacao.FlagAgendada)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
                {
                    <a href="@Url.Action("Agendada", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Aplicar</a>
                }
            }
            else if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
            {
                <div class="ui buttons">
                    <a href="@Url.Action("Configurar", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Configurar</a>
                    <a href="@Url.Action("Agendar", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
                </div>
            }

            if (Sessao.UsuarioCategoriaCodigo == Categoria.ESTUDANTE)
            {
                <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
            }
        }
    </div>
}
