@model List<AvalAcademica>

@foreach (AvalAcademica acad in Model)
{
    var dtCadastro = acad.Avaliacao.DtCadastro.ToElapsedTimeString();
    <div class="card hidden" style="display:none!important">
        <div class="content">
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="header">
                @acad.Disciplina.Descricao
            </a>
            <div class="meta">
                Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@acad.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            @if (acad.Avaliacao.FlagRealizada)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.ALUNO)
                {
                    if (acad.AlunosRealizaram.Where(a => a.MatrAluno == Sessao.UsuarioMatricula).Count() > 0)
                    {
                <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                    }
                    else
                    {
                <span class="ui ribbon label"><i class="remove icon"></i>Ausente</span>
                    }
                }
                else
                {
                <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
                }
            }
            else
            {
                if (acad.Avaliacao.FlagArquivo)
                {
                <span class="ui ribbon label"><i class="archive icon"></i>Arquivada</span>
                }
                else if (acad.Avaliacao.FlagAgendada)
                {
                <span class="ui ribbon label"><i class="clock icon"></i>Agendada</span>
                }
            }
            <div class="description">
                @if (acad.NumTurma.HasValue)
                {
                    <p><b>Turma</b>: @acad.Turma.Curso.Descricao (@acad.Turma.CodTurma)</p>
                }
                @if (acad.Avaliacao.Dificuldade != null)
                {
                    <p title="@acad.Avaliacao.Dificuldade.Comentario"><b>Índ. de Dificuldade</b>: @acad.Avaliacao.Dificuldade.Descricao</p>
                }
                <p><b>Quant. de Questões</b>: @acad.Avaliacao.Questao.Count</p>
            </div>
        </div>
        <div class="content">
            <div class="ui tag label">
                @acad.Avaliacao.CodAvaliacao
            </div>
        </div>
        @if (acad.Avaliacao.FlagRealizada)
        {
            if (Sessao.UsuarioCategoriaCodigo == Categoria.ALUNO)
            {
                if (acad.AlunosRealizaram.Where(a => a.MatrAluno == Sessao.UsuarioMatricula).Count() > 0)
                {
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
                }
                else
                {
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else
            {
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
            }
        }
        else
        {
            if (acad.Avaliacao.FlagArquivo)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
                {
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
                }
            }
            else if (acad.Avaliacao.FlagAgendada)
            {
                if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
                {
            <a href="@Url.Action("Agendada", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Aplicar</a>
                }
            }
            else if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
            {
            <div class="ui buttons">
                <a href="@Url.Action("Configurar", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Configurar</a>
                <a href="@Url.Action("Agendar", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
            </div>
            }

            if (Sessao.UsuarioCategoriaCodigo == Categoria.ALUNO)
            {
            <a href="@Url.Action("Detalhe", new { codigo = acad.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
            }
        }
    </div>
}