@model List<AvalAuto>

@foreach (AvalAuto autoavaliacao in Model)
{
    var dtCadastro = autoavaliacao.Avaliacao.DtCadastro.ToElapsedTimeString();
    <div class="card hidden" style="display:none!important" data-avaliacao="@autoavaliacao.Avaliacao.CodAvaliacao">
        <div class="content">
            <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="header">
                @autoavaliacao.Disciplina.First().Descricao @(autoavaliacao.Disciplina.Count > 1 ? "+" + (autoavaliacao.Disciplina.Count - 1) : "")
            </a>
            <div class="meta">
                Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@autoavaliacao.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            @if (autoavaliacao.Avaliacao.FlagPendente)
            {
                <span class="ui ribbon label"><i class="clock icon"></i>Pendente</span>
            }
            else if (autoavaliacao.Avaliacao.FlagArquivo)
            {
                <span class="ui ribbon label"><i class="archive icon"></i>Arquivada</span>
            }
            else if (autoavaliacao.Avaliacao.FlagRealizada)
            {
                <span class="ui ribbon label"><i class="checkmark icon"></i>Realizada</span>
            }
            <div class="description">
                <p title="@autoavaliacao.Dificuldade.Comentario"><b>Índ. de Dificuldade</b>: @autoavaliacao.Dificuldade.Descricao</p>
                <p><b>Quant. de Questões</b>: @autoavaliacao.Avaliacao.Questao.Count</p>
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag label">@autoavaliacao.Avaliacao.CodAvaliacao</div>
        </div>
        @if (autoavaliacao.Avaliacao.FlagPendente)
        {
            <div class="ui two buttons">
                <a class="ui arquivar button">Arquivar</a>
                <a href="@Url.Action("Realizar", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Realizar</a>
            </div>
        }
        else
        {
            if (autoavaliacao.Avaliacao.FlagArquivo)
            {
                <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Detalhe</a>
            }
            else
            {
                <a href="@Url.Action("Detalhe", new { codigo = autoavaliacao.Avaliacao.CodAvaliacao })" class="ui button">Desempenho</a>
            }
        }
    </div>
}