@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model GerenciaConfiguracoesViewModel

@{
    ViewBag.Title = "Configurações";
}

<h2>@ViewBag.Title</h2>

<div class="ui basic segment">
    <h4 class="ui dividing header">Envio de Email</h4>
    <form action="@Url.Action("Configuracoes")" method="post" class="ui form">
        <div class="field required">
            <label data-ajuda="">Endereço do Host</label>
            <input type="text" name="SmtpEnderecoHost" placeholder="Endereço do Host" maxlength="200" value="@Model.SmtpEnderecoHost" required />
        </div>
        <div class="field required">
            <label data-ajuda="">Porta</label>
            <input type="text" name="SmtpPorta" data-mask="0#" placeholder="Porta" value="@Model.SmtpPorta" required />
        </div>
        <div class="field required">
            <label data-ajuda="">Usuário da Credencial</label>
            <input type="text" name="SmtpUsuario" placeholder="Usuário da Credencial" maxlength="150" value="@Model.SmtpUsuario" required />
        </div>
        <div class="field required">
            <label data-ajuda="">Senha da Credencial</label>
            <input type="password" name="SmtpSenha" placeholder="Senha da Credencial" maxlength="150" value="@Model.SmtpSenha" required />
        </div>
        <div class="ui segment">
            <div class="inline field">
                <div class="ui slider checkbox">
                    @Html.CheckBox("SmptFlagSSL", Model.SmptFlagSSL)
                    <label data-ajuda="">Utilizar SSL</label>
                </div>
            </div>
        </div>
        <button type="submit" class="ui button">Salvar</button>
    </form>
</div>
<a class="ui button" href="@Url.Action("Index", "Gerencia")">Voltar para Gerência de Simulados</a>
