@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@{
    ViewBag.Title = "Dados Gerais";
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new AtalhoViewModel("Disciplinas", "cube", Url.Action("Disciplinas", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Professores", "user", Url.Action("Professores", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Blocos", "building outline", Url.Action("Blocos", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Salas", "marker", Url.Action("Salas", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Colaboradores", "users", Url.Action("Colaboradores", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Campi", "university", Url.Action("Campi", "Gerencia")))
    </div>
</div>

<a class="ui button" href="@Url.Action("Index", "Gerencia")">Voltar para Gerência de Simulados</a>