@{
    ViewBag.Title = "Dados Gerais";
}

<h2>@ViewBag.Title</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @Html.Partial("_Atalho", new AtalhoViewModel("Disciplinas", "cube", Url.Action("Disciplinas", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Professores", "user", Url.Action("Professores", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Blocos", "building outline", Url.Action("Blocos", "Gerencia")))
        @Html.Partial("_Atalho", new AtalhoViewModel("Salas", "marker", Url.Action("Salas", "Gerencia")))
    </div>
</div>

<a class="ui button" href="@Url.Action("Index", "Gerencia")">Voltar para Gerência de Simulados</a>