@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@{
    ViewBag.Title = "Gerência de Simulados";
}

<h2>
    @ViewBag.Title
    <a href="@Url.Action("Index", "Inscricao")" class="ui right floated button" target="_blank"><i class="external icon"></i> Abrir área pública</a>
</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @switch (Sessao.UsuarioCategoriaCodigo)
        {
            case Categoria.COLABORADOR:
                @Html.Partial("_Atalho", new AtalhoViewModel("Novo Simulado", "plus", Url.Action("Novo", "Simulado")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Arquivo de Simulados", "list", Url.Action("Index", "Arquivo")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Dados Gerais", "cogs", Url.Action("Dados", "Gerencia")))
                if (Sistema.UsuarioAtivo[Sessao.UsuarioMatricula].Usuario.CodOcupacao.ContainsOne(new[] { Ocupacao.COORDENADOR_SIMULADO, Ocupacao.SUPERUSUARIO, Ocupacao.REITOR, Ocupacao.DIRETOR_GERAL }))
                {
                    @Html.Partial("_Atalho", new AtalhoViewModel("Permissões", "users", Url.Action("Permissoes", "Gerencia")))
                    @Html.Partial("_Atalho", new AtalhoViewModel("Configurações", "configure", Url.Action("Configuracoes", "Gerencia")))
                }
                break;
            case Categoria.SUPERUSUARIO:
                @Html.Partial("_Atalho", new AtalhoViewModel("Dados Gerais", "cogs", Url.Action("Dados", "Gerencia")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Configurações", "configure", Url.Action("Configuracoes", "Gerencia")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Permissões", "users", Url.Action("Permissoes", "Gerencia")))
                break;
            case Categoria.PROFESSOR:
                @Html.Partial("_Atalho", new AtalhoViewModel("Provas Designadas", "copy", Url.Action("Provas", "Gerencia")))
                break;
            default:
                break;
        }
    </div>
</div>