@{
    ViewBag.Title = "Gerência de Simulados";
}

<h2>
    @ViewBag.Title
    <a href="@Url.Action("Index", "Inscricao")" class="ui right floated button" target="_blank"><i class="external icon"></i> Abrir área pública</a>
</h2>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Área de Simulados
    </div>
    <ul class="list">
        <li>Os ícones abaixo compõe as ações principais desta área.</li>
    </ul>
</div>

<div class="ui stackable grid dashmenu">
    <div class="stackable doubling four columns centered row">
        @switch (Sessao.UsuarioCategoriaCodigo)
        {
            case Categoria.COLABORADOR:
                @Html.Partial("_Atalho", new AtalhoViewModel("Novo Simulado", "plus", Url.Action("Novo", "Simulado")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Arquivo de Simulados", "list", Url.Action("Index", "Arquivo")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Dados Gerais", "cogs", Url.Action("Dados", "Gerencia")))
                if (Sistema.UsuarioAtivo[Sessao.UsuarioMatricula].Usuario.CodOcupacao.ContainsOne(new[] { Ocupacao.COORDENADOR_SIMULADO, Ocupacao.SUPERUSUARIO, Ocupacao.REITOR }))
                {
                    @Html.Partial("_Atalho", new AtalhoViewModel("Permissões", "users", Url.Action("Permissoes", "Gerencia")))
                    @Html.Partial("_Atalho", new AtalhoViewModel("Configurações", "configure", Url.Action("Configuracoes", "Gerencia")))
                }
                break;
            case Categoria.SUPERUSUARIO:
                @Html.Partial("_Atalho", new AtalhoViewModel("Dados Gerais", "cogs", Url.Action("Dados", "Gerencia")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Configurações", "configure", Url.Action("Configuracoes", "Gerencia")))
                @Html.Partial("_Atalho", new AtalhoViewModel("Permissões", "users", Url.Action("Permissoes", "Gerencia")))
                break;
            case Categoria.PROFESSOR:
                @Html.Partial("_Atalho", new AtalhoViewModel("Provas Designadas", "copy", Url.Action("Provas", "Gerencia")))
                break;
            default:
                break;
        }
    </div>
</div>