@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model GerenciaProvasViewModel

@{
    ViewBag.Title = "Provas Designadas";
}

<h2>@ViewBag.Title</h2>

@if (Model.Provas.Keys.Count > 0)
{
    foreach (var par in Model.Provas)
    {
        <h3 class="ui dividing header">@par.Key.Titulo</h3>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th class="eight wide">Prova</th>
                    <th class="two wide">Data da Realização</th>
                    <th class="two wide">Disciplina</th>
                    <th class="two wide">Quant. Questões</th>
                    <th class="two wide"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prova in par.Value)
                {
                    <tr>
                        <td>@prova.Titulo</td>
                        <td>@prova.SimDiaRealizacao.DtRealizacao.DiaRealizacaoRepresentacao()</td>
                        <td>@prova.Disciplina.Descricao</td>
                        <td>@prova.QteQuestoes</td>
                        <td><a data-simulado="@par.Key.Codigo" data-dia="@prova.CodDiaRealizacao" data-prova="@prova.CodProva" class="ui small abrir button"><i class="icon open folder"></i> Abrir</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
else
{
    <div class="ui message">
        <div class="header">
            Nenhuma prova foi designada para você
        </div>
        <p>Não há provas designadas para você e não realizadas.</p>
    </div>
}
<a class="ui button" href="@Url.Action("Index", "Gerencia")">Voltar para Gerência de Simulados</a>
<div class="ui prova large modal"></div>
@section Scripts {
    @Scripts.Render("~/bundles/js/gerencia")
}