@model QuestaoCadastrarViewModel

@{
    ViewBag.Title = "Cadastrar Questão";
}

<div class="ui pesquisa modal">
    <i class="icon close"></i>
    <div class="header">Pesquisar questão</div>
    <div class="content">
        <div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
            <div class="header">
                Ajuda
            </div>
            <ul class="list">
                <li>Esta área serve para você verificar se existe alguma questão igual a que você pretende cadastrar</li>
                <li>Insira as palavras-chave no campo abaixo e pressione <b>Enter</b> para separá-las</li>
                <li>O botão <b>Pesquisar</b> serve para inciar a pesquisa de questões baseada nas palavras-chave que você forneceu.</li>
                <li>O botão <b>Limpar</b> serve para limpar as palaavras-chave que foram inseridas.</li>
                <li>O botão <b>Fechar</b> serve para fechar a tela de pesquisa.</li>
                <li>Obs.: Evite usar termos genéricos como <i>e, para, quando, como, por que, etc...</i> nas palavras-chave</li>
            </ul>
        </div>
        <div class="ui form">
            <div class="field">
                <label>Palavras-chave</label>
                <select tabindex="0" class="ui search dropdown" multiple>
                    <option value="">Palavra-chave</option>
                </select>
            </div>
            <div class="field">
                <button tabindex="0" class="ui button limpar">Limpar</button>
                <button tabindex="0" class="ui button pesquisar">Pesquisar</button>
            </div>
        </div>
        <div class="ui shape">
            <div class="sides">
                <div class="active side">
                    <div class="ui basic segment">
                        <div id="divQuestoes" class="ui very relaxed items" style="max-height:20em; overflow-y:auto">
                        </div>
                    </div>
                </div>
                <div class="side">
                    <div class="ui basic questao segment loading" style="max-height:20em; overflow-y:auto">
                    </div>
                    <div class="ui voltar icon button"><i class="left arrow icon"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <a class="ui cancel button">Fechar</a>
    </div>
</div>

<div class="ui termo modal">
    <div class="header">@ViewBag.Title</div>
    <div class="content">
        <h3>Você está ciente do objetivo dessa funcionalidade?</h3>
        @Html.Raw(Model.Termo.ToHtml("p"))
    </div>
    <div class="actions">
        <a href="@Url.Action("Index", "Principal")" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<div class="ui confirmar modal">
    <div class="header">Verifique e confirme os dados fornecidos descritos abaixo</div>
    <div class="content">
        <div class="ui labels">
            <div class="ui label">
                Disciplina
                <div id="mdlDisciplina" class="detail"></div>
            </div>
            <div class="ui label">
                Índice de Dificuldade
                <div id="mdlDificuldade" class="detail"></div>
            </div>
            <span id="mdlTagTemas" class="ui tag labels"></span>
        </div>
        <div id="mdlEnunciado" class="ui dividing header" data-html=""></div>
        <div id="mdlListAlternativas" class="ui very relaxed list">
        </div>
        <div id="mdlChaveDeResposta" data-html="">
        </div>
        <br />
        <div id="mdlAccordionAnexos" class="ui styled fluid accordion">
            <div class="title"><i class="icon dropdown"></i>Anexos</div>
            <div class="content">
                <div id="mdlCardAnexos" class="ui cards">
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui form">
                <div class="field required">
                    <label>Prove que você não é uma máquina <i class="captcha icon blue refresh"></i></label>
                    <div class="ui small image">
                        <img id="imgCaptcha" class="image" src="data:image/png;base64,@Model.Captcha" />
                    </div>
                    <div class="ui icon input">
                        <input id="txtCaptcha" type="text" placeholder="Código...">
                        <i class="remove icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title <a id="btnPesquisa" class="ui right floated button"><i class="search icon"></i>Pesquisar</a></h2>

<form id="frmQuestao" action="@Url.Action("Confirmar")" method="post" class="ui form" enctype="multipart/form-data">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    <div class="ui top attached tabular menu">
        <div class="active item" data-tab="gerais">Gerais</div>
        <div class="item" data-tab="detalhes">Detalhes</div>
        <div class="item questao objetiva" data-tab="alternativas">Alternativas</div>
        <div class="item anexos" data-tab="anexos">Anexos</div>
    </div>
    @* Gerais da Questão *@
    <div class="ui bottom attached active tab segment" data-tab="gerais">
        <div class="field required">
            <label data-ajuda="Clique na caixa abaixo para escolher a disciplina.">Escolha a disciplina</label>
            <select id="ddlDisciplina" name="ddlDisciplina" class="ui search dropdown" required>
                <option value="">Disciplina</option>
                @foreach (var obj in Model.Disciplinas)
                {
                    <option value="@obj.CodDisciplina">@obj.Descricao</option>
                }
            </select>
        </div>
        <div class="field required">
            <label data-ajuda="Clique na caixa abaixo para selecionar o(s) tema(s).">Selecione o(s) tema(s)</label>
            <select id="ddlTema" name="ddlTema" multiple class="ui multiple search dropdown" required>
                <option value="">Tema</option>
            </select>
        </div>
        <div class="field required">
            <label data-ajuda="Clique na caixa abaixo para definir o índice de dificuldade.">Defina o índice de dificuldade</label>
            <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown" required>
                <option value="">Dificuldade</option>
                @foreach (var obj in Model.Dificuldades)
                {
                    <option value="@obj.CodDificuldade" title="@obj.Comentario">@obj.Descricao</option>
                }
            </select>
        </div>
        <div class="field required">
            <label data-ajuda="Clique na caixa abaixo para determinar o tipo da questão.">Determine o tipo</label>
            <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" required>
                <option value="">Tipo</option>
                @foreach (var obj in Model.Tipos)
                {
                    <option value="@obj.CodTipoQuestao">@obj.Descricao</option>
                }
            </select>
        </div>
        <div class="ui segment">
            <div class="field">
                <div class="ui toggle checkbox">
                    <input id="chkAnexos" name="chkAnexos" type="checkbox" tabindex="0" class="hidden">
                    <label data-ajuda="Clique neste botão para indicar se esta questão possuirá anexos ou não." for="chkAnexos">Esta questão possui anexos</label>
                </div>
            </div>
        </div>
    </div>
    @* Detalhes da Questão *@
    <div class="ui bottom attached tab segment" data-tab="detalhes">
        <div class="field required">
            <label data-ajuda="Forneça na caixa abaixo o enunciado da questão" for="txtEnunciado">Forneça o enunciado</label>
            <textarea id="txtEnunciado" name="txtEnunciado" rows="2" required placeholder="Enunciado..." maxlength="250"></textarea>
        </div>
        <div class="field">
            <label data-ajuda="Insira na caixa abaixo o objetivo da questão" for="txtObjetivo">Insira o objetivo</label>
            <textarea id="txtObjetivo" name="txtObjetivo" rows="2" placeholder="Objetivo..." maxlength="250"></textarea>
        </div>
        <div class="field required questao discursiva">
            <label data-ajuda="Preencher na caixa abaixo a chave de resposta que será utilizada como base de resposta correta para esta questão" for="txtChaveDeResposta">Preencha a chave de resposta</label>
            <textarea id="txtChaveDeResposta" name="txtChaveDeResposta" rows="2" placeholder="Chave de Resposta..."></textarea>
        </div>
        <div class="field questao discursiva">
            <label data-ajuda="Digite na caixa abaixo um comentário sobre esta questão" for="txtComentario">Digite um comentário</label>
            <textarea id="txtComentario" name="txtComentario" rows="2" placeholder="Comentário..." maxlength="250"></textarea>
        </div>
    </div>
    @* Alternativas da Questão *@
    <div class="ui bottom attached tab segment questao objetiva" data-tab="alternativas">
        <input id="txtQtdAlternativas" name="txtQtdAlternativas" type="number" hidden />
        <div class="ui adicionar button" style="float: right">Adicionar</div>
        <div class="ui alternativas fluid accordion">
        </div>
    </div>
    @* Anexos da Questão *@
    <div class="ui bottom attached tab segment anexos" data-tab="anexos">
        <input id="txtQtdAnexos" name="txtQtdAnexos" type="number" hidden />
        @* Anexos *@
        <div class="ui segment">
            <div class="field">
                <label data-ajuda="Clique na caixa abaixo para selecionar o tipo do anexo.">Selecione o tipo do anexo</label>
                <select id="ddlTiposAnexo" name="ddlTiposAnexo" class="ui dropdown">
                    <option value="">Tipo do Anexo</option>
                    @foreach (var obj in Model.TiposAnexo)
                    {
                        <option value="@obj.CodTipoAnexo">@obj.Descricao</option>
                    }
                </select>
            </div>
            <div class="field">
                <div class="ui adicionar button">Adicionar</div>
            </div>
        </div>
        <div class="ui anexos fluid accordion">
        </div>
    </div>
    <br />
    <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
    <div class="ui prosseguir button">Prosseguir</div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/js/questao")
}