@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<Visitante>
@foreach (var vis in Model)
{
    <tr>
        <td>
            @vis.Usuario.PessoaFisica.Nome
            <span class="ui label">@(vis.FlagAtivo ? "Ativo" : "Inativo" )</span>
        </td>
        <td>
            <time datetime="@vis.Usuario.DtCadastro.ToString()" title="@vis.Usuario.DtCadastro.ToBrazilianString()">
                @vis.Usuario.DtCadastro.ToElapsedTimeString()
            </time>
        </td>
        <td>
            <a href="@Url.Action("Detalhe", new { codigo = vis.MatrVisitante })" class="ui small button">
                Abrir
            </a>
        </td>
    </tr>
}
