
@{
    ViewBag.Title = "Agendar Avaliação Acadêmica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SIAC.Web.Models;
@section Scripts{
    <script>

        $('.ui.dropdown').dropdown();

        function listarTemas(codDisciplina) {
            var disciplinas = $('#ddlDisciplinas');
            var ddlTema = $('#ddlTema');
            $.ajax({
                type: 'GET',
                url: '@(Url.RouteUrl("RecuperarTemasPorCodDisciplinaTemQuestao"))',
                data: { 'codDisciplina': codDisciplina },
                success: function (data) {
                    ddlTema.html('');
                    ddlTema.val(ddlTema.prop('defaultSelected'));
                    $.each(data, function (id, item) {
                        ddlTema.append('<option value="' + item.CodTema + '">' + item.Descricao + '</option>');
                    });
                },
                error: function (xhr) {
                    alert(xhr.error);
                }
            });

        }

    </script>
}

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

<h2>@ViewBag.Title</h2>

<form id="frmAutoavaliacao" method="post" action="/Dashboard/Autoavaliacao/Confirmar" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Disciplinas *@
    <div class="field required">
        <label>Disciplina</label>
        <select id="ddlDisciplinas" name="ddlDisciplinas" class="ui search dropdown" onchange="listarTemas($(this).val())" required>
            <option value="">Disciplina</option>
            @foreach (var disc in ViewBag.Disciplinas)
            {
                <option value="@disc.CodDisciplina">@disc.Descricao</option>
            }
        </select>
    </div>
    @* Temas *@
    <div class="field required">
        <label>Tema (s)</label>
        <select id="ddlTema" class="ui search dropdown fluid tema" multiple required>
            <option value="">Temas...</option>
        </select>
    </div>
    @* Tipo das Questões *@
    <div class="field required">
        <label>Tipo das Questões</label>
        <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" onchange="OpcoesPorTipo()" required>
            <option value="">Tipo</option>
            <option value="2">Somente discursivas</option>
            <option value="1">Somente objetivas</option>
            <option value="3">Misto</option>
        </select>
    </div>
    @* Dificuldade das Questões *@
    <div class="field required">
        <label>Dificuldade das Questões</label>
        <select name="ddlDificuldade" class="ui search dropdown" required>
            <option value="">Dificuldade...</option>
            @foreach (Dificuldade d in ViewBag.Dificuldades)
            {
                <option value="@d.CodDificuldade">@d.Descricao</option>
            }
        </select>
    </div>
    @* Qte das Questões *@
    <div class="field"><label>Quantidade das Questões</label></div>
    <div class="two fields"> 
        <div class="field required">
            <label>Objetiva</label>
            <input name="QteQuestoesObjetivas" type="number" placeholder="Objetivas..." required />
        </div>
        <div class="field required">
            <label>Discursiva</label>
            <input name="QteQuestoesDiscursivas" type="number" placeholder="Discursivas..." required />
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='/Historico/Autoavaliacao' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div onclick="submitForm()" class="ui prosseguir button">Prosseguir</div>
    </div>
</form>