@model AvalCertificacao

@{
    ViewBag.Title = "Certificação Agendada";

    int codCategoria = Sessao.UsuarioCategoriaCodigo;
    bool flagAgora = Model.Avaliacao.FlagAgora;
    bool flagVencida = Model.Avaliacao.FlagVencida;
}

<h2>
    @ViewBag.Title
    @if (!flagVencida && !flagAgora)
    {
        <div class="ui label">
            @(codCategoria == Categoria.PROFESSOR ? "Restante" : "Aguarde")
            <div id="contagem" class="detail">@Model.Avaliacao.DtAplicacao.Value.ToLeftTimeString()</div>
        </div>
    }
    else if (flagVencida)
    {
        <div class="ui red label">
            <i class="warning icon"></i>Vencida
        </div>
    }
</h2>

<div class="ui basic segment" data-categoria="@codCategoria">
    <div class="ui fluid styled accordion">
        <div class="active title">
            <i class="dropdown icon"></i>Detalhes
        </div>
        <div class="active content">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Tema(s)</th>
                        <th>Quantidade</th>
                        <th>Dificuldade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Disciplina disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                    {
                        <tr>
                            <td>
                                <b>@disc.Descricao</b>
                            </td>
                            <td class="ui labels">
                                @foreach (AvaliacaoTema avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                                {
                                    <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                }
                            </td>
                            <td class="ui labels">
                                <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                            </td>
                            <td>
                                @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="title">
            <i class="dropdown icon"></i>Agendamento
        </div>
        <div class="content">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Quant. de Avaliados</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Sala</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.PessoaFisica.Count
                        </td>
                        <td>
                            @Model.Avaliacao.DtAplicacao.Value.ToString("ddd, dd/MM/yyyy")
                        </td>
                        <td>
                            Das @Model.Avaliacao.DtAplicacao.Value.ToShortTimeString() até @Model.Avaliacao.DtTermino.Value.ToShortTimeString()
                        </td>
                        <td>
                            @Model.Sala.Descricao
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        @if (codCategoria == Categoria.PROFESSOR)
        {
            <div class="title">
                <i class="dropdown icon"></i>Questões
            </div>
            <div class="content">
                <div class="ui one cards" style="max-height: 25em; overflow-y: auto">
                    @{
                        int contador = 0;
                    }
                    @foreach (Questao questao in Model.Avaliacao.Questao)
                    {
                        <div class="card">
                            <div class="content">
                                <div class="header" data-html="@( !String.IsNullOrWhiteSpace(questao.Objetivo) ? "<b>Objetivo</b>: " + questao.Objetivo : "")">
                                    @Html.Raw((contador.GetIndiceQuestao() + ". " + questao.Enunciado).ToHtml("p"))
                                </div>
                            </div>
                            <div class="content">
                                @if (questao.CodTipoQuestao == TipoQuestao.OBJETIVA)
                                {
                                    <div class="ui very relaxed list">
                                        @foreach (Alternativa alternativa in questao.Alternativa)
                                        {
                                            <div class="item" data-html="@(!String.IsNullOrWhiteSpace(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                                                <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                                @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                                                {
                                                    <a class="ui tiny green label">Correta</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div data-html="@(!String.IsNullOrWhiteSpace(questao.Comentario) ? "<b>Comentário</b>: " + questao.Comentario : "")">
                                        <a class="ui tiny green ribbon label">Chave de Resposta</a>
                                        @Html.Raw(questao.ChaveDeResposta.ToHtml("p", "i"))
                                    </div>
                                }
                            </div>
                            @if (questao.QuestaoAnexo.Count > 0)
                            {
                                <div class="extra content">
                                    <div class="accordion">
                                        <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                        <div class="content">
                                            @foreach (QuestaoAnexo anexo in questao.QuestaoAnexo)
                                            {
                                                @Html.Partial("_Anexo", anexo)
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        
                        contador++;                        
                    }
                </div>
            </div>
        }
    </div>

    @if (codCategoria == Categoria.ESTUDANTE)
    {
        if (!flagVencida && !Model.Avaliacao.FlagLiberada)
        {
            <div id="mensagem" class="ui header">
                <i class="clock icon"></i>
                <div class="content">
                    Seu professor não liberou a prova ainda
                    <div class="sub header">Aguarde a liberação da avaliação para iniciar</div>
                </div>
            </div>
        }
        else if (!flagVencida && Model.Avaliacao.FlagLiberada)
        {
            <div id="mensagem" class="ui header">
                <i class="checkmark icon"></i>
                <div class="content">
                    Seu professor liberou a prova
                    <div class="sub header">Você já pode iniciar assim que chegar a hora de aplicação</div>
                </div>
            </div>
        }
    }
</div>

@if (codCategoria == Categoria.PROFESSOR)
{
    if (!Sistema.AvaliacaoUsuario.ContainsKey(Model.Avaliacao.CodAvaliacao.ToLower()))
    {
        <a href="@Url.Action("Avaliacao", "Impressao", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Imprimir</a>
        <div class="ui arquivar button">Arquivar</div>
        <div onclick="window.location.href='@Url.Action("Agendar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui reagendar button" @(!Model.Avaliacao.FlagLiberada || !flagAgora ? "" : "style=\"display:none\"")>Reagendar</div>
    }

    if (!flagVencida)
    {
        if (!Model.Avaliacao.FlagLiberada)
        {
            if (!Sistema.AvaliacaoUsuario.ContainsKey(Model.Avaliacao.CodAvaliacao.ToLower()))
            {
                <a href="@Url.Action("Configurar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui configurar button" @(!flagAgora ? "" : "style=\"display:none\"")>Configurar</a>
                <div class="ui toggle liberar button">Liberar</div>
            }
        }
        else
        {
            <div class="ui toggle active liberar button">Liberada</div>
        }
        <div onclick="window.location.href= '@Url.Action("Acompanhar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui @(!flagAgora || (flagAgora && !Model.Avaliacao.FlagLiberada) ? "disabled" : "") acompanhar button">Acompanhar</div>
    }
}
else if (codCategoria == Categoria.ESTUDANTE)
{
    if (flagAgora)
    {
        <div onclick="window.location.href='@Url.Action("Realizar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui iniciar button">Iniciar</div>
    }
    else if (!flagVencida)
    {
        <div onclick="window.location.href ='@Url.Action("Realizar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui iniciar disabled button">Iniciar</div>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/js/certificacao")
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
}
