@model SIAC.ViewModels.AvaliacaoAgendarViewModel
@{
    ViewBag.Title = "Agendar Certificação";
}
<h2>
    @ViewBag.Title
    <div class="ui label">Disciplina:<div class="detail">@Model.Avaliacao.AvalCertificacao.Disciplina.Descricao</div></div>
    <div class="ui right floated informacoes button">
        Informações
    </div>
</h2>

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 3 } })

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

@Html.Partial("_AvaliacaoAgendar")

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}