@using SIAC.Models
@model AvalCertificacao
@{
    ViewBag.Title = "Configurar "+Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 data-avaliacao="@Model.Avaliacao.CodAvaliacao">
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
    <div class="ui right floated questoes button">Questões</div>
</h2>
@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 2 } })
@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

<div class="ui questoes modal">
    <div class="header">
        Questões Selecionadas
    </div>
    <div class="content">
        <div class="ui three cards">
            @foreach (Questao questao in Model.Avaliacao.Questao)
            {
                <div id="@questao.CodQuestao" class="card">
                    <div class="content">
                        <div class="header">@questao.Enunciado.ToShortString(140)</div>
                        <div class="meta"><span title="@questao.DtCadastro.ToBrazilianString()">@questao.DtCadastro.ToElapsedTimeString()</span></div>
                        <div class="description ui labels">
                            <span class="ui label">@questao.Disciplina.Descricao</span>
                            <span class="ui label">@questao.Dificuldade.Descricao</span>
                            <span class="ui tipo label">@questao.TipoQuestao.Descricao</span>
                        </div>
                    </div>
                    <div class="ui two bottom attached buttons">
                        <div class="ui detalhe button">Detalhes</div>
                        <div class="ui acao button">Remover</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="ui questao modal">
    <div class="header"></div>
    <div class="content">
        <div class="ui segment"></div>
    </div>
</div>

<h3>Seleção de Questão</h3>

<form class="ui form">
    <div class="ui fields">
        <div class="ui ten wide field required">
            <label>Tema(s)</label>
            <select id="ddlTemas" name="ddlTemas" class="ui search dropdown fluid tema" multiple required>
                <option value="">Temas...</option>
                @foreach (Tema t in Model.Avaliacao.Temas)
                {
                    <option value="@t.CodTema">@t.Descricao</option>
                }
            </select>
        </div>
        <div class="ui three wide field required">
            <label>Dificuldade</label>
            <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown fluid dificuldade" required>
                <option value="">Dificuldade...</option>
                @foreach (Dificuldade d in ViewBag.Dificuldades)
                {
                    if (d.CodDificuldade <= Model.Avaliacao.CodDificuldade)
                    {
                        <option value="@d.CodDificuldade">@d.Descricao</option>
                    }
                }
            </select>
        </div>
        <div class="ui three wide field required">
            <label>Tipo</label>
            <select id="ddlTipo" name="ddlTipo" class="ui search dropdown fluid dificuldade" required>
                <option value="">Tipo...</option>
                @foreach (TipoQuestao t in ViewBag.TiposQuestao)
                {
                    if (Model.Avaliacao.TipoQuestoes == t.CodTipoQuestao || Model.Avaliacao.TipoQuestoes == 3)
                    {
                        <option value="@t.CodTipoQuestao">@t.Descricao</option>
                    }
                }
            </select>
        </div>
    </div>
    <br />
    <div class="resultado sixteen wide column" style="max-height:500px;overflow-y:scroll;">
        <div class="ui basic segment">
            <div class="ui two stackable cards">
            </div>
        </div>
    </div>
    <br />
    <button type="submit" class="ui button">Salvar</button>
</form>

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}