@using SIAC.Models
@model AvalCertificacao
@{
    ViewBag.Title = "Configurar "+Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 data-avaliacao="@Model.Avaliacao.CodAvaliacao">
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

<div class="ui informacoes modal">
    <i class="icon close"></i>
    <div class="header">Informações sobre a avaliação</div>
    <div class="content">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @* Disciplina *@
                        <b>@Model.Disciplina.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @* Temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema)
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        @* Qte de Questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.CodDisciplina, 1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(Model.CodDisciplina, 2)</div></div>
                    </td>
                    <td>
                        @* Dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(Model.CodDisciplina)
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h3>Seleção de Questão</h3>

<form class="ui form">
    <div class="ui fields">
        <div class="ui ten wide field required">
            <label>Tema(s)</label>
            <select id="ddlTemas" name="ddlTemas" class="ui search dropdown fluid tema" multiple required>
                <option value="">Temas...</option>
                @foreach (Tema t in Model.Avaliacao.Temas)
                {
                    <option value="@t.CodTema">@t.Descricao</option>
                }
            </select>
        </div>
        <div class="ui three wide field required">
            <label>Dificuldade</label>
            <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown fluid dificuldade" required>
                <option value="">Dificuldade...</option>
                @foreach( Dificuldade d in ViewBag.Dificuldades)
                {
                    <option value="@d.CodDificuldade">@d.Descricao</option>
                }
            </select>
        </div>
        <div class="ui three wide field required">
            <label>Tipo</label>
            <select id="ddlTipo" name="ddlTipo" class="ui search dropdown fluid dificuldade" required>
                <option value="">Tipo...</option>
                @foreach (TipoQuestao t in ViewBag.TiposQuestao)
                {
                    <option value="@t.CodTipoQuestao">@t.Descricao</option>
                }
            </select>
        </div>
    </div>
</form>

<div class="questoes sixteen wide column">
    <div class="ui basic segment">
        <div class="ui two stackable cards">
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}