@model AvalCertificacao
@{
    ViewBag.Title = "Certificação " + Model.Avaliacao.CodAvaliacao;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var LstQuestao = Model.Avaliacao.Questao;
    var LstResposta = Model.Avaliacao.PessoaResposta;
    var LstResultado = Model.Avaliacao.AvalPessoaResultado;
    var FlagProfessor = Sessao.UsuarioMatricula == Model.Professor.MatrProfessor;
}

<h2>
    @ViewBag.Title
    @if (Model.Avaliacao.FlagRealizada)
    {
        if (!FlagProfessor)
        {
            if (Model.PessoasRealizaram.Where(a => a.CodPessoa == Usuario.ObterPessoaFisica(Sessao.UsuarioMatricula)).Count() > 0)
            {
                <span class="ui label"><i class="checkmark icon"></i>Realizada</span>
            }
            else
            {
                <span class="ui label"><i class="remove icon"></i>Ausente</span>
            }
        }
        else
        {
            <span class="ui label"><i class="checkmark icon"></i>Realizada</span>
        }
    }
    @if (FlagProfessor && Model.Avaliacao.FlagCorrecaoPendente)
    {
        <a href="@Url.Action("Corrigir", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui right floated corrigir button">
            Corrigir
        </a>
    }
</h2>

<div class="ui basic segment">
    <div class="ui dividing header">
        Detalhes
    </div>
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Tema(s)</th>
                <th>Quantidade</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
            {
                <tr>
                    <td>
                        @* disciplina *@
                        <b>@disc.Descricao</b>
                    </td>
                    <td class="ui labels">
                        @* temas *@
                        @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                        {
                            <div class="ui tag label">@avalTema.Tema.Descricao</div>
                        }
                    </td>
                    <td class="ui labels">
                        @* qte de questões *@
                        <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 1)</div></div>
                        <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, 2)</div></div>
                    </td>
                    <td>
                        @* dificuldade *@
                        @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Avaliacao.FlagAgendada)
{
    <div class="ui basic segment">
        <div class="ui dividing header">
            Agendamento
        </div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Quant. de Avaliados</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Sala</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.PessoaFisica.Count
                    </td>
                    <td>
                        @* Data *@
                        @Model.Avaliacao.DtAplicacao.Value.ToShortDateString()
                    </td>
                    <td>
                        @* Horário *@
                        Das @Model.Avaliacao.DtAplicacao.Value.ToShortTimeString() até @Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value).ToShortTimeString()
                    </td>
                    <td>
                        @* Sala *@
                        @Model.Sala.Descricao
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
else if (Model.Avaliacao.FlagRealizada)
{
    if (FlagProfessor)
    {
        <div class="ui basic segment">
            <div class="ui dividing header">
                Desempenho
            </div>
            <div class="ui statistics">
                <div class="statistic">
                    <div class="value">@LstResultado.Where(r => r.Nota == 0).Count()</div>
                    <div class="label">Nota mínima</div>
                </div>
                <div class="statistic">
                    <div class="value">@LstResultado.Where(r => r.Nota == 10).Count()</div>
                    <div class="label">Nota máxima</div>
                </div>
                <div class="statistic">
                    <div class="value">@LstResultado.Where(r => r.Nota >= Parametro.Obter().ValorNotaMedia).Count()</div>
                    <div class="label">Acima da média</div>
                </div>
                <div class="statistic">
                    <div class="value">@LstResultado.Where(r => r.Nota < Parametro.Obter().ValorNotaMedia).Count()</div>
                    <div class="label">Abaixo da média</div>
                </div>
                <div class="statistic">
                    <div class="value">@LstResultado.Average(r => r.Nota).Value.ToString("0.0")</div>
                    <div class="label">Nota média</div>
                </div>
            </div>
        </div>
        <div class="ui basic segment">
            <div class="ui dividing header">
                Resultados
            </div>
            <div class="ui accordion">
                @for (int i = 0, length = LstQuestao.Count; i < length; i++)
                {
                    var lstResposta = LstResposta
                        .Where(r => r.CodQuestao == LstQuestao[i].CodQuestao);

                    <div class="title">
                        <i class="dropdown icon"></i>
                        @((i.GetIndiceQuestao() + ". " + LstQuestao[i].Enunciado).ToShortString(80))
                    </div>
                    <div id="@LstQuestao[i].CodQuestao" class="questao content">
                        <div class="ui segment">
                            <div class="ui dividing header" style="text-align:justify">
                                @Html.Raw((i.GetIndiceQuestao() + ". " + LstQuestao[i].Enunciado).ToHtml("p"))
                            </div>
                            @if (LstQuestao[i].CodTipoQuestao == 1)
                            {
                                <div class="ui stackable grid">
                                    <div class="twelve wide column">
                                        <div class="ui relaxed list">
                                            @foreach (var alternativa in LstQuestao[i].Alternativa)
                                            {
                                                <div class="item">
                                                    <div class="middle aligned content">
                                                        <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                                        @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                                                        {
                                                            <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Correta</a>
                                                        }
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                        @if (LstQuestao[i].QuestaoAnexo.Count > 0)
                                        {
                                            <div class="accordion">
                                                <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                                <div class="content">
                                                    @foreach (var anexo in LstQuestao[i].QuestaoAnexo)
                                                    {
                                                        @Html.Partial("_Anexo", anexo)
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                    <div class="four wide column" style="text-align:center">
                                        <canvas style="display:inline" width="200" height="200"></canvas>
                                    </div>
                                </div>

                                <code class="dados" hidden>@Html.Raw(LstQuestao[i].ToJsonChart(lstResposta.ToList()))</code>
                            }
                            else if (LstQuestao[i].CodTipoQuestao == 2)
                            {
                                <div class="ui stackable grid">
                                    <div class="twelve wide column">
                                        <div>
                                            <a data-html="@(("<b>Comentário</b>: " + LstQuestao[i].Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui ribbon label">Chave de Resposta</a>
                                            @Html.Raw(LstQuestao[i].ChaveDeResposta.ToHtml("p", "i"))
                                        </div>
                                    </div>
                                    <div class="four wide column" style="text-align:center">
                                        @{
                                            var media = lstResposta.Average(r => r.RespNota);
                                        }
                                        <div class="ui statistic" style="display:inline">
                                            <div class="value">
                                                @(media != null ? media.Value.ToString("0.0") : "0")
                                            </div>
                                            <div class="label">
                                                Nota Média
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="ui basic segment">
            <div class="ui dividing header">
                Individual
            </div>
            <div class="ui form">
                <div class="field inline">
                    <label>Aluno</label>
                    <select class="ui search aluno dropdown">
                        <option value="">Selecione</option>
                        @foreach (var pessoa in Model.PessoasRealizaram)
                        {
                            <option value="@pessoa.CodPessoa">@pessoa.Nome</option>
                        }
                    </select>
                </div>
            </div>
            <div class="partial"></div>
        </div>
    }
    else if (DateTime.Now < Model.Avaliacao.DtAplicacao.Value.AddMinutes(Model.Avaliacao.Duracao.Value))
    {
        <div class="ui message">
            <p>Você poderá conferir seu resultado assim que o tempo de aplicação da prova acabar.</p>
        </div>
    }
    else
    {
        int codPessoaFisica = Usuario.ObterPessoaFisica(Sessao.UsuarioMatricula);
        var lstPessoaResposta = LstResposta.Where(p => p.CodPessoaFisica == codPessoaFisica).ToList();
        var avalPessoaResultado = Model.Avaliacao.AvalPessoaResultado.FirstOrDefault(r => r.CodPessoaFisica == codPessoaFisica);
        int qteAcerto = lstPessoaResposta.Where(p => p.RespNota.HasValue && p.RespNota.Value == 10).Count();
        var percent = qteAcerto / LstQuestao.Count;
        if (avalPessoaResultado != null)
        {
            <div class="ui basic segment">
                <div class="ui dividing header">
                    Desempenho
                </div>
                <div class="ui statistics">
                    <div class="statistic">
                        <div class="value">
                            @((((double)qteAcerto / (double)LstQuestao.Count) * 100).ToString("0.##'%'"))
                        </div>
                        <div class="label">
                            Porcentagem de Acerto
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="value">
                            @qteAcerto/@LstQuestao.Count
                        </div>
                        <div class="label">
                            Quantidade de Acerto
                        </div>
                    </div>
                    <div class="statistic @(avalPessoaResultado.Nota.Value >= Parametro.Obter().ValorNotaMedia ? "green" : "red")">
                        <div class="value">
                            @avalPessoaResultado.Nota.Value.ToString("0.0")
                        </div>
                        <div class="label">
                            Nota @(lstPessoaResposta.Where(r => !r.RespNota.HasValue).Count() == 0 ? "" : "Parcial")
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui basic segment">
                <div class="ui dividing header">
                    Resultado
                </div>
                <div class="ui accordion">
                    @for (int i = 0; i < LstQuestao.Count; i++)
                    {
                        var resposta = lstPessoaResposta.First(r => r.CodQuestao == LstQuestao[i].CodQuestao);
                        <div class="title">
                            <i class="dropdown icon"></i>@((i.GetIndiceQuestao() + ". " + LstQuestao[i].Enunciado).ToShortString(80))
                            @if (LstQuestao[i].CodTipoQuestao == 1)
                            {
                                var correta = LstQuestao[i].Alternativa.Single(a => a.FlagGabarito.HasValue && a.FlagGabarito.Value);
                                <div class="ui @(resposta.RespAlternativa == correta.CodOrdem ? "green" : "red" ) label">@(resposta.RespAlternativa == correta.CodOrdem ? Html.Raw("<i class=\"checkmark icon\"></i>Correta") : Html.Raw("<i class=\"remove icon\"></i>Incorreta") )</div>
                            }
                            else if (resposta.RespNota.HasValue)
                            {
                                <div data-html="@(("<b>Observação</b>: " + resposta.ProfObservacao).Replace("\n", "<br>"))" data-variation="very wide" class="ui @(resposta.RespNota.Value > Parametro.Obter().ValorNotaMedia ? "green" : "red" ) label"><i class="icon write"></i><div class="detail">@resposta.RespNota.Value.ToString("0.0")</div></div>
                            }
                        </div>
                        <div class="content">
                            <div class="ui segment">
                                <div class="ui dividing header" style="text-align:justify">
                                    @Html.Raw((i.GetIndiceQuestao() + ". " + LstQuestao[i].Enunciado).ToHtml("p"))
                                </div>
                                @if (LstQuestao[i].CodTipoQuestao == 1)
                                {
                                    <div class="ui list">
                                        @foreach (var alternativa in LstQuestao[i].Alternativa)
                                        {
                                            <div class="item">
                                                <div class="middle aligned content">
                                                    <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                                    @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                                                    {
                                                        <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Correta</a>
                                                    }
                                                    @if (alternativa.CodOrdem == resposta.RespAlternativa)
                                                    {
                                                        <a data-html="@(("<b>Comentário</b>: " + alternativa.Comentario).Replace("\n", "<br>"))" data-variation="very wide" class="ui tag label">Marcada</a>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <a class="ui ribbon label" data-html="@(("<b>Chave de Resposta</b>: "+LstQuestao[i].ChaveDeResposta).Replace("\n", "<br>"))" data-variation="very wide">Resposta</a>
                                        @Html.Raw(resposta.RespDiscursiva.ToHtml("p", "i"))
                                    </div>
                                }
                                @if (LstQuestao[i].QuestaoAnexo.Count > 0)
                                {
                                    <div class="accordion">
                                        <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                        <div class="content">
                                            @foreach (var anexo in LstQuestao[i].QuestaoAnexo)
                                            {
                                                @Html.Partial("_Anexo", anexo)
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
}
<a href="@Url.Action("Index")" class="ui button">Histórico</a>
@if (FlagProfessor)
{
    if (Model.Avaliacao.FlagArquivo || !Model.Avaliacao.FlagRealizada)
    {
        <div class="ui arquivar toggle @(Model.Avaliacao.FlagArquivo ? "active" : "") button">Arquiva@(Model.Avaliacao.FlagArquivo ? "da" : "r")</div>
        if (!Model.Avaliacao.FlagArquivo)
        {
            <a href="@Url.Action("Configurar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Configurar</a>
        }
    }
    if (!Model.Avaliacao.FlagArquivo)
    {
        <a href="@Url.Action("Avaliacao", "Impressao", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Imprimir</a>
    }
}
@if (FlagProfessor && Model.Avaliacao.FlagPendente)
{
    <a href="@Url.Action("Agendar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">@(Model.Avaliacao.FlagAgendada ? "Reagendar" : "Agendar")</a>
}
@if (Model.Avaliacao.FlagAgendada)
{
    <a href="@Url.Action("Agendada", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">@(FlagProfessor ? "Aplicar" : "Realizar" )</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/js/certificacao")
    @Scripts.Render("~/bundles/chart")
}