@model AvaliacaoGerarViewModel

@{
    ViewBag.Title = "Gerar avaliação de certificação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2> 

<div class="ui termo modal">
    <div class="header">Você está ciente de...</div>
    <div class="content">
        @{
            var termo = Model.Termo.Split('\n', '\r');
            foreach (var str in termo)
            {
                if (!String.IsNullOrWhiteSpace(str))
                {
                    <p>@str</p>
                }
            }
        }
    </div>
    <div class="actions">
        <a href="@Url.Action("Index", "Dashboard")" class="ui cancel button">Cancelar</a>
        <div class="ui approve button">Sim, continuar</div>
    </div>
</div>

<div class="ui confirmar modal">
    <div class="header">Verificação e confirmação</div>
    <div class="content">
        <table class="ui very basic table">
            <thead>
                <tr>
                    <th>Disciplina</th>
                    <th>Tema(s)</th>
                    <th>Quantidade</th>
                    <th>Dificuldade</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui negative button">Voltar</div>
        <div class="ui positive button">Confirmar</div>
    </div>
</div>

@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 1 } })

<form id="frmAutoavaliacao" method="post" action="@Url.Action("Confirmar")" class="ui form">
    <div class="ui error message">
        <div class="header">Verifique</div>
        <ul class="list"></ul>
    </div>
    @* Disciplinas *@
    <div class="field required">
        <label>Disciplina</label>
        <select id="ddlDisciplina" name="ddlDisciplina" class="ui search dropdown" required>
            <option value="">Disciplina</option>
            @foreach (var disc in Model.Disciplinas)
            {
                <option value="@disc.CodDisciplina">@disc.Descricao</option>
            }
        </select>
    </div>
    @* Temas *@
    <div class="field required">
        <label>Tema (s)</label>
        <select id="ddlTemas" name="ddlTemas" class="ui search dropdown fluid tema" multiple required>
            <option value="">Temas...</option>
        </select>
    </div>
    @* Tipo das Questões *@
    <div class="field required">
        <label>Tipo das Questões</label>
        <select id="ddlTipo" name="ddlTipo" class="ui search dropdown" required>
            <option value="">Tipo</option>
            <option value="2">Somente discursivas</option>
            <option value="1">Somente objetivas</option>
            <option value="3">Misto</option>
        </select>
    </div>
    @* Dificuldade das Questões *@
    <div class="field required">
        <label>Dificuldade das Questões</label>
        <select id="ddlDificuldade" name="ddlDificuldade" class="ui search dropdown" required>
            <option value="">Dificuldade...</option>
            @foreach (Dificuldade d in Model.Dificuldades)
            {
                <option value="@d.CodDificuldade">@d.Descricao</option>
            }
        </select>
    </div>
    @* Qte das Questões *@
    <div class="field"><label>Quantidade das Questões</label></div>
    <div class="two fields">
        <div class="field required">
            <label>Objetiva</label>
            <input id="txtQteObjetiva" name="txtQteObjetiva" data-mask="0#" type="number" placeholder="Quantidade..." required />
        </div>
        <div class="field required">
            <label>Discursiva</label>
            <input id="txtQteDiscursiva" name="txtQteDiscursiva" data-mask="0#" type="number" placeholder="Quantidade..." required />
        </div>
    </div>
    <div class="field">
        <div data-html="<div class='header'>Tem certeza?</div><div class='content'><p>Você perderá todos os dados</p><a href='@Url.Action("Index")' class='ui small button'>Sim, cancelar</a></div>" class="ui cancelar button">Cancelar</div>
        <div class="ui prosseguir button">Prosseguir</div>
    </div>
</form>

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}