@model AvalCertificacao

@{
    ViewBag.Title = "Selecionar Pessoas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @ViewBag.Title
    <div class="ui right floated informacoes button">
        Informações
    </div>
</h2>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)
@Html.Partial("_PassoAPasso", new ViewDataDictionary() { { "Passo", 4 } })

@if (Model.PessoaFisica.Count > 0)
{
    // modal para indicar que as pessoas selecionadas serão
    // substituídas por essas que serão cadastradas agora
    <div class="ui small continuar modal">
        <div class="header">
            Você tem certeza?
        </div>
        <div class="content">
            <p>
                Caso você continue, as pessoas selecionadas anteriormente
                serão automáticamente substituídas pelas que você selecionará.
            </p>
            <p>
                <b>Essa ação não poderá ser desfeita.</b>
            </p>
        </div>
        <div class="actions">
            <a href="@Url.Action("Detalhe", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui negative button">Cancelar</a>
            <div class="ui approve positive button">Continuar</div>
        </div>
    </div>
}

<div class="ui confirmar modal">
    <div class="header">
        Verificar e confirmar
    </div>
    <div class="content">

    </div>
    <div class="actions">
        <div class="ui cancel button">Voltar</div>
        <div class="ui approve button">Confirmar</div>
    </div>
</div>

<div class="ui segment">
    <div class="ui form">
        <div class="fields">
            <div class="four wide field">
                <label>Filtro</label>
                <select id="ddlFiltro" name="ddlFiltro" class="ui dropdown">
                    <option value="">Filtro</option>
                    <option value="1">Pessoa</option>
                    <option value="2">Turma</option>
                    <option value="3">Curso</option>
                    <option value="4">Diretoria</option>
                    <option value="5">Campus</option>
                    <option value="6">Reitoria</option>
                    <option value="7">Instituição</option>
                </select>
            </div>
            <div class="twelve wide field">
                <label>Buscar</label>
                <div class="ui search">
                    <div class="ui icon input">
                        <input class="prompt" type="text" placeholder="Buscar...">
                        <i class="search icon"></i>
                    </div>
                    <div class="results"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui right floated disabled selecionar button">Selecionar</div>
        </div>
        <br />
    </div>
</div>

<div class="ui basic segment">
    <table class="ui table">
        <thead>
            <tr>
                <th>Selecionados</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<div class="ui cancelar button">Cancelar</div>
<div class="ui popup">
    <div class="header">Tem certeza?</div>
    <div class="content">
        Essa ação não poderá ser desfeita.
        <a href="@Url.Action("Index")" class="ui small button">Sim, cancelar</a>
    </div>
</div>
<div class="ui salvar button">Salvar</div>

@section Scripts{
    @Scripts.Render("~/bundles/js/certificacao")
}