@model List<Simulado>

@foreach (Simulado simulado in Model)
{
    string dtCadastro = simulado.DtCadastro.ToElapsedTimeString();
    <div class="card">
        <div class="content">
            <a href="@Url.Action("Detalhe", "Simulado", new { codigo = simulado.Codigo })" class="header">
                @simulado.Titulo
            </a>
            <div class="meta">
                Cadastrado @(dtCadastro.Contains("/") ? "em" : "há") <time datetime="@(simulado.DtInicioInscricao?.ToHtmlDateTimeString())">@dtCadastro</time>
            </div>
            <div class="description">
                @if (String.IsNullOrWhiteSpace(simulado.Descricao))
                {
                    <p><b>Início das Inscrições</b>: @(simulado.DtInicioInscricao?.ToString("dd/MM/yyyy") ?? "Não definido")</p>
                    <p><b>Término das Inscrições</b>: @(simulado.DtTerminoInscricao?.ToString("dd/MM/yyyy") ?? "Não definido")</p>
                    <p><b>Primeiro Dia de Provas</b>: @(simulado.PrimeiroDiaRealizacao?.DtRealizacao.DiaRealizacaoRepresentacao() ?? "Não definido")</p>
                }
                else {
                    @Html.Raw(simulado.Descricao.ToShortString(140).ToHtml("p"))
                }
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag label">@simulado.Codigo</div>
        </div>
        <a href="@Url.Action("Detalhe", "Simulado", new { codigo = simulado.Codigo })" class="ui detalhe button"><i class="folder open icon"></i>Abrir</a>
    </div>
}
