@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<Simulado>

@foreach (var simulado in Model)
{
    string dtCadastro = simulado.DtCadastro.ToElapsedTimeString();
    <div class="card">
        <div class="content">
            <a href="@Url.Action("Detalhe", "Simulado", new { codigo = simulado.Codigo })" class="header">
                @simulado.Titulo
            </a>
            <div class="meta">
                Cadastrado @(dtCadastro.Contains("/") ? "em" : "há") <time datetime="@(simulado.DtInicioInscricao?.ToHtmlDateTimeString())">@dtCadastro</time>
            </div>
            <div class="description">
                @if (String.IsNullOrWhiteSpace(simulado.Descricao))
                {
                    <p><b>Início das Inscrições</b>: @(simulado.DtInicioInscricao?.ToString("dd/MM/yyyy") ?? "Não definido")</p>
                    <p><b>Término das Inscrições</b>: @(simulado.DtTerminoInscricao?.ToString("dd/MM/yyyy") ?? "Não definido")</p>
                    <p><b>Primeiro Dia de Provas</b>: @(simulado.PrimeiroDiaRealizacao?.DtRealizacao.DiaRealizacaoRepresentacao() ?? "Não definido")</p>
                }
                else {
                    @Html.Raw(simulado.Descricao.ToShortString(140).ToHtml("p"))
                }
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag label">@simulado.Codigo</div>
        </div>
        <a href="@Url.Action("Detalhe", "Simulado", new { codigo = simulado.Codigo })" class="ui detalhe button"><i class="folder open icon"></i>Abrir</a>
    </div>
}
