@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<UsuarioOpiniao>
@foreach (var opiniao in Model)
{
    <tr>
        <td>
            <time datetime="@(opiniao.DtEnvio?.ToString())" title="@(opiniao.DtEnvio?.ToBrazilianString())">
                @(opiniao.DtEnvio?.ToElapsedTimeString())
            </time>
        </td>
        <td data-usuario="@opiniao.Usuario.PessoaFisica.Nome" data-matricula="@opiniao.Matricula">
            @opiniao.Usuario.PessoaFisica.PrimeiroNome
        </td>
        <td data-opiniao="@(opiniao.Opiniao.ToHtml("p"))">
            @opiniao.Opiniao.ToShortString(50)
        </td>
        <td>
            <div class="ui small button">
                Abrir
            </div>
        </td>
    </tr>
}
