@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model List<AvalAvi>

@foreach (var avi in Model)
{
    string dtCadastro = @avi.Avaliacao.DtCadastro.ToElapsedTimeString();
    <div class="card hidden" style="display:none!important" data-avi="@avi.Avaliacao.CodAvaliacao">
        <div class="ui dimmer">
            <div class="ui text loader">Carregando</div>
        </div>
        <div class="content">
            <a href="@Url.Action("Detalhe",new { codigo = avi.Avaliacao.CodAvaliacao })" class="header">
                @avi.Titulo.ToShortString(80)
            </a>
            <div class="meta">
                Gerada @(dtCadastro.Contains('/') ? "em" : "há") <span title="@avi.Avaliacao.DtCadastro.ToBrazilianString()">@dtCadastro</span>
            </div>
            @if (Sessao.UsuarioCategoriaCodigo == Categoria.COLABORADOR)
            {
                if (!avi.FlagQuestionario)
                {
                    <span class="ui ribbon label"><i class="certificate icon"></i>Gerada</span>
                }
                else if (!avi.FlagPublico)
                {
                    <span class="ui ribbon label"><i class="list icon"></i>Preenchida</span>
                }
                else if (!avi.FlagAgendada)
                {
                    <span class="ui ribbon label"><i class="users icon"></i>Destinada</span>
                }
                else if (!avi.FlagAndamento && !avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="wait icon"></i>Configurada</span>
                }
                else if (!avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="write icon"></i>Andamento</span>
                }
                else if (avi.FlagConcluida)
                {
                    <span class="ui ribbon label"><i class="checkmark icon"></i>Concluída</span>
                }
            }
            <div class="description">
                @if (avi.FlagQuestionario)
                {
                    <p><b>Quant. de Questões</b>: @avi.QteQuestoes</p>
                }
                @if (avi.FlagAgendada)
                {
                    <p><b>Início</b>: @avi.Avaliacao.DtAplicacao.Value.ToString("dd/MM/yyyy")</p>
                    <p><b>Término</b>: @avi.DtTermino.Value.ToString("dd/MM/yyyy")</p>
                }
            </div>
        </div>
        <div class="extra content">
            <div class="ui tag label">@avi.Avaliacao.CodAvaliacao</div>
        </div>
        @if (Sessao.UsuarioCategoriaCodigo == Categoria.COLABORADOR)
        {
            <div class="ui buttons">
                @if (!avi.FlagQuestionario)
                {
                    <a href="@Url.Action("Questionario", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Questionário</a>
                }
                else if (!avi.FlagPublico)
                {
                    <a href="@Url.Action("Questionario", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Questionário</a>
                    <a href="@Url.Action("Publico", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Público-alvo</a>
                }
                else if (!avi.FlagAgendada)
                {
                    <a href="@Url.Action("Questionario", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Questionário</a>
                    <a href="@Url.Action("Agendar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
                }
                else if (!avi.FlagAndamento && !avi.FlagConcluida)
                {
                    <a href="@Url.Action("Questionario", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Questionário</a>
                    <a href="@Url.Action("Agendar", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Agendar</a>
                }
                else if (!avi.FlagConcluida)
                {
                    <a href="@Url.Action("Resultado", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
                }
                else if (avi.FlagConcluida)
                {
                    <a href="@Url.Action("Resultado", new { codigo = avi.Avaliacao.CodAvaliacao })" class="ui button">Resultados</a>
                }
            </div>
        }
    </div>
}

