@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalAcadReposicao

@{
    ViewBag.Title = "Acompanhar Reposição";

    // String html do gabarito para todos os alunos
    string gabarito = "<table style='border:0!important' class=\"ui unstackable table\"><tbody><tr class='ui circular labels'>";
    for (int i = 0, count = Model.Avaliacao.Questao.Count, linebreak = 5, countPerRow = 5; i < count; i++)
    {
        if (i == linebreak)
        {
            gabarito += "</tr><tr class='ui circular labels'>";
            linebreak += countPerRow;
        }
        gabarito += "<td style='padding: 5px!important;box-sizing:border-box;' class='ui label' data-questao=\"" + Model.Avaliacao.Questao[i].CodQuestao + "\">" + i.GetIndiceQuestao() + "</td>";
    }
    gabarito += "</tr></tbody></table>";
}

@section Styles {
    <style>
        .feed {
            max-height: 10em;
            overflow-y: auto;
        }

        .printscreen.modal .content {
            height: 55vh;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
        }
    </style>
}

<h2 data-usuario="@Sessao.UsuarioMatricula">
    @ViewBag.Title
    <div class="ui trigger right floated button">
        Alertar Todos
    </div>
    <div class="ui special popup">
        <div class='ui content form'>
            <div class='field'>
                <label>Mensagem</label>
                <textarea placeholder='Mensagem...'></textarea>
            </div>
            <div class='ui small alertar button'>Enviar</div>
        </div>
    </div>
</h2>
<div class="ui printscreen fullscreen modal">
    <i class="icon close"></i>
    <div class="header"></div>
    <div class="image content">
        <img class="image" id="imgProva" />
    </div>
    <div class="actions">
        <div class="ui cancel button">Fechar</div>
        <a href="" target="_blank" class="ui nova guia button">Abrir em Nova Guia</a>
    </div>
</div>

<div class="ui prorrogar small modal">
    <div class="header">Prorrogar Avaliação</div>
    <div class="content">
        <div class="ui form">
            <div class="field required">
                <label for="txtProrrogarDuracao">Insira a duração da prorrogação (em minutos)</label>
                <input type="text" data-mask="#0" id="txtProrrogarDuracao" placeholder="Duração" />
            </div>
            <div class="field">
                <label for="txtProrrogarObservacao">Digite uma observação</label>
                <textarea maxlength="255" id="txtProrrogarObservacao" placeholder="Observação"></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui cancel button">Cancelar</div>
        <div class="ui approve button">Prorrogar</div>
    </div>
</div>

<div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
    <div class="header">
        Ajuda
    </div>
    <ul class="list">
        <li>Aqui em Acompanhar você poderá visualizar e interagir em tempo real com os alunos que estão realizando esta avaliação</li>
        <li>O botão <b>Alertar Todos</b> serve para enviar uma mensagem à todos os avaliados, em tempo real.</li>
        <li>O botão <b>Ver Prova</b> serve para obter uma imagem em tempo real da tela de avaliação do aluno</li>
        <li>O botão <b>Alertar</b> serve para enviar uma mensagem à um aluno específico, em tempo real.</li>
        <li>O botão <i class="table icon"></i> serve para visualizar o gabarito preenchido pelo aluno</li>
        <li>O botão <i class="comments outline icon"></i> serve para abrir uma tela de conversa privada entre você e o avaliado</li>
        <li>O ícone <a class="ui mini empty circular label"></a> indica que o aluno <b>não</b> está realizando esta avaliação no momento</li>
        <li>O ícone <a class="ui mini green empty circular label"></a> indica que o aluno está realizando esta avaliação no momento</li>
    </ul>
</div>

<div class="ui labels">
    <div class="ui label">Acadêmica<div class="detail">@Model.Academica.Avaliacao.CodAvaliacao</div></div>
    <div class="ui label">Disciplina<div class="detail">@Model.Disciplina.Descricao</div></div>
    <div class="ui label">Início<div class="detail">@Model.Avaliacao.DtAplicacao.Value.ToString("HH'h'mm'min'")</div></div>
    <div class="ui label">Término<div class="detail" id="lblHoraTermino" data-termino="@Model.Avaliacao.DtTermino.Value.ToJSString()">@Model.Avaliacao.DtTermino.Value.ToString("HH'h'mm'min'")</div></div>
</div>

<div class="ui basic segment">
    <div class="ui accordion">
        @foreach (var aluno in Model.Alunos.OrderBy(a => a.Usuario.PessoaFisica.Nome))
        {
            <div id="@aluno.MatrAluno" class="title">
                <i class="dropdown icon" style="float:right"></i>
                <div class="ui status mini empty circular label"></div>
                <b class="nome">@aluno.Usuario.PessoaFisica.Nome</b> @aluno.MatrAluno
            </div>
            <div id="@aluno.MatrAluno" class="content">
                <div class="ui progress active" data-total="@Model.Avaliacao.Questao.Count">
                    <div class="bar"><div class="progress"></div></div>
                </div>
                <div class="ui small feed">
                    <h4 class="ui header">Atividade</h4>
                </div>
                <div class="ui disabled prova button">Ver Prova</div>
                <div class="ui disabled trigger button">Alertar</div>
                <div class="ui special popup">
                    <div class='ui content form'>
                        <div class='field'>
                            <label>Mensagem</label>
                            <textarea placeholder='Mensagem...'></textarea>
                        </div>
                        <div class='ui small alertar button'>Enviar</div>
                    </div>
                </div>

                <div class="ui disabled trigger icon right floated chat button"><i class="icon comments outline"></i></div>
                <div class="ui chat popup wide">
                    <div class="header">
                        @aluno.Usuario.PessoaFisica.PrimeiroNome
                    </div>
                    <div class="content">
                        <div class="ui comments" style="height: 200px;width:300px; overflow-y:scroll;">
                        </div>
                        <div class="ui icon fluid input">
                            <input autofocus id="@(aluno.MatrAluno)msg" type="text" placeholder="Aperte enter para enviar..." maxlength="500" />
                            <i class="send link icon enviar"></i>
                        </div>
                    </div>
                </div>

                <div class="ui disabled trigger icon right floated gabarito button"><i class="icon table"></i></div>
                <div class="ui gabarito popup wide" data-position="top right">
                    <div class="header">
                        Gabarito
                    </div>
                    <div class="content">
                        @Html.Raw(gabarito)
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<a class="ui button" href="@Url.Action("Agendada")">Voltar</a>
<div class="ui right floated prorrogar icon labeled button">Prorrogar <i class="icon time"></i></div>

@section Scripts{
    @Scripts.Render("~/bundles/js/reposicao")
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
}
