@*
This file is part of SIAC.

Copyright (C) 2016 Felipe Mateus Freire Pontes <felipemfpontes@gmail.com>
Copyright (C) 2016 Francisco Bento da Silva Júnior <francisco.bento.jr@hotmail.com>

SIAC is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
*@
@model AvalAcadReposicao

@{
    ViewBag.Title = "Reposição Agendada";

    int codCategoria = Sessao.UsuarioCategoriaCodigo;
    bool flagAgora = Model.Avaliacao.FlagAgora;
    bool flagVencida = Model.Avaliacao.FlagVencida;
    int contador = 0;
}

<h2>
    @ViewBag.Title
    @if (!flagVencida && !flagAgora)
    {
        <div class="ui label">
            @(codCategoria == Categoria.PROFESSOR ? "Restante" : "Aguarde")
            <div id="contagem" class="detail">@Model.Avaliacao.DtAplicacao.Value.ToLeftTimeString()</div>
        </div>
    }
    else if (flagVencida)
    {
        <div class="ui red label">
            <i class="warning icon"></i>Vencida
        </div>
    }
</h2>

@if (Sessao.UsuarioCategoriaCodigo == Categoria.PROFESSOR)
{
    <div class="ui info message @((Sessao.AjudaEstado)?"":"hidden")" data-ajuda-mensagem>
        <div class="header">
            Ajuda
        </div>
        <ul class="list">
            <li>Aqui você poderá visualizar, além dos dados de sua avaliação, liberar a mesma para os alunos a realizarem.</li>
            <li>O botão <b>Imprimir</b> serve para abrir a tela de impressão de avaliação onde você poderá imprimir sua avaliação e aplicar em sala de aula.</li>
            <li>O botão <b>Arquivar</b> serve para arquivar sua avaliação deixando-a em estado de espera para você tomar ações quando for de seu desejo.</li>
            <li>O botão <b>Reagendar</b> serve para abrir a tela de agendamento em que você poderá redefinir uma nova data para aplicação de avaliação.</li>
            @if (!Model.Avaliacao.FlagVencida)
            {
                <li>O botão <b>Configurar Questões</b> serve para abrir a tela de configuração de avaliação na qual você poderá substituir as questões desta avaliação de reposição.</li>
                if (!Model.Avaliacao.FlagLiberada)
                {
                    <li>O botão <b>Liberar</b> serve para você liberar esta avaliação pros seus alunos.</li>
                }
                <li>O botão <b>Acompanhar</b> serve para abrir a tela de acompanhando onde você poderá ver, em tempo real, a situaçõo de todos os alunos que estão realizando essa avaliação no momento</li>
            }
        </ul>
    </div>
}

<div class="ui basic segment" data-categoria="@codCategoria">
    <div class="ui fluid styled accordion">
        <div class="active title"><i class="dropdown icon"></i>Detalhes</div>
        <div class="active content">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Tema(s)</th>
                        <th>Quantidade(s)</th>
                        <th>Índice de Dificuldade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var disc in Model.Avaliacao.AvaliacaoTema.Select(a => a.Tema.Disciplina).Distinct().ToList())
                    {
                        <tr>
                            <td>
                                @* disciplina *@
                                <b>@disc.Descricao</b>
                            </td>
                            <td class="ui labels">
                                @* temas *@
                                @foreach (var avalTema in Model.Avaliacao.AvaliacaoTema.Where(a => a.Tema.CodDisciplina == disc.CodDisciplina))
                                {
                                    <div class="ui tag label">@avalTema.Tema.Descricao</div>
                                }
                            </td>
                            <td class="ui labels">
                                @* qte de questões *@
                                <div class="ui label">Objetiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.OBJETIVA)</div></div>
                                <div class="ui label">Discursiva<div class="detail">@Model.Avaliacao.AvaliacaoTema.ToList().QteQuestoesPorTipo(disc.CodDisciplina, TipoQuestao.DISCURSIVA)</div></div>
                            </td>
                            <td>
                                @* dificuldade *@
                                @Model.Avaliacao.AvaliacaoTema.ToList().MaxDificuldade(disc.CodDisciplina)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="title"><i class="dropdown icon"></i>Agendamento</div>
        <div class="content">
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Quant. de Alunos</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th>Sala</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.Justificacao.Count
                        </td>
                        <td>
                            @* Data *@
                            @Model.Avaliacao.DtAplicacao.Value.ToString("ddd, dd/MM/yyyy", new System.Globalization.CultureInfo("pt-BR"))
                        </td>
                        <td>
                            @* Horário *@
                            Das @Model.Avaliacao.DtAplicacao.Value.ToShortTimeString() até @Model.Avaliacao.DtTermino.Value.ToShortTimeString()
                        </td>
                        <td>
                            @* Sala *@
                            @Model.Sala.Descricao
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="title"><i class="dropdown icon"></i>Alunos</div>
        <div class="content">
            <div class="ui one cards" style="max-height: 25em; overflow-y: auto">
                <table class="ui striped table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Matrícula</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var aluno in Model.Alunos.OrderBy(a => a.Usuario.PessoaFisica.Nome))
                        {
                            <tr>
                                <td>
                                    @aluno.Usuario.PessoaFisica.Nome
                                </td>
                                <td>
                                    @aluno.Usuario.Matricula
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (codCategoria == Categoria.PROFESSOR)
        {
            <div class="title"><i class="dropdown icon"></i>Questões</div>
            <div class="content">
                <div class="ui one cards" style="max-height: 25em; overflow-y: auto">
                    @foreach (var questao in Model.Avaliacao.Questao)
                    {
                        <div class="card">
                            <div class="content">
                                <div class="header" data-html="@( !String.IsNullOrWhiteSpace(questao.Objetivo) ? "<b>Objetivo</b>: " + questao.Objetivo : "")">
                                    @Html.Raw((contador.GetIndiceQuestao() + ". " + questao.Enunciado).ToHtml("p"))
                                </div>
                            </div>
                            <div class="content">
                                @if (questao.CodTipoQuestao == TipoQuestao.OBJETIVA)
                                {
                                    <div class="ui very relaxed list">
                                        @foreach (var alternativa in questao.Alternativa)
                                        {
                                            <div class="item" data-html="@(!String.IsNullOrWhiteSpace(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                                                <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                                                @if (alternativa.FlagGabarito)
                                                {
                                                    <a class="ui tiny green label">Correta</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div data-html="@(!String.IsNullOrWhiteSpace(questao.Comentario) ? "<b>Comentário</b>: " + questao.Comentario : "")">
                                        <a class="ui tiny green ribbon label">Chave de Resposta</a>
                                        @Html.Raw(questao.ChaveDeResposta.ToHtml("p", "i"))
                                    </div>
                                }
                            </div>
                            @if (questao.QuestaoAnexo.Count > 0)
                            {
                                <div class="extra content">
                                    <div class="accordion">
                                        <div class="title"><i class="icon dropdown"></i>Anexos</div>
                                        <div class="content">
                                            @foreach (var anexo in questao.QuestaoAnexo)
                                            {
                                                @Html.Partial("_Anexo", anexo)
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        contador++;
                    }
                </div>
            </div>
        }
    </div>
    @if (codCategoria == Categoria.ALUNO)
    {
        if (!flagVencida && !Model.Avaliacao.FlagLiberada)
        {
            <div id="mensagem" class="ui header">
                <i class="clock icon"></i>
                <div class="content">
                    Seu professor não liberou a prova ainda
                    <div class="sub header">Aguarde a liberação da avaliação para iniciar</div>
                </div>
            </div>
        }
        else if (!flagVencida && Model.Avaliacao.FlagLiberada)
        {
            <div id="mensagem" class="ui header">
                <i class="checkmark icon"></i>
                <div class="content">
                    Seu professor liberou a prova
                    <div class="sub header">Você já pode iniciar assim que chegar a hora de aplicação</div>
                </div>
            </div>
        }
    }
</div>
<a href="@Url.Action("Index")" class="ui button">Voltar</a>
@if (codCategoria == Categoria.PROFESSOR)
{

    if (!Sistema.AvaliacaoUsuario.ContainsKey(Model.Avaliacao.CodAvaliacao.ToLower()))
    {
        <a href="@Url.Action("Avaliacao", "Impressao", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui button">Imprimir</a>
        <div class="ui arquivar button">Arquivar</div>
        <div onclick="window.location.href='@Url.Action("Agendar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui reagendar button" @(!Model.Avaliacao.FlagLiberada || !flagAgora ? "" : "style=\"display:none\"")>Reagendar</div>
    }

    if (!flagVencida)
    {
        if (!Model.Avaliacao.FlagLiberada)
        {
            if (!Sistema.AvaliacaoUsuario.ContainsKey(Model.Avaliacao.CodAvaliacao.ToLower()))
            {
                <a href="@Url.Action("Configurar", new { codigo = Model.Avaliacao.CodAvaliacao })" class="ui configurar button" @(!flagAgora ? "" : "style=\"display:none\"")>Configurar Questões</a>
                <div class="ui toggle liberar button">Liberar</div>
            }
        }
        else
        {
            <div class="ui toggle active liberar button">Liberada</div>
        }
        <div onclick="window.location.href= '@Url.Action("Acompanhar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui @(!flagAgora || (flagAgora && !Model.Avaliacao.FlagLiberada) ? "disabled" : "") acompanhar button">Acompanhar</div>
    }
}
else if (codCategoria == Categoria.ALUNO)
{
    if (flagAgora)
    {
        <div onclick="window.location.href='@Url.Action("Realizar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui iniciar button">Iniciar</div>
    }
    else if (!flagVencida)
    {
        <div onclick="window.location.href ='@Url.Action("Realizar", new { codigo = Model.Avaliacao.CodAvaliacao })'" class="ui iniciar disabled button">Iniciar</div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/js/reposicao", "~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
}