@model AvalAcadReposicao

@{
    ViewBag.Title = "Realizar Reposição";
}

@section Styles {
    <style>
        .ui.fixed.sticky + form {
            margin-top: 68px;
        }
    </style>
}

<h2 data-usuario="@Sessao.UsuarioMatricula">
    @ViewBag.Title
    <div class="ui right floated informacoes button">Informações</div>
</h2>

@Html.Partial("_AvaliacaoInformacoes", Model.Avaliacao)

@Html.Partial("_AvaliacaoRealizar", Model.Avaliacao)

@section Scripts{
    @Scripts.Render("~/bundles/js/reposicao", "~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
}
