@{
    ViewBag.Title = "Agendamentos";
}

@section Styles {
    @Styles.Render("~/bundles/fullcalendar/css") 
    @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" media=\"print\"/>", "~/bundles/fullcalendar/css/print")  
}

<h2>@ViewBag.Title</h2>

<div class="ui basic agenda segment">
    <div class="ui inverted dimmer">
        <div class="ui text loader">Carregando</div>
    </div>
    <div id="calendar"></div>
</div>
<a href="@Url.Action("Index", "Principal")" class="ui button">Voltar</a>
@section Scripts{
    @Scripts.Render("~/bundles/fullcalendar/js", "~/bundles/js/agenda")
}
