@model SimDiaRealizacao
@{
    List<SimProva> provas = Model.SimProva.ToList();
}

<i class="icon close"></i>
<div class="header">
    Provas para o Dia "@Model.DtRealizacao.DiaRealizacaoRepresentacao()"
</div>
<div class="content">
    <table class="ui striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Título</th>
                <th>Disciplina</th>
                <th>Prof. Responsável</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0, length = provas.Count; i < length; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>
                        @provas[i].Titulo
                        <div class="ui small label">@provas[i].QteQuestoes Questões</div>
                    </td>
                    <td>@provas[i].Disciplina.Descricao</td>
                    <td>
                        @if (provas[i].Professor != null)
                        {
                            @provas[i].Professor.Usuario.PessoaFisica.PrimeiroNome

                        }
                        else
                        {
                            <text>Não Definido</text>
                        }
                    </td>
                    <td>
                        <a data-prova="@provas[i].CodProva" class="ui editar tiny button"><i class="edit icon"></i>Editar</a>
                        <a data-prova="@provas[i].CodProva" class="ui remover tiny button"><i class="trash icon"></i>Remover</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
<div class="actions">
    <div class="ui novo prova button">Nova Prova</div>
    <div class="ui cancel button">Fechar</div>
</div>
