@model SimProva

@{
    List<Questao> questoes = Model.SimProvaQuestao.Select(p => p.Questao).OrderBy(q => q.CodQuestao).ToList();
    var gabaritoPartial = Html.Partial("_ImprimirCartaoRespostaGabarito", questoes);
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cartão-Resposta - SIAC Simulados</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    <style>
        html, body {
            font-size: 12px;
        }

        table > thead > tr > th {
            text-transform: uppercase;
        }

        table td, table th {
            padding: 0.35em 0.2em !important;
        }

            table td.collapsing {
                font-weight: bolder;
            }

        .gabarito.list .item {
            height: 18px;
            width: 18px;
            font-size: 10px !important;
            /*line-height: 12px;*/
            margin-left: 0.2em !important;
            text-align: center !important;
            border-radius: 50%;
            border: 1px black solid;
        }

        .break-page {
            margin:0;
            border:0;
            padding:0;
            width:0;
            height:0;
            -webkit-break-before: always;
            break-before: always;
            page-break-before: always;
        }
    </style>
</head>
<body>
    @foreach (var candidato in Model.SimDiaRealizacao.Simulado.SimCandidato)
    {
        <h2>
            CARTÃO-RESPOSTA
            <small style="float:right">
                Dia: @Model.SimDiaRealizacao.DtRealizacao.DiaRealizacaoRepresentacao()
                &nbsp;|&nbsp;
                Prova: @Model.Titulo
            </small>
        </h2>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th class="">Nome Completo</th>
                    <th class="collapsing">Número do CPF</th>
                    <th class="collapsing">Número de Inscrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@candidato.Candidato.Nome</td>
                    <td>@Formate.ParaCPF(candidato.Candidato.Cpf)</td>
                    <td class="right aligned">@candidato.NumInscricaoRepresentacao</td>
                </tr>
            </tbody>
        </table>
        <div class="ui divider"></div>
        @gabaritoPartial
        <div class="ui divider"></div>
        <div class="ui form">
            <div class="field">
                <label>Assinatura</label>
                <input />
            </div>
        </div>
        <div class="break-page"></div>
    }    
    <script>
        var focused = false;
        window.print();
        focused = true;
        var interval = setInterval(function () {
            if (focused === true) {
                clearInterval(interval);
                window.close();
            }
        }, 300);
    </script>
</body>
</html>