@model SimProva

@{
    List<Questao> questoes = Model.SimProvaQuestao.Select(p => p.Questao).OrderBy(q => q.CodQuestao).ToList();
    int pontoDeQuebra = questoes.Count <= 15 ? 15 : questoes.Count / 2 <= 15 ? questoes.Count / 2 : questoes.Count / 4;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Cartão Resposta - SIAC Simulados</title>
    <link href="~/Resources/images/layout/logo-black.png" rel="shortcut icon" />
    @Styles.Render("~/bundles/css")
    <style>
        html, body {
            font-size: 12px;
        }

        table > thead > tr > th {
            text-transform: capitalize;
        }

        table td {
            padding: 0.5em 0.2em !important;
        }

            table td .circular .label {
                margin-bottom: 0 !important;
            }

            table td.collapsing {
                font-weight: bolder;
            }
    </style>
</head>
<body>
    <div class="ui center aligned inverted segment">
        <h2>
            @Model.SimDiaRealizacao.Simulado.Titulo
            <br>
            <small>
                Dia: @Model.SimDiaRealizacao.DtRealizacao.DiaRealizacaoRepresentacao()
                &nbsp;|&nbsp;
                Prova: @Model.Titulo
            </small>
        </h2>
    </div>
    <div class="ui grid">
        <div class="doubling four column row">
            <div class="column">
                <table class="ui striped celled table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Questão/Alternativas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in questoes.Take(pontoDeQuebra).Select((questao, i) => new { i, questao }))
                        {
                            <tr>
                                <td class="right aligned collapsing">
                                    @item.i.GetIndiceQuestao()
                                </td>
                                <td>
                                    <div class="ui circular small labels">
                                        @foreach (var alternativa in item.questao.Alternativa.OrderBy(a => a.CodOrdem))
                                        {
                                            <div class="ui label">@alternativa.CodOrdem.GetIndiceAlternativa()</div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Questão/Alternativas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in questoes.Skip(pontoDeQuebra).Take(pontoDeQuebra).Select((questao, i) => new { i = i + pontoDeQuebra, questao }))
                        {
                            <tr>
                                <td class="right aligned collapsing">
                                    @item.i.GetIndiceQuestao()
                                </td>
                                <td>
                                    <div class="ui circular small labels">
                                        @foreach (var alternativa in item.questao.Alternativa.OrderBy(a => a.CodOrdem))
                                        {
                                            <div class="ui label">@alternativa.CodOrdem.GetIndiceAlternativa()</div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Questão/Alternativas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in questoes.Skip(pontoDeQuebra * 2).Take(pontoDeQuebra).Select((questao, i) => new { i = i + (pontoDeQuebra * 2), questao }))
                        {
                            <tr>
                                <td class="right aligned collapsing">
                                    @item.i.GetIndiceQuestao()
                                </td>
                                <td>
                                    <div class="ui circular small labels">
                                        @foreach (var alternativa in item.questao.Alternativa.OrderBy(a => a.CodOrdem))
                                        {
                                            <div class="ui label">@alternativa.CodOrdem.GetIndiceAlternativa()</div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                Questão/Alternativas
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in questoes.Skip(pontoDeQuebra * 3).Take(pontoDeQuebra).Select((questao, i) => new { i = i + (pontoDeQuebra * 3), questao }))
                        {
                            <tr>
                                <td class="right aligned collapsing">
                                    @item.i.GetIndiceQuestao()
                                </td>
                                <td>
                                    <div class="ui circular small labels">
                                        @foreach (var alternativa in item.questao.Alternativa.OrderBy(a => a.CodOrdem))
                                        {
                                            <div class="ui label">@alternativa.CodOrdem.GetIndiceAlternativa()</div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        var focused = false;
        window.print();
        focused = true;
        var interval = setInterval(function () {
            if (focused === true) {
                clearInterval(interval);
                window.close();
            }
        }, 300);
    </script>
</body>
</html>