@model SimuladoProvaViewModel

<form action="@Url.Action("EditarProva", new { codigo = Model.Simulado.Codigo, codDia = Model.Prova.CodDiaRealizacao, codProva = Model.Prova.CodProva })" method="post" class="ui editar prova modal">
    <i class="icon close"></i>
    <div class="header">
        Editar Prova "@Model.Prova.Titulo"
    </div>
    <div class="content">
        <div class="ui form">
            <div class="two fields">
                <div class="field required">
                    <label>Disciplina</label>
                    <select name="ddlDisciplina" class="ui fluid search dropdown" required">
                        <option value="">Disciplina</option>
                        @foreach (Disciplina d in Model.Disciplinas)
                        {
                            <option @(Model.Prova.CodDisciplina == d.CodDisciplina ? "selected" : "" ) value="@d.CodDisciplina">@d.Descricao</option>
                        }
                    </select>
                </div>
                <div class="field required">
                    <label>Quantidade de Questões</label>
                    <input type="number" name="txtQteQuestoes" placeholder="Quantidade de Questões" value="@Model.Prova.QteQuestoes" required />
                </div>
            </div>
            <div class="field required">
                <label data-ajuda="Forneça na caixa abaixo o título">Forneça o título</label>
                <input id="txtTitulo" name="txtTitulo" maxlength="250" placeholder="Título" value="@Model.Prova.Titulo" required />
            </div>
            <div class="field">
                <label data-ajuda="Descreva no espaço abaixo uma descrição para este simulado">Insira uma descrição</label>
                <textarea id="txtDescricao" name="txtDescricao" rows="5" placeholder="Descrição">@Model.Prova.Descricao</textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <input type="reset" value="Cancelar" class="ui cancel button" />
        <input type="submit" value="Editar" class="ui approve button" />
    </div>
</form>