@model Questao

<div class="ui labels">
    <div class="ui label">
        Disciplina
        <div class="detail">
            @Model.QuestaoTema.ElementAt(0).Tema.Disciplina.Descricao
        </div>
    </div>
    <div class="ui label" data-html="@( !String.IsNullOrWhiteSpace(Model.Dificuldade.Comentario) ? "<b>Comentário</b>: "+Model.Dificuldade.Comentario : "" )">
        Dificuldade
        <div class="detail">
            @Model.Dificuldade.Descricao
        </div>
    </div>
    @foreach (QuestaoTema questaoTema in Model.QuestaoTema)
    {
        <div class="ui tag label" data-html="@( !String.IsNullOrWhiteSpace(questaoTema.Tema.Comentario) ? "<b>Comentário</b>: "+questaoTema.Tema.Comentario : "" )">@questaoTema.Tema.Descricao</div>
    }
</div>
<div class="ui dividing header" data-html="@( !String.IsNullOrWhiteSpace(Model.Objetivo) ? "<b>Objetivo</b>: " + Model.Objetivo : "")">
    @Html.Raw(Model.Enunciado.ToHtml("p"))
</div>
@if (Model.CodTipoQuestao == TipoQuestao.OBJETIVA)
{
    <div class="ui very relaxed list">
        @foreach (Alternativa alternativa in Model.Alternativa)
        {
            <div class="item" data-html="@(!String.IsNullOrWhiteSpace(alternativa.Comentario) ? "<b>Comentário</b>: " + alternativa.Comentario : "")">
                <b>@alternativa.CodOrdem.GetIndiceAlternativa()</b>) @alternativa.Enunciado
                @if (alternativa.FlagGabarito.HasValue && alternativa.FlagGabarito.Value)
                {
                    <a class="ui green label">Correta</a>
                }
            </div>
        }
    </div>
}
else
{
    <div data-html="@(!String.IsNullOrWhiteSpace(Model.Comentario) ? "<b>Comentário</b>: " + Model.Comentario : "")">
        <a class="ui green ribbon label">Chave de Resposta</a>
        @Html.Raw(Model.ChaveDeResposta.ToHtml("p", "i"))
    </div>
}
@if (Model.QuestaoAnexo.Count > 0)
{
    <br />
    <div class="ui styled fluid accordion">
        <div class="title"><i class="icon dropdown"></i>Anexos</div>
        <div class="content">
            <div class="ui cards">
                @foreach (QuestaoAnexo anexo in Model.QuestaoAnexo)
                {
                    @Html.Partial("_Anexo", anexo)
                }
            </div>
        </div>
    </div>
}
